.hardware-hero
  padding: 100px 0 50px
  background: #F4F8FE
  .hardware-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    gap: 100px
    max-width: 1440px
    padding: 0 20px
    margin: 0 auto
    position: relative
    .hardware-hero-text
      display: flex
      flex-direction: column
      gap: 32px
      h1
        font-size: 56px
        font-weight: 600
        line-height: 72px
      p
        font-size: 16px
        font-weight: 400
        line-height: 28px
    .hardware-hero-banner
      position: relative
      padding: 116px 32px 32px 32px
      border-radius: 12px
      background: #FFF
      box-shadow: -4px 15px 50px -20px rgba(0, 0, 0, 0.15), 0px 0px 8px 0px rgba(0, 0, 0, 0.08)
      display: flex
      flex-direction: column
      gap: 16px
      width: 300px
      p
        font-size: 24px
        font-weight: 500
        line-height: 36px
      a
        font-size: 16px
        font-weight: 400
        line-height: 28px
        color: #2A7DEC
        display: inline-block
        padding: 10px 24px
        border-radius: 6px
        border: 1px solid #2A7DEC
        background: #FFF
        transition: ease-in-out 0.3s
        &:hover
          color: #FFF
          background: #2A7DEC
      img
        position: absolute
        top: 0