---
title: Partners on hardware area
---

<!Doctype html>
<html id="partners">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="users">
	<main>
		<div class="intro">
			<h1>ThingsBoard Hardware Partners</h1>
            <div class="hardware-desc">
                <p class="hardware-desc-text">
                    Hardware Partnership Program goal is to reduce time to market for ThingsBoard based solutions.
                </p>
                <p class="hardware-desc-text">
                    Together with Hardware Partners we simplify implementation of the most challenging IoT projects by providing a rich set of integration tutorials, typical use cases and best practices.
                </p>
            </div>
			<p align="center" style="margin: 0">
				<a class="button" href="/partners/hardware/program/">Apply for Hardware Partner Program</a>
			</p>
		</div>
		<div class="filter">
			<div class="filter-content">
				Filter
				<div class="actions">
					<div onclick="actions('main')" class="check-box main checked">All connections</div>
					<div onclick="actions('bluetooth')" class="check-box bluetooth">Bluetooth LE</div>
					<div onclick="actions('gsm')" class="check-box gsm">GSM/GPRS</div>
					<div onclick="actions('lora')" class="check-box lora">LoRaWAN</div>
					<div onclick="actions('lte')" class="check-box lte">LTE-M</div>
					<div onclick="actions('modbus')" class="check-box modbus">Modbus</div>
					<div onclick="actions('bacnet')" class="check-box bacnet">Bacnet</div>
					<div onclick="actions('nbiot')" class="check-box nbiot">NB-IoT</div>
					<div onclick="actions('sigfox')" class="check-box sigfox">Sigfox</div>
					<div onclick="actions('catm')" class="check-box catm">CAT-M/NB</div>
					<div onclick="actions('wifi')" class="check-box wifi">Wi-Fi</div>
					<div onclick="actions('ethernet')" class="check-box ethernet">Ethernet</div>
				</div>
				<div class="filter-spacer"></div>
			</div>
		</div>
		<div id="hardwareContainer">
		</div>
	</main>
</section>

<div class="background"><img src="/images/partners/hardware-map.svg" alt="hardware map"><div class="fill"></div></div>

{% include footer.html %}
{% include case-study-styles.html %}

<style>
	{% include partner-style.css %}
</style>

<script>
	{% include partner-script.js type="hardware"
        containerId="hardwareContainer" %}
</script>

<script>
	window.onload = rengen();
</script>

<script>
	jqueryDefer(function () {
		$(window).scroll(function() {
			var height = $(window).scrollTop();
			var navPosition = $('.intro').height() + $('#hero').height() + 240 - $('.filter-spacer').height();
			if(height > navPosition){
				$('div.filter').addClass('nav-fixed');
				$('#hardwareContainer').addClass('customer-spacer');
			} else{
				$('div.filter').removeClass('nav-fixed');
				$('#hardwareContainer').removeClass('customer-spacer');
			}
		});
	});
</script>

{% include cookie-consent.html %}

{% include scroll-progress-button.liquid %}

</body>
</html>
