---
title: Partners
---

<!Doctype html>
<html id="partners" class="gridPage">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="users">
	<main>
        <h1>ThingsBoard Partners</h1>
        <h5>Growing the ThingsBoard ecosystem.</h5>
		<h5>We are working with a broad group of partners who contribute to the ThingsBoard core codebase, making it stronger and richer. There partners create a vibrant ThingsBoard ecosystem supporting a spectrum of complementing platforms, from open source solutions to market-leading technologies.</h5>
		<h3 id="hardware-partners">Hardware Partners</h3>
		<div id="hardwareContainer"></div>
	</main>
</section>

{% include footer.html %}
{% include case-study-styles.html %}

<style>
	{% include partner-style.css %}
</style>

<script>
	{% include partner-script.js type="hardware"
        containerId="hardwareContainer" %}
</script>

</body>
</html>
