---
title: Partners on hardware area
---

<!Doctype html>
<html id="partners">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="users">
	<main>
		<div class="intro">
			<h1>ThingsBoard Hardware Partners</h1>
            <div class="hardware-desc">
                <p class="hardware-desc-text">
                    Hardware Partnership Program goal is to reduce time to market for ThingsBoard based solutions.
                </p>
                <p class="hardware-desc-text">
                    Together with Hardware Partners we simplify implementation of the most challenging IoT projects by providing a rich set of integration tutorials, typical use cases and best practices.
                </p>
            </div>
			<p align="center" style="margin: 0">
				<a class="button" href="/partners/hardware/program/">Apply for Hardware Partner Program</a>
			</p>
		</div>
        {% assign filters = "Bluetooth LE,GSM/GPRS,LoRaWAN,LTE-M,Modbus,Bacnet,NB-IoT,Sigfox,CAT-M/NB,MQTT,Wi-Fi,Ethernet,KNX,Wirepas" | split: "," %}
        {% include filter.html filters = filters containerId = "hardwareContainer" filterLabel = "Filter"%}
        <div id="hardwareContainer">
            {% include hardware-partners-cards.liquid %}
            <div class="partner-box become-partner-box" id="all">
                <div class="box-background"></div>
                <div>
                    <p class="become-partner">
                        Want to become ThingsBoard Hardware Partner?
                    </p>
                    <a class="button" href="/partners/hardware/program/">
                        Apply for Hardware Partner Program
                    </a>
                </div>
            </div>
        </div>
	</main>
</section>


<div class="background"><img src="https://img.thingsboard.io/partners/hardware-map.svg" alt="hardware map"><div class="fill"></div></div>

{% include footer.html %}
{% include case-study-styles.html %}

<style>
	{% include partner-style.css %}
</style>

<script>
	jqueryDefer(function () {
		$(window).scroll(function() {
			var height = $(window).scrollTop();
			var navPosition = $('.intro').height() + $('#hero').height() + 240 - $('.filter-spacer').height();
			if(height > navPosition){
				$('div.filter').addClass('nav-fixed');
				$('#hardwareContainer').addClass('customer-spacer');
			} else{
				$('div.filter').removeClass('nav-fixed');
				$('#hardwareContainer').removeClass('customer-spacer');
			}
		});
	});
</script>

{% include cookie-consent.html %}

{% include scroll-progress-button.liquid %}

</body>
</html>
