---
title: Partners on marketplace
---

<!Doctype html>
<html id="partners">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="users">
	<main>
		<div class="intro">
			<h1 class="marketplace-title">ThingsBoard Marketplace</h1>
            <p class="marketplace-desc">
                ThingsBoard is about to launch a Software Marketplace to distribute custom ThingsBoard components like widgets, pre-configured dashboards, rule chains, and other items. The Marketplace will soon be available in all CE and PE installations.
            </p>
            <div class="marketplace-cards">
                <div class="marketplace-card">
                    <span class="marketplace-card-icon">
                        <i class="fas fa-users fa-5x" style="color: #2A7DEC"></i>
                    </span>
                    <span class="marketplace-card-title">For Customers</span>
                    <p class="marketplace-card-desc">
                        Marketplace will allow you to explore IoT solutions and ThingsBoard components provided by 100+ ThingsBoard Contributors and Technology Partners.
                    </p>
                </div>
                <div class="marketplace-card">
                    <span class="marketplace-card-icon">
                        <i class="fas fa-user-tie fa-5x" style="color: #2A7DEC"></i>
                    </span>
                    <span class="marketplace-card-title">For Sellers</span>
                    <p class="marketplace-card-desc">
                        We welcome you to become a seller at ThingsBoard Marketplace and distribute your free and paid products to thousands of ThingsBoard customers. This is an early call to submit information about your custom products. We will use this information to prepare the Marketplace.
                    </p>
                </div>
            </div>
            <p class="marketplace-desc">
                The early birds will get priority listing and a minimum marketplace fee for paid products. Top publishers of free content will get valuable gifts from ThingsBoard Team on a monthly basis: up to 100% license discounts, support, and other rewards.
            </p>
			<p class="button-section" align="center">
				<a class="button" href="https://forms.gle/pBtyPCXtzke4HmNE6">Become a Seller</a>
			</p>
		</div>
	</main>
</section>

<div class="background"><img src="/images/partners/hardware-map.svg" alt="hardware map"><div class="fill"></div></div>

{% include footer.html %}
{% include case-study-styles.html %}

<style>
	{% include marketplace-style.css %}
</style>

{% include cookie-consent.html %}

</body>
</html>
