---
title: Partners on marketplace
---

<!Doctype html>
<html id="partners">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="users">
	<main>
		<div class="intro">
			<h1>ThingsBoard Marketplace</h1>
			<h5>ThingsBoard is about to launch a Software Marketplace to distribute custom ThingsBoard components like widgets, pre-configured dashboards, rule chains, and other items.
				The Marketplace will become available in all CE and PE installations in 2023.
			</h5>

			<h3>For Customers</h3>
			<h5>Marketplace will allow you to explore IoT solutions and ThingsBoard components provided by 100+ ThingsBoard Contributors and Technology Partners.</h5>

			<h3>For Sellers</h3>
			<h5>We welcome you to become a seller at ThingsBoard Marketplace and distribute your free and paid products to thousands of ThingsBoard customers.
				This is an early call to submit information about your custom products. We will use this information to prepare the Marketplace.</h5>
			<h5>The early birds will get priority listing and a minimum marketplace fee for paid products.
				Top publishers of free content will get valuable gifts from ThingsBoard Team on a monthly basis: up to 100% license discounts, support, and other rewards.
			</h5>

			<p class="button-section" align="center">
				<a class="button" href="https://forms.gle/pBtyPCXtzke4HmNE6">Become a Seller</a>
			</p>
		</div>
	</main>
</section>

<div class="background"><img src="https://img.thingsboard.io/partners/hardware-map.svg" alt="hardware map"><div class="fill"></div></div>

{% include footer.html %}
{% include case-study-styles.html %}

<style>
	{% include marketplace-style.css %}
</style>

{% include cookie-consent.html %}

</body>
</html>
