---
title: Community
---

<!Doctype html>
<html id="common">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="docsContent" class="noToc">
        <h1>Community</h1>
        <div id="content">
            <h3>Ensuring ThingsBoard works well everywhere and for everyone.</h3>
            <p>Connect with the ThingsBoard community on our <a href="https://gitter.im/thingsboard/chat">Gitter channel</a> or join the
            <a href="https://groups.google.com/forum/#!forum/thingsboard">ThingsBoard Google group</a>.
            <h3>Events</h3>
            <div id="calendarWrapper">
                <iframe src="https://calendar.google.com/calendar/b/1/embed?src=thingsboard.io_vvdkrvseju3jjahct9pk00nh0o@group.calendar.google.com"
                        frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
            </div>
            <section id="talkToUs">
                <h3>Talk to Us!</h3>
                <h4>We would love to hear from you, how you are using ThingsBoard,<br> and what we can do to make it better.</h4>
                <div id="bigSocial">
                    <a href="https://twitter.com/thingsboard">
                        <h1>@thingsboard</h1>
                        <p>Get the latest news and updates.</p>
                    </a>
                    <a href="https://github.com/thingsboard/thingsboard">
                        <h1>Github Project</h1>
                        <p>Check out the project and consider contributing.</p>
                    </a>
                    <a href="https://gitter.im/thingsboard/chat">
                        <h1>Gitter</h1>
                        <p>Our Gitter channel is the best way to contact our engineers and share your ideas with them.</p>
                    </a>
                    <a href="http://stackoverflow.com/questions/tagged/thingsboard">
                        <h1>Stack Overflow</h1>
                        <p>The ThingsBoard team will also monitor posts tagged thingsboard. If there aren’t any existing questions that help, please ask a new one!</p>
                    </a>
                </div>
            </section>
        </div>
	</div>
</section>

{% include footer.html %}

{% include cookie-consent.html %}

</body>
</html>
