---
title: Community
---

<!Doctype html>
<html id="community">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>Community</h1>
</section>

<section id="mainContent">
	<main>
		<div class="content">
			<h3>Ensuring Thingsboard works well everywhere and for everyone.</h3>
			<p>Connect with the Thingsboard community on our <a href="https://gitter.im/thingsboard/chat">Gitter channel</a> or join the
				<a href="https://groups.google.com/forum/#!forum/thingsboard">Thingsboard Google group</a>.
		</div>
		<div class="content">
			<h3>Events</h3>
			<div id="calendarWrapper">
				<iframe src="https://calendar.google.com/calendar/b/1/embed?src=thingsboard.io_vvdkrvseju3jjahct9pk00nh0o@group.calendar.google.com"
				        frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>Talk to Us!</h3>
		<h4>We would love to hear from you, how you are using Thingsboard,<br> and what we can do to make it better.</h4>
		<div id="bigSocial">
			<div>
				<a href="https://twitter.com/thingsboard">@thingsboard</a>
				<p>Get the latest news and updates.</p>
			</div>
			<div>
				<a href="https://github.com/thingsboard/thingsboard">Github Project</a>
				<p>Check out the project and consider contributing.</p>
			</div>
			<div>
				<a href="https://gitter.im/thingsboard/chat">Gitter</a>
				<p>Our Gitter channel is the best way to contact our engineers and share your ideas with them.</p>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/thingsboard">Stack Overflow</a>
				<p>The Thingsboard team will also monitor posts tagged thingsboard. If there aren’t any existing questions that help, please ask a new one!</p>
			</div>
		</div>
	</main>
</section>

{% include footer.html %}

</body>
</html>
