// features
$features-h3-margin-bottom: 20px
$feature-box-div-width: 100%
$feature-box-margin-bottom: 0
$feature-box-div-margin-bottom: 40px

#home
    &:not(.open-nav):not(.flip-nav)
        header
            &::after
                opacity: 0
    #hero
        height: 100vh //calc(100vh + 5px)
        padding-top: 0px
        position: relative
        overflow: hidden
        background: none
        div:nth-child(1)
            background-image: url(/video/tb-cover.jpg) !important
        .video-cover
            position: absolute
            z-index: -2
            top: 0px
            left: 0px
            bottom: 0px
            right: 0px
            overflow: hidden
            background-size: cover
            background-color: #000
            background-repeat: no-repeat
            background-position: 50% 50%
            background-image: url(/video/tb-cover.jpg)
        #hero-content
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            .tb-title
                margin-bottom: 20px
                font-size: 22px
                font-weight: 400
                text-shadow: 0 0 18px rgba(0,0,0,.37)
            .tb-sub-title
                margin-bottom: 40px
                font-size: 14px
                line-height: 16px
            .learn-tb
                cursor: pointer
                line-height: 40px
                font-size: 16px
                padding: 0 15px
                border: 1px solid white
                background-color: transparent
                transition: 0.6s
                text-shadow: 0 0 18px rgba(0,0,0,.37)
                &:hover
                    background-color: white
                    color: $dark-grey
            .tb-arrow
                position: fixed
                bottom: 40px
                left: 0
                right: 0
                margin: auto
                width: 40px
                height: 40px
                opacity: 1
                z-index: 24
                color: #fff
                a
                    color: #fff
            &.arrow-hidden
                .tb-arrow
                    display: none

    #talkToUs
        main
            padding: 30px 0
        h5
            font-size: 20px

    #intro, #main-features, #dashboard_description, #tb-customers
        color: #424242
        h2
            border: none
            text-align: center
            font-weight: 400
        h3
            border: none
            font-weight: 400
        p
            line-height: 1.5em

    #tb-customers
        padding-top: 40px
        padding-bottom: 40px
        .customers-container
            display: flex
            flex-wrap: wrap
            justify-content: center
            .customer-block
                opacity: 0
                &.animated
                    opacity: 1
                max-width: 100%
                padding: 20px 30px
                width: 230px
                a
                    cursor: pointer
                    color: $blue-03
                    text-decoration: none
                    &:hover
                        text-decoration: underline
                p
                    margin: 15px 0

    .oceanNodes
        &#intro
            padding-top: 40px
            padding-bottom: 40px
            main:first-child
                .image-wrapper
                    max-width: 100%
                    img
                        max-width: 491px
        &#main-features
            .image-wrapper
                top: 0
                transform: translateY(0)
            .image-wrapper, .content
                animation-duration: 1.5s
        .image-wrapper, .content
            opacity: 0
            &.animated
                opacity: 1

    .demoDashboardButton
        text-align: center
        padding: 20px 0

    .demo-dashboards-carousel, .feedbacks-carousel
        .slick-next, .slick-prev
            top: 40%
        .slick-next:before, .slick-prev:before
            color: rgba(0,0,0,0.67)

    .demo-dashboards-carousel
        padding-top: 25px

    .dashboard-item
        outline: none

    .demoDashboardWrapper
        position: relative
        padding-bottom: 15px
        .overlay
            outline: none
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: #ffffff url(/images/eye_gray.svg) no-repeat scroll center
            background-size: 88px
            opacity: 0
            transition: 0.5s
            &:hover
                opacity: 0.5
                transition: 0.5s

    .demoDashboard
        display: block
        position: relative
        width: 100%
        height: 100%
        img
            width: 100%

    #dashboard_description
        main
            opacity: 0
            &.animated
                opacity: 1
        padding-top: 15px
        h3
            margin-bottom: 18px

    // Features
    #features
        background-color: $light-grey
        .features-title
            padding-top: 100px
            background-image: url(/images/thingsboard_blue.svg)
            background-position: center 24px
            background-repeat: no-repeat
            background-size: 64px
            margin-top: 20px
            h3
                margin-bottom: $features-h3-margin-bottom
            opacity: 0
            &.animated
                opacity: 1

        .feature-box
            margin-bottom: $feature-box-margin-bottom
            & > div
                width: $feature-box-div-width
                margin-bottom: $feature-box-div-margin-bottom
                opacity: 0
                &.animated
                    opacity: 1
            width: 100%
            //overflow: hidden
            display: inline-block
            clear: both
            h4
                line-height: normal
                margin-bottom: 15px
            & > div:first-child
                float: left
            & > div:last-child
                float: right

    .flyout-button
        display: none

    .header-animation
        max-width: 100%
        opacity: 0
        transform: translate3d(0, 45px, 0)
        animation-name: slideup-in
        animation-duration: 600ms
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
        animation-fill-mode: forwards

    .header-animation:nth-child(1)
        animation-delay: 0ms

    .header-animation:nth-child(2)
        animation-delay: 300ms

    .header-animation:nth-child(3)
        animation-delay: 600ms

    .header-animation:nth-child(4)
        animation-delay: 900ms

    .header-animation:nth-child(5)
        animation-delay: 1200ms

    @keyframes slideup-in
        from
            opacity: 0
            transform: translate3d(0, 45px, 0)
        to
            opacity: 1
            transform: translate3d(0, 0, 0)

@media screen and (min-width: 750px)
    $features-h3-margin-bottom: 40px
    $feature-box-margin-bottom: 60px
    $feature-box-div-margin-bottom: 0
    $feature-box-div-width: 45%
    #home
        #hero
            #hero-content
                .tb-title
                    font-size: 36px
                .tb-sub-title
                    font-size: 20px
                    margin-bottom: 60px
        .oceanNodes
            &#intro
                main:nth-child(1)
                    padding-right: 0
                    h3, p
                        text-align: center
                    .image-wrapper
                        position: relative
                        display: block
                        float: none
                        max-width: 100%
                        transform: none
                    .content
                        display: block
            &#main-features
                main
                    .image-wrapper
                        max-width: 25%

        #features
            padding-bottom: 60px
            .features-title
                padding-top: 120px
                background-position: center 34px
            .feature-box
                margin-bottom: 30px
                &:last-child
                    margin-bottom: 0
            h3
                margin-bottom: $features-h3-margin-bottom
            .feature-box
                & > div
                    width: $feature-box-div-width
                    margin-bottom: $feature-box-div-margin-bottom

@media screen and (min-width: 1025px)
    #home
        #hero
            #vendorStrip
                display: block
        section, header
            main
                max-width: 1000px
        footer
            main
                max-width: 1000px

        .oceanNodes
            &#intro
                main:nth-child(1)
                    max-width: 1000px
                    padding-right: 475px

                    h3, p
                        text-align: left

                    .image-wrapper
                        position: absolute
                        max-width: 48%
                        transform: translateY(-50%)

                        img
                            max-width: 425px

@media screen and (min-width: 1250px)
    #home
        #hero
            #hero-content
                .tb-title
                    margin-bottom: 40px
                    font-size: 64px
                .tb-sub-title
                    font-size: 28px
                    margin-bottom: 80px
                .learn-tb
                    line-height: 60px
                    font-size: 28px
                    padding: 0 40px
                    border-width: 3px
