// features
$features-h3-margin-bottom: 20px
$feature-box-div-width: 100%
$feature-box-margin-bottom: 0
$feature-box-div-margin-bottom: 40px

#home
    &:not(.open-nav):not(.flip-nav)
        header
            &::after
                opacity: 0
    #hero
        height: 100vh //calc(100vh + 5px)
        padding-top: 0px
        position: relative
        overflow: hidden
        background: none
        div:nth-child(1)
            background-image: url(/video/tb-cover.jpg) !important
        .video-cover
            position: absolute
            z-index: -2
            top: 0px
            left: 0px
            bottom: 0px
            right: 0px
            overflow: hidden
            background-size: cover
            background-color: #000
            background-repeat: no-repeat
            background-position: 50% 50%
            background-image: url(/video/tb-cover.jpg)
        #hero-content
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            background-color: rgba(0,0,0,0.72)
            .tb-title
                margin-bottom: 20px
                font-size: 22px
                font-weight: 400
                text-shadow: 0 0 18px rgba(0,0,0,.66)
            .tb-sub-title
                margin-bottom: 40px
                font-size: 14px
                line-height: 16px
                text-shadow: 0 0 18px rgba(0,0,0,.66)
            .learn-tb
                cursor: pointer
                line-height: 40px
                font-size: 16px
                padding: 0 15px
                border: 1px solid white
                background-color: transparent
                transition: 0.6s
                text-shadow: 0 0 18px rgba(0,0,0,.66)
                &:hover
                    background-color: white
                    color: $dark-grey
                    text-shadow: none
            .tb-arrow
                position: fixed
                bottom: 40px
                left: 0
                right: 0
                margin: auto
                width: 40px
                height: 40px
                opacity: 1
                z-index: 24
                color: #fff
                a
                    color: #fff
            &.arrow-hidden
                .tb-arrow
                    display: none

    #talkToUs
        main
            padding: 30px 0
        h5
            font-size: 20px

    #intro, #main-features, #dashboard_description, #rule_engine, #tb-customers, #tb-intro-video
        color: #44474A
        h1
            color: #212529
            font-weight: 600
            text-align: center
            font-size: 32px
            line-height: 48px
            a
                color: #305680
        h2
            margin: 48px 0 136px
            text-align: center
            color: #707275
            font-size: 18px
            line-height: 27px
            font-weight: normal
        h3
            border: none
            font-weight: 400
        p
            line-height: 1.5em

    #intro
        margin-bottom: 64px
        padding-top: 88px
        #cards
            &>div
                margin-bottom: 56px
                &.col-lg-6
                    padding: 0 30px
                div
                    float: left
                    width: calc(100% - 92px)
                    p
                        color: #44474A
                        font-size: 18px
                        font-weight: normal
                        line-height: 27px
                        margin-block-start: 15px
                    a
                        color: #305680
                        font-weight: 600
                        font-size: 24px
                img
                    float: left
                    margin-right: 32px

    #products
        width: 100%
        background-color: #F9FAFB
        padding: 96px 0 56px
        margin-bottom: 72px
        .product-list
            display: flex
            margin: 0 60px
            div
                color: #212529
                background-color: white
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1)
                border-radius: 4px
                padding: 40px
                text-align: center
                flex: 1
                margin-bottom: 40px
                h1
                    color: #707275
                    font-size: 18px
                    line-height: 32px
                h2
                    font-size: 28px
                    font-weight: 600
                h3
                    font-size: 16px
                img
                    display: block
                    margin: 50px auto 50px auto
                    width: 80%
                &.main
                    box-shadow: inset 0px -6px 0px #305680, 0 10px 20px 0 rgba(0, 0, 0, 0.1)
                    margin: 0 30px
                    h2
                        font-size: 42px
                        font-weight: 600
                    img
                        margin: 60px auto
                a
                    color: #305680
                    font-weight: 500
            @media(max-width: 992px)
                flex-direction: column
                div.main
                    margin: 0 0 40px
        a
            color: #707275
            font-weight: 500
            margin-top: 56px
            text-align: center

    #tb-customers
        width: 100%
        background-color: #FBFBFB
        padding: 50px 0
        text-align: justify
        -moz-text-align-last: justify
        text-align-last: justify
        display: none
        @media(min-width: 992px)
            display: block
        img
            height: 60px
            margin-bottom: 20px
        main
            display: flex
            flex-wrap: wrap
            flex-direction: row
            justify-content: space-around
            align-items: center
            padding: 0 50px
            a
                display: block
                padding: 10px
                object
                    pointer-events: none

    .demoDashboardButton
        text-align: center
        padding: 20px 0

    .demo-dashboards-carousel, .feedbacks-carousel
        .slick-next, .slick-prev
            top: 40%
        .slick-next:before, .slick-prev:before
            color: rgba(0,0,0,0.67)

    .demo-dashboards-carousel
        padding-top: 25px

    .dashboard-item
        outline: none

    .demoDashboardWrapper
        position: relative
        padding-bottom: 15px
        .overlay
            outline: none
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: #ffffff url(/images/eye_gray.svg) no-repeat scroll center
            background-size: 88px
            opacity: 0
            transition: 0.5s
            &:hover
                opacity: 0.5
                transition: 0.5s

    .demoDashboard
        display: block
        position: relative
        width: 100%
        height: 100%
        img
            width: 100%

    .demoRuleChain
        display: block
        position: relative
        width: 100%
        height: 100%
        img
            width: 100%

    #dashboard_description, #rule_engine
        main
            display: block
            opacity: 0
            &.animated
                opacity: 1
        padding-top: 15px
        h3
            margin-bottom: 18px

    // Features
    #features
        background-color: $light-grey
        main
            display: block
        .features-title
            padding-top: 100px
            background-image: url(/images/thingsboard_blue.svg)
            background-position: center 24px
            background-repeat: no-repeat
            background-size: 64px
            margin-top: 20px
            h3
                margin-bottom: $features-h3-margin-bottom
            opacity: 0
            &.animated
                opacity: 1

        .feature-box
            margin-bottom: $feature-box-margin-bottom
            & > div
                width: $feature-box-div-width
                margin-bottom: $feature-box-div-margin-bottom
                opacity: 0
                &.animated
                    opacity: 1
            width: 100%
            //overflow: hidden
            display: inline-block
            clear: both
            h4
                line-height: normal
                margin-bottom: 15px
            & > div:first-child
                float: left
            & > div:last-child
                float: right

    .flyout-button
        display: none

    .header-animation
        max-width: 100%
        opacity: 0
        transform: translate3d(0, 45px, 0)
        animation-name: slideup-in
        animation-duration: 600ms
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
        animation-fill-mode: forwards

    .header-animation:nth-child(1)
        animation-delay: 0ms

    .header-animation:nth-child(2)
        animation-delay: 300ms

    .header-animation:nth-child(3)
        animation-delay: 600ms

    .header-animation:nth-child(4)
        animation-delay: 900ms

    .header-animation:nth-child(5)
        animation-delay: 1200ms

    @keyframes slideup-in
        from
            opacity: 0
            transform: translate3d(0, 45px, 0)
        to
            opacity: 1
            transform: translate3d(0, 0, 0)

@media screen and (min-width: 750px)
    $features-h3-margin-bottom: 40px
    $feature-box-margin-bottom: 60px
    $feature-box-div-margin-bottom: 0
    $feature-box-div-width: 45%
    #home
        #hero
            #hero-content
                .tb-title
                    font-size: 36px
                .tb-sub-title
                    font-size: 20px
                    margin-bottom: 60px

        #features
            padding-bottom: 60px
            .features-title
                padding-top: 120px
                background-position: center 34px
            .feature-box
                margin-bottom: 30px
                &:last-child
                    margin-bottom: 0
            h3
                margin-bottom: $features-h3-margin-bottom
            .feature-box
                & > div
                    width: $feature-box-div-width
                    margin-bottom: $feature-box-div-margin-bottom

@media screen and (min-width: 1025px)
    #home
        #hero
            #vendorStrip
                display: block
        section, header
            main
                max-width: 1400px
        footer
            main
                max-width: 1400px

@media screen and (min-width: 1250px)
    #home
        #hero
            #hero-content
                .tb-title
                    margin-bottom: 40px
                    font-size: 64px
                .tb-sub-title
                    font-size: 28px
                    margin-bottom: 80px
                .learn-tb
                    line-height: 60px
                    font-size: 28px
                    padding: 0 40px
                    border-width: 3px
