// features
$features-h3-margin-bottom: 20px
$feature-box-div-width: 100%
$feature-box-margin-bottom: 0
$feature-box-div-margin-bottom: 40px

#home
    section
        background: none
    &:not(.open-nav):not(.flip-nav)
        header
            &::after
                opacity: 0
    #hero
        height: 100vh //calc(100vh + 5px)
        padding-top: 0px
        position: relative
        overflow: hidden
        background: none
        div:nth-child(1)
            background-image: url(https://img.thingsboard.io/tb-cover.webp) !important
        .video-cover
            position: absolute
            z-index: -2
            top: 0px
            left: 0px
            bottom: 0px
            right: 0px
            overflow: hidden
            background-size: cover
            background-color: #000
            background-repeat: no-repeat
            background-position: 50% 50%
            background-image: url(https://img.thingsboard.io/tb-cover.webp)
        #hero-content
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            background-color: rgba(0,0,0,0.72)
            .tb-title
                margin-bottom: 20px
                font-size: 22px
                font-weight: 400
                text-shadow: 0 0 18px rgba(0,0,0,.66)
            .tb-sub-title
                margin-bottom: 40px
                font-size: 14px
                line-height: 16px
                text-shadow: 0 0 18px rgba(0,0,0,.66)
            .learn-tb
                cursor: pointer
                line-height: 40px
                font-size: 16px
                padding: 0 15px
                border: 1px solid white
                background-color: transparent
                transition: 0.6s
                text-shadow: 0 0 18px rgba(0,0,0,.66)
                &:hover
                    background-color: white
                    color: $dark-grey
                    text-shadow: none
            .tb-arrow
                position: fixed
                bottom: 40px
                left: 0
                right: 0
                margin: auto
                width: 40px
                height: 40px
                opacity: 1
                z-index: 24
                color: #fff
                a
                    color: #fff
            &.arrow-hidden
                .tb-arrow
                    display: none

    #overflow
        overflow: hidden
        #react
            margin-top: 165px
            @media (max-width: 768px)
                margin-top: 50px
        #intro, #manage, #scada, #react, #products, #product-ecosystem, #dashboard_description, #rule-engine, #bottom-features
            color: #212529
            text-align: left
            h1, h2.past-h1
                font-weight: 600
                text-align: center
                font-size: 32px
                line-height: 52px
                a
                    font-weight: 600
                    font-size: 32px
            h2, span.phrase-heading
                font-weight: 500
                line-height: 54px
                font-size: 36px
            h3
                font-size: 42px
                font-weight: 600
                line-height: 63px
            p
                color: #75767C
                font-size: 18px
                font-weight: normal
                line-height: 27px
                margin: 4px 0 18px
            a
                color: #2A7DEC
                font-weight: 500
                font-size: 18px
            img
                height: auto

        #intro
            margin-bottom: 178px
            @media (max-width: 768px)
                margin-bottom: 70px
            padding-top: 88px
            .second
                margin-top: 48px
                color: #899AAB
                font-size: 20px
                line-height: 1.5em
                font-weight: normal
                &.in-the-past-h1
                    font-weight: 400
                    text-align: center

        #manage, #scada, #react
            #features-top, #features-top-1, #features-top-2
                img
                    border-radius: 6px
                    box-shadow: 0 50px 50px -20px rgba(0,0,0,0.15), 0 0 30px 0 rgba(0,0,0,0.05)
                .block
                    justify-content: space-between
                    display: flex
                    align-items: center
                    flex-direction: column
                    .preview, .manage, .visualize, .scada-svg
                        margin-top: 32px
                    img, .manage, .visualize, .process, .scada-svg
                        order: 2
                    .feature-des
                        order: 1
                        h2
                            margin-top: 100px
                        &.microservices h2
                            @media (max-width: 768px)
                                margin-top: 60px
                    .feature-des, img, .manage, .visualize, .process
                        width: 100%
                    .manage
                        position: relative
                        display: inline-block
                        .device-list
                            margin: 14% 0
                            width: 100%
                            display: block
                            border-radius: 4px
                            box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.07)
                        .device-manage
                            width: 87%
                            position: absolute
                            right: 0
                            top: 0
                    .visualize
                        position: relative
                        .vis1
                            width: 100%
                            margin-bottom: 2%
                        .vis2
                            width: 68.5%
                        .vis3
                            width: 29.5%
                            position: absolute
                            right: 0
                    &.vis
                        margin: 80px 0 30px
                        @media (max-width: 768px)
                            margin: 60px 0 30px
                    &.scada
                        margin: 100px 0 300px
                        @media (max-width: 1500px)
                            margin: 50px 0 0 0
                    .scada-svg
                        width: 50%
                        @media (max-width: 1024px)
                            width: 76%
                        @media (max-width: 750px)
                            width: 94%
                        z-index: -1
                        @media (max-width: 1500px)
                            z-index: 1
                        position: relative
                        img
                            box-shadow: none !important
                        .scada-back-scheme
                            position: absolute
                            z-index: -2
                            width: 174.8%
                            right: -73.5%
                            bottom: -18.9%
                        .scada-fade
                            width: 64.8%
                            height: 131.8%
                            position: absolute
                            bottom: -102px
                            right: -545px
                            background: linear-gradient(to right, rgba(255,255,255,0) 0%,#F7F9FC 100%)
                        .scada-background
                            position: absolute
                            left: -4%
                            z-index: -1
                            width: 103%
                            height: 104%
                            background-color: white
                            border-radius: 8px
                            box-shadow: 0 50px 50px -20px rgba(0, 0, 0, 0.15), 0px 0px 30px 0px rgba(0, 0, 0, 0.04)
                        .scada-front-scheme
                            width: 95%
                    .process
                        position: relative
                        display: inline-block
                        .react
                            width: 167%
                            max-width: 1031px
                            border-radius: unset
                            position: absolute
                            box-shadow: unset
                            z-index: -1
                            left: -95%
                            top: 316px
                            @media (max-width: 1024px)
                                left: -76%
                                top: -55px
                        .add-rule
                            width: 100%
                    &.dark
                        .feature-des
                            margin-bottom: 50px
                            @media (max-width: 1024px)
                                margin-bottom: 68px
                            h2, span.phrase-heading
                                color: white
                            p
                                color: #A6A8B2
                            a
                                color: white
                                img
                                    filter: invert(98%) sepia(19%) saturate(109%) hue-rotate(232deg) brightness(115%) contrast(100%)
                                i
                                    filter: sepia(19%) saturate(109%) hue-rotate(232deg) brightness(115%) contrast(100%)
                    &.micro
                        margin: 300px 0 100px 0
                        @media (max-width: 1024px)
                            margin-top: 0
                        img
                            box-shadow: unset
                            max-width: 569px
                        .feature-des
                            margin-bottom: 20px

        #products, #product-ecosystem
            width: 100%
            padding-top: 100px
            padding-bottom: 56px
            @media (max-width: 768px)
                padding-top: 60px
                padding-bottom: 20px
            .product-title
                color: white
                text-align: center
                margin-bottom: 72px
            .product-ecosystem-title
                color: #212529
                text-align: center
                margin-bottom: 72px
            .product-list, .product-ecosystem-list
                display: flex
                margin: unset
                div
                    color: #212529
                    background-color: white
                    box-shadow: 0 50px 50px -20px rgba(0,0,0,0.15), 0 0 30px 0 rgba(0,0,0,0.05)
                    border-radius: 6px
                    padding: 40px
                    text-align: center
                    flex: 1
                    margin-bottom: 40px
                    p
                        margin: unset
                    h2, span.phrase-heading
                        font-size: 28px
                        font-weight: 600
                    h3
                        font-size: 16px
                        font-weight: unset
                        margin-top: 18px
                        line-height: 1.5
                    img
                        display: block
                        margin: 50px auto 50px auto
                        width: 80%
                    &.main
                        box-shadow: inset 0px -6px 0px #305680, 0 50px 50px -20px rgba(0,0,0,0.15), 0 0 30px 0 rgba(0,0,0,0.05)
                        margin: 0 30px
                        h2, span.phrase-heading
                            font-size: 42px
                            font-weight: 600
                            line-height: 1.5
                        img
                            margin: 60px auto
                    a
                        color: #2A7DEC
                        font-weight: 500
                @media(max-width: 992px)
                    flex-direction: column
                    div.main
                        margin: 0 0 40px
            .product-ecosystem-list
                flex-wrap: wrap
                @media(max-width: 992px)
                    flex-wrap: nowrap
                justify-content: space-between
                gap: 40px
                div
                    min-width: 291px
                    @media (max-width: 768px)
                        min-width: unset
                    margin-bottom: 0
                    img
                        width: 32%
            a
                color: #707275
                font-weight: 500
                margin-top: 56px
                text-align: center
                @media (max-width: 768px)
                    margin-top: 20px

        #dashboard_description
            margin-top: 186px
            margin-bottom: 120px
            @media (max-width: 768px)
                margin-top: 20px
                margin-bottom: 0
            .owl-carousel.owl-theme.usecase-carousel
                margin: 40px auto
                @media (max-width: 768px)
                    margin: 50px auto
                width: 100%
                .owl-stage-outer
                    overflow: hidden
                    .owl-stage
                        .owl-item
                            min-height: 420px
                            .item-image
                                box-shadow: unset
                .owl-nav
                    button.owl-prev
                        left: -50px
                    button.owl-next
                        right: -50px
            .dashboard-item
                flex-direction: column
                justify-content: space-between
                display: flex !important
                align-items: center
                .item-image-container .overlay
                    @media (max-width: 768px)
                        display: none
            .item-image-container
                position: relative
                width: 100%
            .item-image
                position: relative
                width: 100%
                height: auto
                border-radius: 6px
                display: block
            .item-description
                width: 100%
                margin-bottom: 32px

        #rule-engine
            margin-bottom: 148px
            @media (max-width: 768px)
                margin-bottom: 80px
            .rule
                justify-content: space-between
                display: flex
                align-items: center
                flex-direction: column
                a
                    order: 2
                    width: 100%
                    img
                        width: 100%
                        border-radius: 6px
                        box-shadow: 0 50px 50px -20px rgba(0,0,0,0.15), 0 0 30px 0 rgba(0,0,0,0.05)
                .des
                    order: 1
                    width: 100%
                    margin-bottom: 32px

        #bottom-features
            padding-bottom: 80px
            #cards
                padding-top: 50px
                justify-content: center
                &>div
                    margin-bottom: 36px
                    &.col-lg-6
                        padding: 0 18px
                        max-width: 100%
                    .block
                        padding: 48px
                        float: left
                        width: 100%
                        height: 100%
                        background: white
                        border-radius: 6px
                        box-shadow: 0 50px 50px -20px rgba(0,0,0,0.15)
                        display: unset
                        text-align: center
                        div
                            width: 100%
                            .title
                                color: #2A7DEC
                                font-size: 24px
                                font-weight: 500
                                margin-bottom: 6px
                            p
                                margin-top: 10px
                        img
                            height: fit-content
                            margin: 0 0 18px

        .read-more-button
            position: relative
            transition-duration: 0.3s
            &.dash
                outline: none
                .arrow
                    right: -20px
            .arrow
                font-size: 13px
                transform: translate(0px)
                transition-duration: 0.3s
                filter: invert(35%) sepia(96%) saturate(1837%) hue-rotate(202deg) brightness(98%) contrast(89%)
                box-shadow: none !important
                width: 12px !important
                margin-left: 12px
                position: absolute
                top: 7px
                &.first
                    opacity: 0.2
                &.second
                    opacity: 0.5
            &:hover
                transition-duration: 0.3s
                .first
                    transform: translate(10px)
                .second
                    transform: translate(20px)
                .third
                    transform: translate(30px)

        .img-button
            &.rule-button
                position: relative
            .overlay
                color: white
                z-index: 1000
                display: block
                width: 100%
                position: absolute
                font-weight: 400
                height: 100%
                opacity: 0
                background: linear-gradient(0deg, rgba(37,38,40,0.8) 0%, rgba(37,38,40,0.6) 100%)
                transition-duration: 0.3s
                border-radius: 6px
                &:hover
                    opacity: 1
                    .eye
                        bottom: 14%
                .eye
                    transition-duration: 0.3s
                    position: absolute
                    bottom: 0
                    // left: calc(50% - 60px)
                    left: 33%
                    display: flex
                    img, i
                        font-size: 24px
                        margin-right: 10px
                        width: unset !important

        .background
            z-index: -1
            position: absolute
            top: 524px
            left: 50%
            img
                position: absolute
                top: -410px
                left: -888px
                box-shadow: none !important
            div
                position: absolute
                -ms-transform: skewY(-6deg)
                transform: skewY(-6deg)
                width: 436px
                height: 90px
                &.main1
                    top: -572px
                    width: 2560px
                    height: 525px
                    left: -1280px
                    background-color: #F7F9FC
                &.small1
                    top: -528px
                    right: 646px
                    background-color: #305680
                &.small2
                    top: -590px
                    right: 408px
                    background-color: #2A7DEC
                &.small3
                    top: -715px
                    left: 789px
                    border: 4px solid #2A7DEC
                &.small4
                    top: 22px
                    right: 814px
                    border: 2px solid #0D2743
                &.main2
                    top: -574px
                    width: 2560px
                    height: 925px
                    left: -1280px
                    background-color: #F7F9FC
                &.main3
                    top: -641px
                    @media (max-width: 1500px)
                        top: -576px
                        height: 550px
                    width: 2560px
                    height: 665px
                    left: -1280px
                    background-color: #252628
                &.small5
                    top: -779px
                    left: 867px
                    border: 4px solid #305680
                &.small6
                    top: 98px
                    right: 830px
                    border: 4px solid #305680
                &.products
                    top: -590px
                    width: 2560px
                    height: 200px
                    left: -1280px
                    background-color: #305680
                &.product-ecosystem
                    top: -590px
                    width: 2560px
                    height: 200px
                    left: -1280px
                    background-color: #F7F9FC
                &.small7
                    top: -742px
                    left: 732px
                    background-color: #2A7DEC
                &.small8
                    top: -350px
                    right: 736px
                    border: 4px solid #2A7DEC
                &.dashboards
                    top: -550px
                    width: 2560px
                    height: 845px
                    left: -1280px
                    background-color: #F7F9FC
                &.small9
                    top: -653px
                    left: 466px
                    border: 4px solid #0D2743
                &.small10
                    top: -708px
                    left: 658px
                    background-color: #2A7DEC
                &.bottom-features1
                    top: -700px
                    width: 2560px
                    height: 3000px
                    left: -1280px
                    -ms-transform: unset
                    transform: unset
                    background-color: #F7F9FC
                &.bottom-features2
                    top: -240px
                    width: 2560px
                    height: 525px
                    left: -1280px
                    background-color: #252628
                &.small11
                    top: -382px
                    left: 757px
                    background-color: #2A7DEC
                &.small12
                    top: 334px
                    right: 589px
                    border: 4px solid #305680
                &.bottom-features3
                    top: 1008px
                    width: 2560px
                    height: 525px
                    left: -1280px
                    background-color: #252628
                &.small13
                    top: 1071px
                    right: 646px
                    background-color: #305680
                &.small14
                    top: 1009px
                    right: 408px
                    background-color: #2A7DEC
                &.small15
                    top: 1373px
                    left: 830px
                    border: 4px solid #2A7DEC


    .header-animation
        max-width: 100%
        opacity: 0
        transform: translate3d(0, 45px, 0)
        animation-name: slideup-in
        animation-duration: 600ms
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
        animation-fill-mode: forwards

    .header-animation:nth-child(1)
        animation-delay: 0ms

    .header-animation:nth-child(2)
        animation-delay: 300ms

    .header-animation:nth-child(3)
        animation-delay: 600ms

    .header-animation:nth-child(4)
        animation-delay: 900ms

    .header-animation:nth-child(5)
        animation-delay: 1200ms

    @keyframes slideup-in
        from
            opacity: 0
            transform: translate3d(0, 45px, 0)
        to
            opacity: 1
            transform: translate3d(0, 0, 0)

@media screen and (min-width: 750px)
    $features-h3-margin-bottom: 40px
    $feature-box-margin-bottom: 60px
    $feature-box-div-margin-bottom: 0
    $feature-box-div-width: 45%
    #home
        #hero
            #hero-content
                .tb-title
                    font-size: 36px
                .tb-sub-title
                    font-size: 20px
                    margin-bottom: 60px
        #overflow
            #manage, #scada, #react
                #features-top,#features-top-1, #features-top-2
                    .block
                        .feature-des, img, .manage, .visualize, .process
                            width: 80%
            #products, #product-ecosystem
                .product-list, .product-ecosystem-list
                    margin: 0 80px
            #bottom-features
                #cards
                    div
                        .block
                            text-align: left
                            display: flex
                            div
                                width: calc(100% - 122px)
                            img
                                margin: 0 30px 0 0

@media screen and (min-width: 1025px)
    #home
        #hero
            #vendorStrip
                display: block
        section, header
            main, div.main-div
                max-width: 1400px
        footer
            main, div.main-div
                max-width: 1400px
        #overflow
            #manage, #scada, #react
                #features-top, #features-top-1, #features-top-2
                    .block
                        flex-direction: row
                        .feature-des, img, .manage, .visualize, .process
                            width: calc(50% - 80px)
                            order: unset
                            h2, span.phrase-heading
                                margin: unset
                        .preview, .manage, .visualize, .process
                            margin-top: unset
            #products, #product-ecosystem
                .product-list, .product-ecosystem-list
                    margin: 0 60px
            #rule-engine
                .rule
                    flex-direction: row
                    a
                        order: unset
                        width: calc(65% - 20px)
                    .des
                        order: unset
                        width: calc(35% - 60px)
                        margin: unset
            #dashboard_description
                .owl-carousel.owl-theme.usecase-carousel
                    width: 90%
                .dashboard-item
                    flex-direction: unset
                .item-image-container
                    width: 66%
                .item-description
                    width: 30%

@media screen and (min-width: 1250px)
    #home
        #hero
            #hero-content
                .tb-title
                    margin-bottom: 40px
                    font-size: 64px
                .tb-sub-title
                    font-size: 28px
                    margin-bottom: 80px
                .learn-tb
                    line-height: 60px
                    font-size: 28px
                    padding: 0 40px
                    border-width: 3px

@media screen and (min-width: 1500px)
    #home
        #overflow
            #dashboard_description
                .owl-carousel.owl-theme.usecase-carousel
                    width: 100%

@media (max-width: 768px)
    .read-more-button
        .arrow
            display: none
