---
title: ThingsBoard - Open-source IoT Platform
customTitle: "true"
description: ThingsBoard is an open-source IoT platform for device management, data collection, processing and visualization for your IoT projects
---

<!Doctype html>
<html id="home">

{% include head-header.html %}

<!--  HERO  -->
<section id="hero" class="light-text"
		 data-vide-bg="mp4: https://s3-us-west-1.amazonaws.com/tb-videos/tb-cover2.mp4,
                       webm: https://s3-us-west-1.amazonaws.com/tb-videos/tb-cover2.webm,
                       ogv: https://s3-us-west-1.amazonaws.com/tb-videos/tb-cover2.ogv,
                       poster: /video/tb-cover.jpg"
		 data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
	<div class="video-cover"></div>
	<div id="hero-content">
		<h1 class="header-animation tb-title">ThingsBoard</h1>
        <h1 class="header-animation tb-title">Open-source IoT Platform</h1>
		<h4 class="header-animation tb-sub-title">Device management, data collection, processing and visualization for your IoT solution</h4>
		<div class="header-animation">
			<a href="#intro" class="button learn-tb">Learn More</a>
		</div>
		<div class="tb-arrow">
			<a href="#intro"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</section>

<section id="tb-customers">
	<main>
		<a href="/industries/telecom/#tmobile"><object data="/images/customers/clear/t-mobile.svg"></object></a>
		<a href="https://www.bosch.com/"><object data="/images/customers/clear/bosch.svg"></object></a>
		<a href="https://www.prosegur.com/"><object data="/images/customers/clear/prosegur.svg"></object></a>
		<a href="http://www.engie.sk/en/kontakt"><object data="/images/customers/clear/engie.svg"></object></a>
		<a href="/industries/smart-energy/#circutor"><object data="/images/customers/clear/circutor.svg"></object></a>
		<a href="/industries/telecom/#tektelic"><object data="/images/customers/clear/tektelic.svg"></object></a>
	</main>
</section>
<section id="intro">
	<main>
		<h1><a href="docs/getting-started-guides/what-is-thingsboard/">ThingsBoard</a> is an open-source IoT platform for data collection, processing, visualization, and device management.</h1>
		<h2>It enables device connectivity via industry standard IoT protocols - MQTT, CoAP and HTTP and supports both cloud and on-premises deployments. ThingsBoard combines scalability, fault-tolerance and performance so you will never lose your data.</h2>
		<div id="cards" class="row">
			<div class="col-lg-6">
				<img src="/images/manage.svg">
				<div><a href="docs/user-guide/entities-and-relations/">Provision and manage devices and assets</a>
				<p>Provision, monitor and control your IoT entities in secure way using rich server-side APIs. Define relations between your devices, assets, customers or any other entities.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<img src="/images/vdata.svg">
				<div><a href="docs/user-guide/visualization/">Collect and visualize data</a>
					<p>Collect and store telemetry data in scalable and fault-tolerant way. Visualize your data with built-in or custom widgets and flexible dashboards. Share dashboards with your customers.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<img src="/images/react.svg">
				<div><a href="docs/user-guide/rule-engine-2-0/re-getting-started/">Process and React</a>
					<p>Define data processing rule chains. Transform and normalize your device data. Raise alarms on incoming telemetry events, attribute updates, device inactivity and user actions.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<img src="/images/micro.svg">
				<div><a href="docs/reference/msa/">Microservices</a>
					<p>Construct your ThingsBoard cluster and get maximum scalability and fault-tolerance with new microservices architecture. ThingsBoard also supports both cloud and on-premises deployments.</p>
				</div>
			</div>
		</div>
	</main>
</section>
<section id="products">
	<main>
		<div class="product-list">
    		<div>
				<h1>ThingsBoard</h1>
				<h2>Community Edition</h2>
				<h3>Bring your ideas to life</h3>
				<img src="/images/community.svg">
				<a href="/docs/">Read more</a>
			</div>
			<div class="main">
				<h1>ThingsBoard</h1>
				<h2>Cloud</h2>
				<h3>Keep everything in a secure cloud</h3>
				<img src="/images/cloud.svg">
				<a href="/products/paas/">Read more</a>
			</div>
			<div>
				<h1>ThingsBoard</h1>
				<h2>Professional Edition</h2>
				<h3>Get all the functions of ThingsBoard</h3>
				<img src="/images/professional.svg">
				<a href="/products/thingsboard-pe/">Read more</a>
			</div>
		</div>
		<div class="row justify-content-center">
			<a href="products/">View all products</a>
		</div>
	</main>
</section>

<section id="dashboard_description">
	<main>
		<h3 class="center">Real-Time IoT Dashboards</h3>
		<div class="content">
			<p class="center">ThingsBoard allows you to create rich IoT Dashboards for data visualization and remote device control in real-time.
				More than 30 customizable widgets allows you to build end-user custom dashboards for most IoT use-cases.</p>
			<div class="demo-dashboards-carousel">
				<div class="dashboard-item">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/smart-metering-dashboard.png">
						</div>
						<a href="/smart-metering/" class="overlay"></a>
					</div>
					<p class="center">Deliver and store data from smart meters in reliable and fault-tolerant way,
						visualize real-time and historical energy consumption data on customizable end-user dashboards,
						integrate with third-party analytics frameworks and solutions.</p>
					<div class="demoDashboardButton">
						<a href="/smart-metering/" class="button">Smart metering</a>
					</div>
				</div>
				<div class="dashboard-item" style="display: none;">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/energy-monitoring-dashboard.png">
						</div>
						<a href="/smart-energy/" class="overlay"></a>
					</div>
					<p class="center">Deliver and store data from smart meters in reliable and fault-tolerant way,
						visualize real-time and historical energy consumption data on customizable end-user dashboards,
						integrate with third-party analytics frameworks and solutions.</p>
					<div class="demoDashboardButton">
						<a href="/smart-energy/" class="button">Smart energy</a>
					</div>
				</div>
				<div class="dashboard-item" style="display: none;">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/silos-monitoring-dashboard.png">
						</div>
						<a href="/smart-farming/" class="overlay"></a>
					</div>
					<p class="center">Collect important indicators for your agricultural production such as weather conditions
						or facilities state via IoT sensors and visualize them using end-user customizable dashboards
						provided by ThingsBoard platform.</p>
					<div class="demoDashboardButton">
						<a href="/smart-farming/" class="button">Smart farming</a>
					</div>
				</div>
				<div class="dashboard-item" style="display: none;">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/fleet-monitoring-dashboard.png">
						</div>
						<a href="/fleet-tracking/" class="overlay"></a>
					</div>
					<p class="center">ThingsBoard platform allows to track vehicles state and alerts via various sensors,
						plot vehicle routes in real-time and browse their sensors reading history at the same time
						using customizable high quality widgets and dashboards.</p>
					<div class="demoDashboardButton">
						<a href="/fleet-tracking/" class="button">Fleet tracking</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</section>

<section id="rule_engine">
	<main>
		<h3 class="center">IoT Rule Engine</h3>
		<div class="content">
			<p class="center">ThingsBoard allows you to create complex <a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Rule Chains<a> to process data from your devices and match your application specific use cases.</p>
			<p class="center">&nbsp;</p>
			<div class="demoDashboardWrapper">
				<div class="demoRuleChain">
					<img src="images/demo/send-email-rule-chain.gif">
				</div>
				<a href="/docs/user-guide/rule-engine-2-0/re-getting-started/" class="overlay"></a>
			</div>
		</div>
	</main>
</section>

<section id="features">
	<main>
		<div class="features-title center">
			<h3>ThingsBoard Features</h3>
		</div>
		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/telemetry/">Telemetry Data Collection</a></h4>
				<p>Collect and store telemetry data in reliable way, surviving network and hardware failures.
					Access collected data using customizable web dashboards or server-side APIs.</p>
			</div>
			<div>
				<h4><a href="/docs/user-guide/ui/tenants/">Multi-tenancy</a></h4>
				<p>Support multi-tenant installations out-of-the-box. Single tenant may have multiple tenant administrators and millions of devices and customers.</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/visualization/">Data Visualization</a></h4>
				<p>Provides 30+ configurable widgets out-of-the-box and ability to create your own widgets using built-in editor.
					Built-in line-charts, digital and analog gauges, maps and much more.</p>
			</div>
			<div>
				<h4><a href="docs/reference/architecture/#clustering-mode">Horizontal scalability</a></h4>
				<p>Amount of supported server-side requests and devices increase linearly as new thingsboard servers are added in clustering mode.
					No downtime, server restarts or application errors.</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="docs/user-guide/rule-engine-2-0/re-getting-started/">IoT Rule Engine</a></h4>
				<p>Process incoming device data with flexible rule chains based on entity attributes or message content.
					Forward data to external systems or trigger alarms using custom logic. Configure complex notification chains on alarms.
					Enrich server-side functionality or manipulate your devices with highly customizable rules.
					Define your application logic with drag-n-drop rule chain designer.
				</p>
			</div>

			<div>
				<h4><a href="docs/reference/architecture/#service-discovery">Fault-tolerance</a></h4>
				<p>All thingsboard servers are identical. No master-workers or hot standby. Node failure is automatically detected.
					Failed nodes can be replaced without downtime. Persisted data is replicated using reliable NoSQL database.</p>
			</div>
		</div>
        
		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/ui/devices/">Device Management</a></h4>
				<p>Provides ability to register and manage <a href="/docs/user-guide/ui/devices/">devices</a>. Allows to monitor client-side and provision server-side <a href="/docs/user-guide/attributes/">device attributes</a>.
					Provides API for server-side applications to send <a href="/docs/user-guide/rpc/">RPC commands</a> to devices and vice-versa.</p>
			</div>

			<div>
				<h4><a href="/docs/reference/architecture/#security">Security</a></h4>
				<p>Supports transport encryption for both MQTT and HTTP(s) protocols. Supports device authentication and device credentials management.</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/ui/assets/">Asset Management</a></h4>
				<p>Provides ability to register and manage <a href="/docs/user-guide/ui/assets/">assets</a>. Allows to provision server-side <a href="/docs/user-guide/attributes/">asset attributes</a>
					and monitor related <a href="docs/user-guide/alarms/">alarms</a>. Ability to build hierarchy of entities using <a href="/docs/user-guide/entities-and-relations/">relations</a>.
			</div>
			<div>
				<h4><a href="/docs/user-guide/customization/">Customization and Integration</a></h4>
				<p>Extend default platform functionality using customizable <a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">rule chains</a>, <a href="docs/user-guide/ui/widget-library/">widgets</a> and <a href="docs/reference/protocols/">transport implementations</a>.
					In addition to MQTT, CoAP and HTTP support, ThingsBoard users can use their own transport implementations or customize behaviour of existing protocols.</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/alarms/">Alarms Management</a></h4>
				<p>Provides ability to create and manage <a href="/docs/user-guide/alarms/">alarms</a> related to your entities: devices, assets, customers, etc.
					Allows real-time alarms monitoring and alarms propagation to related entities hierarchy.
				    Raise alarms on device disconnect or inactivity events.
			</div>
			<div>
				<h4><a href="https://github.com/thingsboard/thingsboard">100&#37; Open-source</a></h4>
				<p>ThingsBoard is licensed under Apache License 2.0, so you can use any it in your commercial products for free.
					You can even host it as a SaaS or PaaS solution.</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/reference/#monolithic-vs-microservices-architecture">Microservices or Monolithic</a></h4>
				<p>Supports <a href="/docs/reference/monolithic/">monolithic</a> deployment for getting started or small environments.
					Provides ability to upgrade to <a href="/docs/reference/msa/">microservices</a> for high availability and horizontal scalability.
			</div>
			<div>
				<h4><a href="/docs/reference/#sql-vs-nosql-vs-hybrid-database-approach">SQL, NoSQL and Hybrid database</a></h4>
				<p>Supports various database options and ability to choose where to store main entities and where to store telemetry data</p>
			</div>
		</div>

	</main>
</section>

{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>

<script type="text/javascript">

	jqueryDefer(initSlick);

	jqueryDefer(function () {
		vis(function() {
			if (vis()) {
				slideUp();
			}
		});

		$('#hero-content > .tb-arrow > a, #hero-content a.learn-tb').click(function(event) {
			event.preventDefault();
			var target = $('#intro');
			$('html, body').animate({
				scrollTop: target.offset().top - 60 //header height
			}, 1000, "easeOutCirc");
		});

	});

	inViewportDefer(function() {

		$("#hero-content").inViewport(function(px){
			if($(this).height()-px >= 60) {
				$(this).addClass("arrow-hidden");
			} else {
				$(this).removeClass("arrow-hidden");
			}
		});

		$("#intro .image-wrapper, #intro .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#main-features main:nth-child(odd) .image-wrapper, #main-features main:nth-child(even) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInRight");
				return true;
			}
		});

		$("#main-features main:nth-child(even) .image-wrapper, #main-features main:nth-child(odd) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInLeft");
				return true;
			}
		});

		$("#dashboard_description main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#rule_engine main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#tb-customers .customers-container .customer-block").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .features-title").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .feature-box div").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated fadeInUp");
				return true;
			}
		});

	});

	function slideUp() {
		var headAnimations = $('#hero-content').find('.header-animation');
		for (var i=0;i<headAnimations.length;i++) {
			reinsert($(headAnimations[i]));
		}
	}

	function reinsert(el) {
		var newone = el.clone(true);
		el.before(newone);
		el.remove();
	}

	function initSlick() {
		var scriptsList = [
			{src: '/css/slick.min.css', type: 'css'},
			{src: '/css/slick-theme.min.css', type: 'css'},
			{src: '/js/slick.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
						var demoDashboardsCarousel = $('.demo-dashboards-carousel');
						$('.dashboard-item', demoDashboardsCarousel).css('display', 'block');
						demoDashboardsCarousel.slick({
							slidesToShow: 1,
							slidesToScroll: 1,
							autoplay: true,
							autoplaySpeed: 5000,
							arrows: true,
							dots: true,
							responsive: [
								{
									breakpoint: 750,
									settings: {
										arrows: false
									}
								}
							]
						});
					});
				}
		);
	}

</script>

</body>
</html>

