---
<!-- title: ThingsBoard - 开源的物联网平台 -->
title: ThingsBoard中文网
customTitle: "true"
description: ThingsBoard中文网帮助新手快速入门并提供相关的技术培训、咨询、项目定制开发等。
<!-- description: ThingsBoard是一个开源的物联网平台用于您物联网项目的设备管理、数据收集、处理和可视化。 -->
---

<!Doctype html>
<html id="home">

{% include head-header.html %}

<!--  HERO  -->
<section id="hero" class="light-text"
		 data-vide-bg="mp4: http://124.161.226.23:8081/Content/tb/index/1.mp4,
                       webm: http://124.161.226.23:8081/Content/tb/index/2.webm,
                       ogv: http://124.161.226.23:8081/Content/tb/index/3.ogv,
                       poster: /video/tb-cover.jpg"
		 data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
	<div class="video-cover"></div>
	<div id="hero-content">
		<h1 class="header-animation tb-title">ThingsBoard</h1>
        <h1 class="header-animation tb-title">开源的物联网平台</h1>
		<h4 class="header-animation tb-sub-title">物联网解决方案的设备管理、数据收集、处理和可视化</h4>
		<div class="header-animation">
			<a href="#intro" class="button learn-tb">了解更多</a>
		</div>
		<div class="tb-arrow">
			<a href="#intro"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</section>

<section id="intro" class="oceanNodes">
	<main>
		<div class="image-wrapper"><img src="images/cloud_connect.png"></div>
		<div class="content">
			<h3><a href="docs/getting-started-guides/what-is-thingsboard/">ThingsBoard</a> 是用于数据收集、处理、可视化和设备管理的开源物联网平台。</h3>
			<p>它通过行业标准的物联网协议 - MQTT、CoAP和HTTP实现设备连接，并支持云和本地部署。Thingsboard具有可伸缩性、容错性和性能优越的特点，因此您永远不会丢失数据。
			</p>
		</div>
	</main>
</section>
<section id="main-features" class="oceanNodes">
	<main>
		<div class="image-wrapper"><img src="images/device_management.svg"></div>
		<div class="content">
			<h4><a href="/docs/user-guide/entities-and-relations/">配置和管理设备和资产</a></h4>
			<p>使用丰富的服务端API以安全的方式配置、监视和控制您的IOT实体。定义您的设备、资产、客户或任何其他实体之间的关系。</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/visualize.svg"></div>
		<div class="content">
			<h4><a href="/docs/user-guide/visualization/">Collect and visualize data</a></h4>
			h4><a href="/docs/user-guide/visualization/">收集和数据可视化</a></h4>
			<p>以可扩展且容错的方式收集和存储遥测数据。使用内置或自定义的小部件以及灵活的仪表盘可视化您的数据。与客户共享仪表板</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/process_react.svg"></div>
		<div class="content">
			<h4><a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">处理和反应</a></h4>
			<p>定义数据处理规则链，转换和规范化您的设备数据。在传入的遥测事件、属性更新、设备假死和用户操作时响应警报。</p>
		</div>
	</main>
    <main>
        <div class="image-wrapper"><img src="images/msa-arch.svg"></div>
        <div class="content">
            <h4><a href="/docs/reference/msa/">微服务</a></h4>
            <p>使用新的微服务架构，构建Thingsboard集群并获得最大的可扩展性和容错能力。
				ThingsBoard还支持云和本地部署。</p>
        </div>
    </main>
</section>
<section id="tb-intro-video">
    <br/>
    <br/>
    <div id="video">
        <div id="video_wrapper">
            <iframe src="http://124.161.226.23:8081/Content/tb/index/4.mp4" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <br/>
</section>
<section id="tb-customers">
	<h3 class="center">Trusted by</h3>
	<main class="customers-container">
		<div class="customer-block">
			<a href="/industries/telecom/#tmobile">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/tmobile.png" alt="T-Mobile Czech Republic a.s.">
					 </div>
				</span>
			</a>
		</div>
        <div class="customer-block">
            <a href="https://www.bosch.com/">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/bosch.png" alt="Robert Bosch GmbH">
					 </div>
				</span>
            </a>
        </div>
        <div class="customer-block">
            <a href="http://www.engie.sk/en/kontakt">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/engie.png" alt="ENGIE Services a.s.">
					 </div>
				</span>
            </a>
        </div>
		<div class="customer-block">
			<a href="/industries/smart-energy/#circutor">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/circutor.png" alt="Circutor">
					 </div>
				</span>
			</a>
		</div>
        <div class="customer-block">
            <a href="/industries/telecom/#tektelic">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/tektelic.png" alt="TEKTELIC Communications Inc.">
					 </div>
				</span>
            </a>
        </div>
		<div class="customer-block">
			<a href="/industries/smart-energy/#oneserve">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/oneserve.svg" alt="Oneserve Limited">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="/industries/smart-energy/#nettra">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/nettra.png" alt="Nettra">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="/industries/agriculture/#enviroeye">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/enviroeye.png" alt="Enviroeye">
					 </div>
				</span>
			</a>
		</div>
        <div class="customer-block">
            <a href="/industries/smart-buildings#sensolyze">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/sensolyze.png" alt="Sensolyze GmbH">
					 </div>
				</span>
            </a>
        </div>
		<div class="customer-block">
			<a href="/industries/smart-city#x-telia">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/x-telia.png" alt="X-TELIA">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="/industries/smart-city#ositech">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/ositech.png" alt="Ositech Communications, Inc.">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="/industries/smart-energy#bei">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/bei.png" alt="Berliner Energieinstitut GmbH">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="/industries/smart-buildings#beaconzone">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/beaconzone.png" alt="BeaconZone">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="/industries/smart-energy#visible-energy">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/visible-energy.svg" alt="Visible Energy, Inc.">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="/industries/agriculture#agrolog">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/supertech-agroline.png" alt="Supertech Agroline">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="/industries/smart-energy#environmental-energy-controls">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/e2c.png" alt="Environmental Energy Controls">
					 </div>
				</span>
			</a>
		</div>
		<!--div class="customer-block">
			<a href="/industries/smart-city#conbee">
				<span>
					<div class="customer-logo" style="height:134px">
						<img width="" src="/images/customers/conbee.svg" alt="Conbee GmbH">
					 </div>
				</span>
			</a>
		</div>
		<div class="customer-block">
			<a href="https://walt-tech.com.au/">
                <span>
                    <div class="customer-logo" style="height:134px">
                        <img width="" src="/images/customers/walt-tech.gif" alt="Walt Technologies">
                     </div>
                </span>
			</a>
		</div-->
	</main>
</section>
<section id="dashboard_description">
	<main>
		<h3 class="center">实时IoT仪表盘</h3>
		<div class="content">
			<p class="center">ThingsBoard允许您创建丰富的IoT仪表盘，以实时进行数据可视化和远程设备控制。
				超过30种可自定义的小部件，使您可以在大多数IoT使用场景为终端用户构建自定义仪表盘。</p>
			<div class="demo-dashboards-carousel">
				<div class="dashboard-item">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/smart-metering-dashboard.png">
						</div>
						<a href="/smart-metering/" class="overlay"></a>
					</div>
					<p class="center">以可靠且容错的方式从智能仪表表交付和存储数据，在可定制的终端用户仪表盘上可视化实时和历史数据，并与第三方分析框架和解决方案集成。</p>
					<div class="demoDashboardButton">
						<a href="/smart-metering/" class="button">智能计量</a>
					</div>
				</div>
				<div class="dashboard-item" style="display: none;">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/energy-monitoring-dashboard.png">
						</div>
						<a href="/smart-energy/" class="overlay"></a>
					</div>
					<p class="center">以可靠且容错的方式从智能仪表表交付和存储数据，在可定制的终端用户仪表盘上可视化实时和历史能耗数据，并与第三方分析框架和解决方案集成。</p>
					<div class="demoDashboardButton">
						<a href="/smart-energy/" class="button">智能能源</a>
					</div>
				</div>
				<div class="dashboard-item" style="display: none;">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/silos-monitoring-dashboard.png">
						</div>
						<a href="/smart-farming/" class="overlay"></a>
					</div>
					<p class="center">通过物联网传感器收集农业生产的重要指标，如天气状况或设施状态，并使用ThingsBoard平台提供的终端用户可定制仪表盘将其可视化。</p>
					<div class="demoDashboardButton">
						<a href="/smart-farming/" class="button">智能农业</a>
					</div>
				</div>
				<div class="dashboard-item" style="display: none;">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/fleet-monitoring-dashboard.png">
						</div>
						<a href="/fleet-tracking/" class="overlay"></a>
					</div>
					<p class="center">ThingsBoard平台允许通过各种传感器跟踪车辆状态和警报，实时绘制车辆路线，同时使用可自定义的高质量小部件和仪表盘浏览传感器读取的历史记录。</p>
					<div class="demoDashboardButton">
						<a href="/fleet-tracking/" class="button">车辆跟踪</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</section>

<section id="rule_engine">
	<main>
		<h3 class="center">IoT规则引擎</h3>
		<div class="content">
			<p class="center">ThingsBoard允许您创建复杂的<a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">规则链<a>来处理设备中的数据并匹配您的应用程序特定用例</p>
			<p class="center">&nbsp;</p>
			<div class="demoDashboardWrapper">
				<div class="demoRuleChain">
					<img src="images/demo/send-email-rule-chain.gif">
				</div>
				<a href="/docs/user-guide/rule-engine-2-0/re-getting-started/" class="overlay"></a>
			</div>
		</div>
	</main>
</section>

<section id="features">
	<main>
		<div class="features-title center">
			<h3>ThingsBoard特性</h3>
		</div>
		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/telemetry/">遥测数据收集</a></h4>
				<p>以可靠的方式收集和存储遥测数据，以应对网络和硬件故障。使用可自定义的Web仪表盘或服务器端API访问收集的数据。</p>
			</div>
			<div>
				<h4><a href="/docs/user-guide/ui/tenants/">多租户</a></h4>
				<p>开箱即用地支持多租户安装。单个租户可能具有多个租户管理员以及数百万个设备和客户。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/visualization/">数据可视化</a></h4>
				<p>提供30多种可自定义配置的小部件，并能够使用内置编辑器创建自己的小部件。内置线图，数字和模拟仪表，地图等等。</p>
			</div>
			<div>
				<h4><a href="docs/reference/architecture/#clustering-mode">横向可扩展性</a></h4>
				<p>支持以群集的模式添加新的Thingsboard服务器以提升服务器端请求并支持更多的设备的数量。
					无停机时间、服务器重启或应用程序错误。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="docs/user-guide/rule-engine-2-0/re-getting-started/">IoT规则引擎</a></h4>
				<p>根据实体属性或消息内容，使用灵活的规则链处理传入的设备数据。
					使用自定义逻辑将数据转发到外部系统或触发警报。在警报上配置复杂的通知链。
					增强服务器端功能或使用高度可定制的规则来操作设备。使用拖放规则链设计器定义您的应用程序逻辑。
				</p>
			</div>

			<div>
				<h4><a href="docs/reference/architecture/#service-discovery">容错性</a></h4>
				<p>所有Thingsboard服务器都是相同的。没有主从或热备。自动检测到节点故障。可以在不停机的情况下更换发生故障的节点。使用可靠的NoSQL数据库复制持久数据。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/ui/devices/">设备管理</a></h4>
				<p>提供注册和管理<a href="/docs/user-guide/ui/devices/">设备</a>的功能。 允许监视客户端和服务端的<a href="/docs/user-guide/attributes/">设备属性</a>。
					为服务端应用程序提供API,以将<a href="/docs/user-guide/rpc/">RPC命令</a>发送到设备，反之亦然。</p>
			</div>

			<div>
				<h4><a href="/docs/reference/architecture/#security">安全</a></h4>
				<p>支持MQTT和HTTP协议的传输加密。支持设备认证和设备凭证管理。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/ui/assets/">资产管理</a></h4>
				<p>具有注册和管理<a href="/docs/user-guide/ui/assets/">资产</a>的功能。允许使用服务端<<a href="/docs/user-guide/attributes/">资产属性</a>
					并监视相关<a href="docs/user-guide/alarms/">警报</a>使用<a href="/docs/user-guide/entities-and-relations/">关系</a>建立实体层次结构的能力。
			</div>
			<div>
				<h4><a href="/docs/user-guide/customization/">定制和集成</a></h4>
				<p>使用可自定义的<a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">规则链</a>、<a href="docs/user-guide/ui/widget-library/">小部件</a>和<a href="docs/reference/protocols/">传输实现</a>扩展默认平台功能。
					除了MQTT、CoAP和HTTP支持之外，ThingsBoard用户还可以使用自己的传输实现或自定义现有协议的行为。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/alarms/">警报管理</a></h4>
				<p>提供了创建和管理<a href="/docs/user-guide/alarms/">警报</a>的能力，去关联你的实体:设备、资产、客户等。
					可以实时监控报警和传播到相关实体的层次结构。在设备断开连接或不活动事件时发出警报。
			</div>
			<div>
				<h4><a href="https://github.com/thingsboard/thingsboard">100&#37; 开源</a></h4>
				<p>ThingsBoard已获得Apache License 2.0的许可，因此您可以在商业产品中免费使用它。您甚至可以将其托管为SaaS或PaaS解决方案。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/reference/#monolithic-vs-microservices-architecture">微服务或单机</a></h4>
				<p>支持针对入门环境或小型环境的<a href="/docs/reference/monolithic/">单例</a>部署。
					提供升级到<a href="/docs/reference/msa/">微服务</a>的功能，以实现高可用性和水平可扩展性。
			</div>
			<div>
				<h4><a href="/docs/reference/#sql-vs-nosql-vs-hybrid-database-approach">SQL, NoSQL和混合性数据库</a></h4>
				<p>支持多种数据库选项，并能够选择在哪里存储主要实体以及在哪里存储遥测数据</p>
			</div>
		</div>

	</main>
</section>

{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>

<script type="text/javascript">

	jqueryDefer(initSlick);

	jqueryDefer(function () {
		vis(function() {
			if (vis()) {
				slideUp();
			}
		});

		$('#hero-content > .tb-arrow > a, #hero-content a.learn-tb').click(function(event) {
			event.preventDefault();
			var target = $('#intro');
			$('html, body').animate({
				scrollTop: target.offset().top - 60 //header height
			}, 1000, "easeOutCirc");
		});

	});

	inViewportDefer(function() {

		$("#hero-content").inViewport(function(px){
			if($(this).height()-px >= 60) {
				$(this).addClass("arrow-hidden");
			} else {
				$(this).removeClass("arrow-hidden");
			}
		});

		$("#intro .image-wrapper, #intro .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#main-features main:nth-child(odd) .image-wrapper, #main-features main:nth-child(even) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInRight");
				return true;
			}
		});

		$("#main-features main:nth-child(even) .image-wrapper, #main-features main:nth-child(odd) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInLeft");
				return true;
			}
		});

		$("#dashboard_description main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#rule_engine main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#tb-customers .customers-container .customer-block").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .features-title").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .feature-box div").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated fadeInUp");
				return true;
			}
		});

	});

	function slideUp() {
		var headAnimations = $('#hero-content').find('.header-animation');
		for (var i=0;i<headAnimations.length;i++) {
			reinsert($(headAnimations[i]));
		}
	}

	function reinsert(el) {
		var newone = el.clone(true);
		el.before(newone);
		el.remove();
	}

	function initSlick() {
		var scriptsList = [
			{src: '/css/slick.min.css', type: 'css'},
			{src: '/css/slick-theme.min.css', type: 'css'},
			{src: '/js/slick.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
						var demoDashboardsCarousel = $('.demo-dashboards-carousel');
						$('.dashboard-item', demoDashboardsCarousel).css('display', 'block');
						demoDashboardsCarousel.slick({
							slidesToShow: 1,
							slidesToScroll: 1,
							autoplay: true,
							autoplaySpeed: 5000,
							arrows: true,
							dots: true,
							responsive: [
								{
									breakpoint: 750,
									settings: {
										arrows: false
									}
								}
							]
						});
					});
				}
		);
	}

</script>

</body>
</html>

