---
title: ThingsBoard — Open-source IoT (Internet of Things) Platform
customTitle: "true"
description: ThingsBoard is an open-source IoT ❰Internet of Things❱ platform for device management ᐉ data collection ᐉ processing and visualization for your IoT projects
---

<!Doctype html>
<html id="home" lang="en">

{% include head-header.html productTag="ce" %}

<!--  HERO  -->
<main>
	<section id="hero" class="light-text">
		<div class="video-cover"></div>
		<div id="hero-content">
			<span class="header-animation tb-title">ThingsBoard</span>
			<span class="header-animation tb-title">Open-source IoT Platform</span>
			<h4 class="header-animation tb-sub-title">Device management, data collection, processing and visualization for your IoT solution</h4>
			<div class="header-animation">
				<a href="#intro" class="button learn-tb">Learn More</a>
			</div>
			<div class="tb-arrow">
				<a href="#intro" aria-label="Link to main heading"><i class="fa fa-chevron-down fa-2x"></i></a>
			</div>
		</div>
	</section>

	<section id="overflow">
		<section id="tb-customers">
			<div class="main-div">
				<a href="/industries/telecom/#tmobile" aria-label="T-mobile logo"><object data="https://img.thingsboard.io/customers/clear/t-mobile.svg"></object></a>
				<a href="https://www.bosch.com/" aria-label="Bosch logo"><object data="https://img.thingsboard.io/customers/clear/bosch.svg"></object></a>
				<a href="https://www.prosegur.com/" aria-label="Prosegur logo"><object data="https://img.thingsboard.io/customers/clear/prosegur.svg"></object></a>
				<a href="http://www.engie.sk/en/kontakt" aria-label="Engie logo"><object data="https://img.thingsboard.io/customers/clear/engie.svg"></object></a>
				<a href="/industries/smart-energy/#circutor" aria-label="Circutor logo"><object data="https://img.thingsboard.io/customers/clear/circutor.svg"></object></a>
				<a href="/industries/telecom/#tektelic" aria-label="Tektelic logo"><object data="https://img.thingsboard.io/customers/clear/tektelic.svg"></object></a>
			</div>
		</section>

		<section id="intro">
			<div class="main-div">
				<h1><a href="docs/getting-started-guides/what-is-thingsboard/">ThingsBoard</a> is an open-source IoT platform for data collection, processing, visualization, and device management</h1>
				<h2 class="second in-the-past-h1">It enables device connectivity via industry standard IoT protocols - MQTT, CoAP and HTTP and supports both cloud and on-premises deployments. ThingsBoard combines scalability, fault-tolerance and performance so you will never lose your data.</h2>
			</div>
		</section>

		<section id="manage">
			<div class="main-div">
				<div id="features-top">
					<div class="background">
						<div class="main1"></div><div class="small1"></div><div class="small2"></div><div class="small3"></div><div class="small4"></div>
					</div>
					<div class="block">
						<div class="feature-des"><span class="phrase-heading">Provision and manage devices and assets</span>
							<p>Provision, monitor and control your IoT entities in secure way using rich server-side APIs. Define relations between your devices, assets, customers or any other entities.</p>
							<a class="read-more-button" href="/docs/user-guide/entities-and-relations/">Read more about entities and relations<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about entities and relations arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third mobile-arrow" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="manage">
						<img class="device-list" src="/images/device-list.svg" alt="Device list with checkboxes">
						<img class="device-manage" src="/images/device-manage.svg" alt="Device managing panel">
						</div>
					</div>
					<div class="block vis">
						<div class="visualize">
							<img class="vis1" src="/images/visualize1.svg" alt="Linear chart">
							<img class="vis2" src="/images/visualize2.svg" alt="Common chart with points">
							<img class="vis3" src="/images/visualize3.svg" alt="Digital level chart">
						</div>
						<div class="feature-des"><span class="phrase-heading">Collect and visualize data</span>
							<p>Collect and store telemetry data in scalable and fault-tolerant way. Visualize your data with built-in or custom widgets and flexible dashboards. Share dashboards with your customers.</p>
							<a class="read-more-button" href="/docs/user-guide/visualization/">Read more about visualization<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about visualization arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="react">
			<div class="main-div">
				<div id="features-top-2">
					<div class="background">
						<div class="main2"></div><img src="/images/grid.svg" alt="Grid backgrount"><div class="small5"></div><div class="small6"></div>
					</div>
					<div class="block dark">
						<div class="feature-des"><span class="phrase-heading">Process and React</span>
							<p>Define data processing rule chains. Transform and normalize your device data. Raise alarms on incoming telemetry events, attribute updates, device inactivity and user actions.</p>
							<a class="read-more-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Read more about rule engine<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about rule engine arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="process">
							<img class="react" src="/images/react.svg" alt="Rule nodes chain">
							<div></div>
							<img class="add-rule" src="/images/add-rule.svg" alt="Add rule node example">
						</div>
					</div>
					<div class="block micro">
						<img src="/images/microservices.svg" alt="Microservices block schema">
						<div class="feature-des microservices"><h2>Microservices</h2>
							<p>Construct your ThingsBoard cluster and get maximum scalability and fault-tolerance with microservices architecture. ThingsBoard also supports both cloud and on-premises deployments.</p>
							<a class="read-more-button" href="/docs/reference/msa/">Read more about microservices<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about microservices arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="products">
			<div class="main-div">
				<div class="background">
					<div class="products"></div><div class="small7"></div><div class="small8"></div>
				</div>
				<h3 class="product-title">Products</h3>
				<div class="product-list">
					<div>
						<p>ThingsBoard</p>
						<h2>Community Edition</h2>
						<h3>Bring your ideas to life</h3>
						<img src="/images/community.svg" alt="Community edition block">
						<a href="/docs/">See Community Edition documentation</a>
					</div>
					<div class="main">
						<p>ThingsBoard</p>
						<h2>Cloud</h2>
						<h3>Keep everything in a secure cloud</h3>
						<img src="/images/cloud.svg" alt="Cloud edition block">
						<a href="/products/paas/">See Cloud documentation</a>
					</div>
					<div>
						<p>ThingsBoard</p>
						<h2>Professional Edition</h2>
						<h3>Get all the functions of ThingsBoard</h3>
						<img src="/images/professional.svg" alt="Professional edition block">
						<a href="/products/thingsboard-pe/">See Professional Edition documentation</a>
					</div>
				</div>
				<div class="row justify-content-center">
					<a href="products/">View all products</a>
				</div>
			</div>
		</section>

		<section id="dashboard_description">
			<div class="main-div">
				<div class="background">
					<div class="dashboards"></div><div class="small9"></div><div class="small10"></div>
				</div>
				<h3>Real-Time IoT Dashboards</h3>
				<p>ThingsBoard allows you to create rich IoT Dashboards for data visualization and remote device control in real-time. More than 30 customizable widgets allows you to build end-user custom dashboards for most IoT use-cases.</p>
				<div class="usecase-carousel owl-carousel owl-theme">
					<div class="dashboard-item">
						<div class="item-description">
							<h2>Smart energy</h2>
							<p>Deliver and store data from smart meters in reliable and fault-tolerant way, visualize real-time and historical energy consumption data on customizable end-user dashboards, integrate with third-party analytics frameworks and solutions.</p>
							<a class="read-more-button dash" href="/smart-energy/">Smart energy use case<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="More information about Smart energy posibilities arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/smart-energy/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg" alt="See more about Smart energy">See more about Smart energy</div></div><img class="item-image" src="/images/usecases/smart-energy/se4.png" alt="Smart energy dashbort example" loading="lazy"></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>Smart farming</h2>
							<p>Collect important indicators for your agricultural production such as soil conditions or facilities state via IoT sensors and visualize them using end-user customizable dashboards provided by ThingsBoard platform.</p>
							<a class="read-more-button dash" href="/smart-farming/">Smart farming use case<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="More information about Smart farming arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/smart-farming/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg" alt="See more about Smart farming">See more about Smart farming</div></div><img class="item-image" src="/images/usecases/smart-farming/sf1.png" alt="Smart farming dashbort example" loading="lazy"></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>Fleet tracking</h2>
							<p>ThingsBoard platform allows to track vehicles state and alerts via various sensors, plot vehicle routes in real-time and browse their sensors reading history at the same time using customizable high quality widgets and dashboards.</p>
							<a class="read-more-button dash" href="/fleet-tracking/">Fleet tracking use case<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="More information about fleet tracking arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/fleet-tracking/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg" alt="See more about Fleet tracking">See more about Fleet tracking</div></div><img class="item-image" src="/images/usecases/fleet-tracking/ft3.png" alt="Fleet tracking dashbort example" loading="lazy"></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>Smart metering</h2>
							<p>Collect, store and aggregate data from smart meters in reliable and fault-tolerant way. Analyze resource consumption and raise alerts on leakage, anomaly or fraud. Present results of the analysis to end users.</p>
							<a class="read-more-button dash" href="/smart-metering/">Smart metering use case<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="More information about smart metering arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/smart-metering/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg" alt="See more about Smart metering">See more about Smart metering</div></div><img class="item-image" src="/images/usecases/smart-metering/sm1.png" alt="Smart metering dashbort example" loading="lazy"></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>Environment Monitoring</h2>
							<p>Monitor and analyze indoor and outdoor environments using a wide range of sensors. ThingsBoard supports data acquisition using modern connectivity technologies and protocols: NB IoT, LoRaWAN, SigFox, MQTT, CoAP, HTTP, LwM2M, and others.</p>
							<a class="read-more-button dash" href="/use-cases/environment-monitoring/">Environment Monitoring use case<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="More information about environment monitoring arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/use-cases/environment-monitoring/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg" alt="See more about Environment monitoring">See more about Environment Monitoring</div></div><img class="item-image" src="/images/usecases/environment-monitoring/em1.png" alt="Environment monitoring dashbort example" loading="lazy"></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>Smart Office</h2>
							<p>Ensure employee health and safety to boost organization productivity. Optimize resource consumption by monitoring and control of the office indoor climate. ThingsBoard provides rich data visualization, powerful processing engine, remote control and OTA updates capabilities.</p>
							<a class="read-more-button dash" href="/use-cases/smart-office/">Smart Office use case<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="More information about smart office arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/use-cases/smart-office/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg" alt="See more about Smart office">See more about Smart Office</div></div><img class="item-image" src="/images/usecases/smart-office/so1.png" alt="Smart office dashbort example" loading="lazy"></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>Water Metering</h2>
							<p>Enable water consumption data collection, analysis and fraud detection using ThingsBoard. Use interactive dashboards that allow administrators and end-users to browse the state of the water meters and aggregated water consumption statistics. Enable alarms over SMS and email and integrate with external billing systems.</p>
							<a class="read-more-button dash" href="/use-cases/water-metering/">Water Metering use case<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="More information about water metering arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/use-cases/water-metering/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg" alt="See more about Water metering">See more about Water Metering</div></div><img class="item-image" src="/images/usecases/water-metering/wm4.png" alt="Water metering dashbort example" loading="lazy"></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>Smart Retail</h2>
							<p>Control quality of food storage by monitoring chillers and freezers. Ensure availability of the goods using smart shelves. Ensure safety using motion detection and fire alarms. ThingsBoard provides a solution template to monitor supermarket assets, browse historical data and generate alarms based on user-defined thresholds.</p>
							<a class="read-more-button dash" href="/use-cases/smart-retail/">Smart Retail use case<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="More information about smart retail arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/use-cases/smart-retail/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg" alt="See more about Smart retail">See more about Smart Retail</div></div><img class="item-image" src="/images/usecases/smart-retail/sr3.png" alt="Smart retail dashbort example" loading="lazy"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<a href="products/">View all products</a>
			</div>
		</section>

		<section id="rule-engine">
			<div class="main-div">
				<div class="rule hidden" data-loading="false">
					<a class="rule-button img-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg" alt="Getting started with rule engine">See more about IoT Rule Engine</div></div><img src="images/demo/send-email-rule-chain.gif" alt="Send email rule chain creation" loading="lazy"></a>
					<div class="des"><h3>IoT Rule Engine</h3>
						<p>ThingsBoard allows you to create complex <a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Rule Chains</a> to process data from your devices and match your application specific use cases.</p>
						<a class="read-more-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Read more about rule engine<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about rule engine arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
					</div>
				</div>
			</div>
		</section>

		<section id="bottom-features">
			<div class="main-div">
				<div class="background">
					<div class="bottom-features1"></div><div class="bottom-features2"></div><div class="small11"></div><div class="small12"></div><div class="bottom-features3"></div><div class="small13"></div><div class="small14"></div><div class="small15"></div>
				</div>
				<h3>ThingsBoard Features</h3>
				<div id="cards" class="row">
					<div class="col-lg-6">
						<div class="block">
							<img src="/images/telemetry-icon.svg" alt="Telemetry data collection">
							<div>
								<a class="title" href="/docs/user-guide/telemetry/">Telemetry Data Collection</a>
								<p>Collect and store telemetry data in reliable way, surviving network and hardware failures. Access collected data using customizable web dashboards or server-side APIs.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/tenancy-icon.svg" alt="Multi tenancy available">
							<div>
							<a class="title" href="/docs/user-guide/ui/tenants/">Multi-tenancy</a>
							<p>Support multi-tenant installations out-of-the-box. Single tenant may have multiple tenant administrators and millions of devices and customers.
							</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/visualization-icon.svg" alt="Data visualization providing">
							<div>
							<a class="title" href="/docs/user-guide/visualization/">Data Visualization</a>
							<p>Provides 30+ configurable widgets out-of-the-box and ability to create your own widgets using built-in editor. Built-in line-charts, digital and analog gauges, maps and much more.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/scalability-icon.svg" alt="Scalability available">
							<div>
								<a class="title" href="/docs/reference/#thingsboard-services">Horizontal scalability</a>
								<p>Amount of supported server-side requests and devices increase linearly as new thingsboard servers are added in clustering mode. No downtime, server restarts or application errors.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/engine-icon.svg" alt="IoT rule engine">
							<div>
								<a class="title" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">IoT Rule Engine</a>
								<p>Process incoming device data with flexible rule chains based on entity attributes or message content. Forward data to external systems or trigger alarms using custom logic. Configure complex notification chains on alarms. Enrich server-side functionality or manipulate your devices with highly customizable rules. Define your application logic with drag-n-drop rule chain designer.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/tolerance-icon.svg" alt="Fault tolerance">
							<div>
								<a class="title" href="/docs/reference/#thingsboard-services">Fault-tolerance</a>
								<p>All thingsboard servers are identical. No master-workers or hot standby. Node failure is automatically detected. Failed nodes can be replaced without downtime. Persisted data is replicated using reliable NoSQL database.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/device-icon.svg" alt="Device management">
							<div>
								<a class="title" href="/docs/user-guide/ui/devices/">Device Management</a>
								<p>Provides ability to register and manage devices. Allows to monitor client-side and provision server-side <a href="/docs/user-guide/attributes/">device attributes</a>. Provides API for server-side applications to send <a href="/docs/user-guide/rpc/">RPC commands</a> to devices and vice-versa.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/security-icon.svg" alt="Security propagate">
							<div>
								<a class="title" href="/docs/user-guide/device-credentials/">Security</a>
								<p>Supports transport encryption for both MQTT and HTTP(s) protocols. Supports device authentication and device credentials management.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/asset-icon.svg" alt="Asset management ability">
							<div>
								<a class="title" href="/docs/user-guide/ui/assets/">Asset Management</a>
								<p>Provides ability to register and manage assets. Allows to provision server-side <a href="/docs/user-guide/attributes/">asset attributes</a> and monitor related <a href="/docs/user-guide/alarms/">alarms</a>. Ability to build hierarchy of entities using <a href="/docs/user-guide/entities-and-relations/">relations</a>.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/integration-icon.svg" alt="Customization and integration">
							<div>
								<a class="title" href="/docs/user-guide/contribution/how-to-contribute/">Customization and Integration</a>
								<p>Extend default platform functionality using customizable <a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">rule chains</a>, <a href="/docs/user-guide/ui/widget-library/">widgets</a> and <a href="/docs/reference/protocols/">transport implementations</a>. In addition to MQTT, CoAP and HTTP support, ThingsBoard users can use their own transport implementations or customize behaviour of existing protocols.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/alarms-icon.svg" alt="Alarms management">
							<div>
								<a class="title" href="/docs/user-guide/alarms/">Alarms Management</a>
								<p>Provides ability to create and manage <a href="/docs/user-guide/alarms/">alarms</a> related to your entities: devices, assets, customers, etc. Allows real-time alarms monitoring and alarms propagation to related entities hierarchy. Raise alarms on device disconnect or inactivity events.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/opensource-icon.svg" alt="100% Open-source platform">
							<div>
								<a class="title" href="https://github.com/thingsboard/thingsboard">100% Open-source</a>
								<p>ThingsBoard is licensed under Apache License 2.0, so you can use any it in your commercial products for free. You can even host it as a SaaS or PaaS solution.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/microservices-icon.svg" alt="Microservices or monolithic">
							<div>
								<a class="title" href="/docs/reference/#monolithic-vs-microservices-architecture">Microservices or Monolithic</a>
								<p>Supports <a href="/docs/reference/monolithic/">monolithic</a> deployment for getting started or small environments. Provides ability to upgrade to <a href="/docs/reference/msa/">microservices</a> for high availability and horizontal scalability.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/database-icon.svg" alt="SQL, NoSQL and Hybrid database approach">
							<div>
								<a class="title" href="/docs/reference/#sql-vs-nosql-vs-hybrid-database-approach">SQL, NoSQL and Hybrid database</a>
								<p>Supports various database options and ability to choose where to store main entities and where to store telemetry data</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</main>

{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}

	#rule-engine .rule.hidden {
		display: none
	}
</style>

<script>
	var isMobile = window.innerWidth < 768 || /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
	var videoSection = document.querySelector('#hero.light-text');

	if (isMobile) {
		videoSection.setAttribute('style', 'background: center no-repeat url(https://img.thingsboard.io/tb-cover.jpg)');
	} else {
		videoSection.setAttribute('data-vide-bg', `mp4: https://video.thingsboard.io/tb-cover2.mp4,
											  webm: https://video.thingsboard.io/tb-cover2.webm,
											  ogv: https://video.thingsboard.io/tb-cover2.ogv,
											  poster: https://img.thingsboard.io/tb-cover.jpg`);
		videoSection.setAttribute('data-vide-options', 'bgColor: #000000, loop: true, muted: true, posterType: jpg');
	}

</script>


<script>

	jqueryDefer(initOwl);

	jqueryDefer(function () {
		vis(function() {
			if (vis()) {
				slideUp();
			}
		});

		$('#hero-content > .tb-arrow > a, #hero-content a.learn-tb').click(function(event) {
			event.preventDefault();
			var target = $('#intro');
			$('html, body').animate({
				scrollTop: target.offset().top - 60 //header height
			}, 1000, "easeOutCirc");
		});

	});

	inViewportDefer(function() {

		$("#hero-content").inViewport(function(px){
			if($(this).height()-px >= 60) {
				$(this).addClass("arrow-hidden");
			} else {
				$(this).removeClass("arrow-hidden");
			}
		});

		$("#intro .image-wrapper, #intro .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#main-features main:nth-child(odd) .image-wrapper, #main-features main:nth-child(even) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInRight");
				return true;
			}
		});

		$("#main-features main:nth-child(even) .image-wrapper, #main-features main:nth-child(odd) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInLeft");
				return true;
			}
		});

		$("#rule_engine main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#tb-customers .customers-container .customer-block").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .features-title").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .feature-box div").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated fadeInUp");
				return true;
			}
		});

	});

	function slideUp() {
		var headAnimations = $('#hero-content').find('.header-animation');
		for (var i=0;i<headAnimations.length;i++) {
			reinsert($(headAnimations[i]));
		}
	}

	function reinsert(el) {
		var newone = el.clone(true);
		el.before(newone);
		el.remove();
	}

	function initOwl() {
		var scriptsList = [
            {src: '/css/owl.carousel.min.css', type: 'css'},
            {src: '/css/owl.theme.default.min.css', type: 'css'},
            {src: '/js/owl.carousel.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
                        $('.owl-carousel').owlCarousel({
                            items:1,
                            margin:50,
                            stagePadding: 0,
                            autoHeight:true,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:5000,
                            autoplayHoverPause:true,
                            nav:false,
                            responsive: {
                                1025: {
                                    nav:true,
                                }
                            }
						});
					});
				}
		);
	}

</script>

{% include cookie-consent.html %}

</body>
</html>

