@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap')

$step05: 750px
$step1: 960px
$step2: 1025px
$step3: 1250px
$step4: 1500px

#custom-development-reviews
    footer
        position: unset
    
    section
        position: relative
        padding: 0 130px

    #encyclopedia
        padding: 130px 0
        position: relative
        #content
            position: inherit

    .back-button
        display: flex

        color: #727381
        font-family: Poppins
        font-size: 24px
        font-style: normal
        font-weight: 500
        line-height: 30px
        letter-spacing: 0.024px

        padding: 10px
        margin-bottom: 86px
        align-items: center

        .icon
            margin-right: 14px
            display: flex

    .header
        display: flex
        margin-bottom: 80px

        .title
            color: #333
            font-family: Poppins
            font-size: 48px
            font-style: normal
            font-weight: 600
            line-height: 68px
            letter-spacing: 0.48px

    .side-title
        margin-top: 10px
        margin-right: 91px
        z-index: 2
        h1
            display: inline-flex
            flex-direction: column
            align-items: flex-start
            gap: 4px
            border-radius: 6px
            border: 2px solid #ADA3E0
            padding: 7px 20px

            color: #3622A4
            text-align: center
            font-family: Poppins
            font-size: 22px
            font-style: normal
            font-weight: 600
            line-height: 30px
            letter-spacing: 0.22px
            text-transform: uppercase

    #review-asg
        padding-bottom: 150px
        &::before
            content: ""
            border-radius: 1478px
            background: rgba(62, 103, 251, 0.16)
            filter: blur(250px)
            position: absolute
            width: 100%
            height: 100%

    #review-superbockgroup
        padding-top: 200px
        padding-bottom: 120px

    #review-kalitec
        padding: 120px 130px
        background: #F7F9FC
        z-index: 1

    #review-ionatech
        padding: 120px 130px
        background: #F7F9FC
        z-index: 1

    .get-in-touch
        position: relative
        display: flex
        background-color: white
        padding: 150px 130px 200px 130px

        .section-title
            margin-right: 94px

        .info
            margin-right: 70px

        .side-title
            margin-top: 15px
            margin-right: 94px

        .section-title
            max-width: 700px
            min-width: 700px
            line-height: 68px
            margin-right: 40px

            color: #333
            font-family: Poppins
            font-size: 48px
            font-style: normal
            font-weight: 600
            line-height: 76px
            letter-spacing: 0.48px
            padding-bottom: 30px
        
        .section-text
            color: #5E5F62
            font-family: Poppins
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 28px
            letter-spacing: 0.016px
            max-width: 470px

        .contact-form
            padding-top: 30px
            z-index: 2
            .form-element
                margin-bottom: 28px
                label
                    position: relative
                    p
                        color: rgba(0, 0, 0, 0.54)
                        font-size: 12px
                        font-style: normal
                        font-weight: 400
                        line-height: 16px
                        letter-spacing: 0.4px
                        position: absolute
                        top: -8px
                        left: 10px
                        z-index: 2
                        padding: 0px 5px
                        background: white

        .cdu-form-control
            color: #898B8F
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 24px
            letter-spacing: 0.15px
            border-radius: 4px
            border: 1px solid rgba(0, 0, 0, 0.12)
            padding: 16px 18px
        
        .cdu-button
            padding: 15px
            border-radius: 6px
            color: white
            background-color: #3622A4
            width: 100%

    .review
        display: flex
        position: relative
        flex-direction: column
        width: 100%
        padding: 0 290px
        z-index: 2

        .logo
            display: flex
            margin-bottom: 30px

        .review-header
            color: #2E2F3B
            font-family: Poppins
            font-size: 28px
            font-style: normal
            font-weight: 500
            line-height: 40px
            letter-spacing: 0.028px
            margin-bottom: 20px

        .review-body
            max-width: 900px
            h6, h5
                color: #5E5F62
                font-family: Poppins
                font-size: 22px
                font-style: normal
                font-weight: 400
                line-height: 40px
                letter-spacing: 0.022px
            h6
                margin-bottom: 22px
            
            h5
                margin-bottom: 5px
    
    .bg-rectangle
        position: absolute
        width: 692px
        height: 659px
        transform: rotate(36.145deg)
        flex-shrink: 0
        border-radius: 60px
        opacity: 0.3
        background: #E9EBFB
        z-index: 0

    #rectangle1
        top: 20%
        left: 82%

    #rectangle2
        top: 45%
        left: -10%

    #rectangle3
        top: 20%
        left: 82%

    #rectangle4
        top: 45%
        left: -10%

#custom-development
    #hero
        height: 100vh //calc(100vh + 5px)
        padding-top: 100px
        background-color: #F8F9FD
        overflow: hidden
        &::before
            background: url("/images/custom-development/graph-line.svg") no-repeat center / contain
            content: ''
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            transform: translateY(-11%)
            opacity: 0
            animation-name: backgroundFadeout
            animation-duration: 1000ms
            animation-timing-function: cubic-bezier(0.25, 0.46, 0.4, 1)
            animation-fill-mode: forwards
            animation-delay: 100ms

        .hero-container
            height: 100%
            display: flex
            flex-direction: column
            position: relative
            margin: 0 20px
            &::before
                background: rgba(62, 103, 251, 0.30)
                filter: blur(250px)
                content: ''
                display: block
                position: absolute
                width: 50%
                height: 90%
                margin: 18% 25%

            #hero-content
                // height: 100%
                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: center
                text-align: initial
                z-index: 1
                padding-top: 60px

                animation-name: slideup-in
                animation-duration: 1000ms
                animation-timing-function: cubic-bezier(0.25, 0.46, 0.4, 1)
                animation-fill-mode: forwards

                .cdu-title
                    color: #313251
                    text-align: center
                    font-family: Poppins
                    font-size: 56px
                    font-style: normal
                    font-weight: 500
                    line-height: 76px
                    letter-spacing: -0.84px

                .cdu-sub-title
                    color: #4F5662
                    text-align: center
                    font-family: Poppins
                    font-size: 24px
                    font-style: normal
                    font-weight: 400
                    line-height: 40px
                    letter-spacing: 0.036px
                    width: 40%

            .hero-image
                display: flex
                align-items: center
                width: 100%
                height: 100%
                position: relative

                .image-wrapper
                    width: 100%
                    height: 100%
                    position: absolute

                    #icon-laptop
                        z-index: 1
                        opacity: 0
                        transform: translateY(-2%)
                        animation-name: fadeoutCenter
                        animation-duration: 750ms
                        animation-timing-function: cubic-bezier(0.07, 0.43, 0.17, 0.81)
                        animation-fill-mode: forwards

                    #icon-phone
                        z-index: 1
                        transform: translate(-108%, 28%)
                        opacity: 0
                        animation-name: fadeoutLeft
                        animation-duration: 1500ms
                        animation-timing-function: cubic-bezier(0.07, 0.43, 0, 1)
                        animation-fill-mode: forwards
                        animation-delay: 500ms
                
                .schedule-block
                    position: absolute
                    background-color: white
                    width: 344px
                    height: 401px
                    box-shadow: 0px 0px 10px 0px rgba(16, 14, 111, 0.10)
                    border-radius: 20px
                    transform: translate(300%, 0%)
                    opacity: 0

                    animation-name: fadeoutRight
                    animation-duration: 1000ms
                    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
                    animation-fill-mode: forwards
                    animation-delay: 1000ms

                    padding: 60px 24px 40px 24px

                    display: flex
                    flex-direction: column
                    align-items: center

                    #progress
                        position: absolute

                    .result-number
                        color: #1E1B39
                        text-align: center
                        font-feature-settings: 'clig' off, 'liga' off
                        font-family: Inter
                        font-size: 49px
                        font-style: normal
                        font-weight: 700
                        line-height: 60px
                        margin-top: 75px

                    .result-text
                        color: #1E1B39
                        text-align: center
                        font-feature-settings: 'clig' off, 'liga' off

                        font-family: Inter
                        font-size: 18px
                        font-style: normal
                        font-weight: 400
                        line-height: 32px
                        margin-top: 20px
                        margin-bottom: 54px

                    .button
                        border-radius: 6px
                        background: #3622A4
                        width: 100%
                        height: 60px

    section
        padding: 0
    .absolute-image
        position: absolute

    .customers
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        z-index: 1

        border-radius: 10px
        background: rgba(255, 255, 255, 0.20)
        box-shadow: 0px 0px 10px 0px rgba(21, 29, 111, 0.08)
        backdrop-filter: blur(25px)

        .title
            color: #3D3E40
            text-align: center
            font-family: Poppins
            font-size: 20px
            font-style: normal
            font-weight: 400
            line-height: 32px
            letter-spacing: 0.2px

            padding: 44px 0 39px 0

        .customer-logos
            width: 100%
            display: flex
            justify-content: space-evenly
            flex-wrap: wrap
            padding-bottom: 56px

            .logo
                display: flex

    .cdu-services
        padding: 200px 0 0px 0
        background-color: white


        .header
            display: flex
            flex-direction: row
            align-items: flex-start
            padding: 0 120px
            opacity: 0
            transform: translate3d(0, 45px, 0)

        .header-animation
            animation-name: slideup-in
            animation-duration: 1000ms
            animation-timing-function: cubic-bezier(.25, .46, .4, 1)
            animation-fill-mode: forwards

            .side-title
                margin-right: 100px
                min-width: 202px
                margin-top: 14px

            .section-title
                max-width: 700px
                min-width: 700px
                line-height: 68px
                margin-right: 40px
            
            .section-text
                margin-top: 12px
        
        .poc
            position: relative
            display: flex
            justify-content: space-between
            padding: 110px 120px
            z-index: 1

            #solution-widget-1
                top: 34%
                left: 40%

            #solution-widget-2
                top: 65%
                left: 29%

            .right-block
                display: flex
                flex-direction: column
                justify-content: center
                max-width: 410px

        .mvp
            position: relative
            padding: 80px 202px 80px 137px
            display: flex
            justify-content: space-between
            align-items: center
            z-index: 2

            border-radius: 10px
            background: rgba(255, 255, 255, 0.20)
            box-shadow: 0px 0px 10px 0px rgba(21, 29, 111, 0.08)
            backdrop-filter: blur(25px)

            .left-block
                max-width: 620px

            #solution-widget-3
                top: 42%
                left: 61%

        .market-solution
            position: relative
            padding: 120px 130px 360px 130px
            display: flex
            justify-content: space-between
            z-index: 1
            background-color: white

            .left-block
                padding-left: 230px
                z-index: 1

                #solution-market-solution2
                    top: 32%
                    left: 7%

            .right-block
                padding-top: 76px
                max-width: 520px

        .additionally
            position: relative
            padding: 100px 130px
            display: flex
            flex-direction: column
            z-index: 0
            
            .side-title
                z-index: 1
                margin-bottom: 40px

            .info
                display: flex
                z-index: 1
                .left-block
                    max-width: 1000px
                    .section-title
                        line-height: 68px

                .right-block
                    padding: 62px 0 0 200px
                    button
                        border-radius: 6px
                        border: 1px solid #3622A4
                        background: #F7F9FC
                        color: #3622A4
                        text-align: center
                        font-family: Poppins
                        font-size: 20px
                        font-style: normal
                        font-weight: 500
                        line-height: 40px
                        letter-spacing: 0.03px
                        padding: 10px 70px

            #additionally-bg1
                position: absolute
                width: 708px
                height: 727px
                flex-shrink: 0
                border-radius: 527px
                background: #918FF6
                filter: blur(250px)
                top: 50%
                left: -10%

            #additionally-bg2
                position: absolute
                width: 508px
                height: 527px
                flex-shrink: 0
                border-radius: 527px
                background: #949EF2
                filter: blur(250px)
                top: -5%
                left: 80%

    .testimonials
        position: relative
        background: white
        padding: 180px 130px 30px 130px
        display: flex
        flex-direction: column
        .upper-block
            display: flex
            .side-title
                margin-top: 20px
                margin-right: 94px
            
            .sectino-title
                line-height: 68px

        .review-slider
            display: flex
            justify-content: center

            .reviews
                margin: 0px 100px
                max-width: 1000px
                display: flex
                overflow-x: hidden
                scroll-behavior: smooth

                // .review
                //     min-width: 1000px

                .review
                    display: flex
                    position: relative
                    flex-direction: column
                    width: 100%
                    z-index: 2
                    min-width: 1000px

                    .logo
                        display: flex
                        margin-bottom: 30px

                    .review-header
                        color: #2E2F3B
                        font-family: Poppins
                        font-size: 28px
                        font-style: normal
                        font-weight: 500
                        line-height: 40px
                        letter-spacing: 0.028px
                        margin-bottom: 20px

                    .review-body
                        max-width: 900px
                        h6, h5
                            color: #5E5F62
                            font-family: Poppins
                            font-size: 22px
                            font-style: normal
                            font-weight: 400
                            line-height: 40px
                            letter-spacing: 0.022px
                        h6
                            margin-bottom: 22px
                        
                        h5
                            margin-bottom: 5px

                    .full-review-link
                        color: #3622A4
                        font-family: Poppins
                        font-size: 22px
                        font-style: normal
                        font-weight: 600
                        line-height: 32px
                        letter-spacing: 0.022px
                        margin-top: 45px
                

    .get-in-touch
        position: relative
        display: flex
        background-color: white
        padding: 150px 130px 200px 130px

        .section-title
            margin-right: 94px

        .info
            margin-right: 70px
            z-index: 2

        .side-title
            margin-top: 15px
            margin-right: 94px

        .section-title
            max-width: 610px
            line-height: 68px
        
        .section-text
            max-width: 470px

        .contact-form
            padding-top: 30px
            z-index: 2
            .form-element
                margin-bottom: 28px
                label
                    position: relative
                    p
                        color: rgba(0, 0, 0, 0.54)
                        font-size: 12px
                        font-style: normal
                        font-weight: 400
                        line-height: 16px
                        letter-spacing: 0.4px
                        position: absolute
                        top: -8px
                        left: 10px
                        z-index: 2
                        padding: 0px 5px
                        background: white

        .cdu-form-control
            color: #898B8F
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 24px
            letter-spacing: 0.15px
            border-radius: 4px
            border: 1px solid rgba(0, 0, 0, 0.12)
            padding: 16px 18px
        
        .cdu-button
            padding: 15px
            border-radius: 6px
            color: white
            background-color: #3622A4
            width: 100%

    

    .side-title
        z-index: 2
        h1
            display: inline-flex
            flex-direction: column
            align-items: flex-start
            gap: 4px
            border-radius: 6px
            border: 2px solid #ADA3E0
            padding: 7px 20px

            color: #3622A4
            text-align: center
            font-family: Poppins
            font-size: 22px
            font-style: normal
            font-weight: 600
            line-height: 30px
            letter-spacing: 0.22px
            text-transform: uppercase

    .section-title
        color: #333
        font-family: Poppins
        font-size: 48px
        font-style: normal
        font-weight: 600
        line-height: 76px
        letter-spacing: 0.48px
        padding-bottom: 30px
    
    .section-text
        color: #5E5F62
        font-family: Poppins
        font-size: 16px
        font-style: normal
        font-weight: 400
        line-height: 28px
        letter-spacing: 0.016px


    .section-list
        li
            list-style-type: disc
            margin-left: 30px
            color: #5E5F62
            font-family: Poppins
            font-size: 22px
            font-style: normal
            font-weight: 400
            line-height: 32px
            letter-spacing: 0.022px
            padding-bottom: 24px
            opacity: 0

    .section-list-animation
        $delay: 500ms
        li
            animation-name: slideup-in
            animation-duration: 1000ms
            animation-timing-function: cubic-bezier(.25, .46, .4, 1)
            animation-fill-mode: forwards
            animation-delay: $delay

            @for $i from 1 through 8
                &:nth-child(#{$i + 1})
                    animation-delay: calc(#{$delay} + calc(#{$i} * 200ms))

    .base-image
        opacity: 0.5
        transform: scale(0.8)

    .base-image-animation
        animation-name: baseImageAppear
        animation-duration: 500ms
        animation-timing-function: cubic-bezier(.25, .46, .4, 1)
        animation-fill-mode: forwards

        
    .secondary-image
        opacity: 0
        transform: scale(0)

    .secondary-image-animation
        animation-name: secondaryImageAppear
        animation-duration: 750ms
        animation-timing-function: cubic-bezier(.25, .46, .4, 1)
        animation-fill-mode: forwards

        &:nth-child(2)
            animation-delay: 200ms



    .number
        position: absolute

    .bg-rectangle
        position: absolute
        width: 692px
        height: 659px
        transform: rotate(36.145deg)
        flex-shrink: 0
        border-radius: 60px
        opacity: 0.3
        background: #E9EBFB
        z-index: 0



    #rectangle1
        top: 20%
        left: 82%

    #rectangle2
        top: 80%
        left: 82%

    #rectangle3
        top: 90%
        left: -10%

    #number-one
        top: 35%
        left: 62%

    #number-two
        top: 12%
        left: 33%

    #number-three
        top: 45%
        left: 54%

    .header
        margin: 0 0 20px
        font-size: 20px
        font-weight: 600
        color: #434343
    .text
        font-size: 16px
        color: #666666
    .accent-text
        font-weight: 600
        font-size: 14px
        line-height: 1.5
        color: #5555FF
        text-transform: uppercase
    .triangle-right
        display: inline-block
        width: 0
        height: 0
        border-top: 8px solid transparent
        border-left: 16px solid #55f
        border-bottom: 8px solid transparent
        margin-left: 9px
        transition: .3s
    .accent-btn
        background: #5555FF
        border-radius: 4px
        line-height: 1.5
        padding: 13px 0
        font-size: 16px
        color: #FFFFFF
        width: 100%
        text-align: center
        border: 1px solid #55f
        &:hover
            background-color: #452CDC
            border: 1px solid #452CDC

    // .accent-circle
    //     position: relative
    //     &::before
    //         content: ''
    //         display: block
    //         position: absolute
    //         left: 0
    //         top: 0
    //         transform: translate(-50%, -50%)
    //         width: 400px
    //         height: 400px
    //         background: rgba(85, 85, 255, 0.06)
    //         filter: blur(50px)
    // .accent-circle-center
    //     &::before
    //         left: 50%
    //         top: 50%

    // .main-bg
    //     padding: 20px 0


    // .trendz-features
    //     margin: 0 0 60px

    //     .main-bg
    //         &:nth-child(odd)
    //             main
    //                 flex-direction: column-reverse
    //         &:nth-child(even)
    //             main
    //                 flex-direction: column-reverse

    //     .pricing-prompt
    //         display: flex
    //         flex-direction: row
    //         background: #30557f
    //         color: #fff
    //         padding: 16px
    //         margin: 15px -15px
    //         .prompt-image-container
    //             margin-right: 15px
    //         .pricing-prompt-title
    //             padding-bottom: 15px
    //             text-align: center
    //         p
    //             font-size: 18px
    //             text-align: center
    // .flyout-button
    //     display: none

    // .header-animation
    //     max-width: 100%
    //     opacity: 0
    //     transform: translate3d(0, 45px, 0)
    //     animation-name: slideup-in
    //     animation-duration: 600ms
    //     animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
    //     animation-fill-mode: forwards

    // .header-animation:nth-child(1)
    //     animation-delay: 0ms

    // .header-animation:nth-child(2)
    //     animation-delay: 300ms

    // .header-animation:nth-child(3)
    //     animation-delay: 600ms

    // .header-animation:nth-child(4)
    //     animation-delay: 900ms

    // .header-animation:nth-child(5)
    //     animation-delay: 1200ms

    // .btn-block
    //     display: flex
    //     align-items: center
    //     justify-content: center
    //     gap: 10px
    //     padding: 0 20px
    //     width: 100%
    //     flex-direction: column
    //     div
    //         width: 100%
    // .try-pe
    //     font-size: 16px
    //     line-height: 1.5
    //     width: 100%
    //     padding: 13px 0
    //     text-align: center
    //     cursor: pointer
    //     border: 1px solid #5555FF
    //     background-color: transparent
    //     transition: 0.6s
    //     color: #5555FF
    //     &:hover
    //         background: #5555FF
    //         color: #FFFFFF
    //         filter: unset
    // .link-container
    //     margin-left: 20px
    // .link
    //     font-weight: 500
    //     font-size: 16px
    //     line-height: 1.5
    //     text-decoration-line: underline
    //     color: #5555FF
    //     position: relative
    //     transition: 0.6s
    //     &::after
    //         content: ''
    //         display: block
    //         height: 16px
    //         width: 16px
    //         mask: url('/images/trendz/arrow-right.svg') no-repeat 50% 50%
    //         -webkit-mask: url('/images/trendz/arrow-right.svg') no-repeat 50% 50%
    //         mask-size: cover
    //         -webkit-mask-size: cover
    //         background-color: #5555FF
    //         position: absolute
    //         top: 50%
    //         transform: translateY(-50%)
    //         transition: 0.3s
    //         right: -25px
    //     &:hover
    //         color: #452CDC
    //         &:after
    //             right: -35px
    //             background-color: #452CDC

    // .try-button-block
    //     padding: 0 0 64px
    //     text-align: center

    // .accent-bg
    //     background: #F3F3FF
    //     padding: 60px 0
    //     main
    //         justify-content: space-between
    //         align-items: center
    //         flex-direction: column-reverse
    //         .title-block
    //             flex: 1 1 45%
    //             position: relative
    //             z-index: 1
    //             text-align: center
    //             &::before
    //                 content: ""
    //                 display: none
    //                 width: 200px
    //                 height: 200px
    //                 background: #ECECFC
    //                 position: absolute
    //                 border-radius: 50%
    //                 z-index: -1
    //                 top: -80px
    //                 left: -100px
    //             .title
    //                 font-size: 30px
    //                 font-weight: 600
    //                 line-height: 1.5
    //                 color: #434343
    //                 margin: 0 0 10px
    //                 text-transform: capitalize
    //             .btn-container
    //                 background: #F3F3FF
    //                 width: fit-content
    //                 &:hover
    //                     .triangle-right
    //                         border-left: 16px solid #fff
    //                 .button
    //                     padding: 13px 40px
    //         .get-started
    //             display: flex
    //             justify-content: space-between
    //             gap: 40px
    //             flex-direction: column
    //             margin-bottom: 60px
    //             .get-started-container
    //                 //max-width: 385px
    //                 display: flex
    //                 flex-direction: column
    //                 align-items: center
    //                 justify-content: center
    //                 text-align: center
    //                 position: relative
    //                 z-index: 1
    //                 height: 300px
    //                 &::before
    //                     content: ""
    //                     display: block
    //                     width: 300px
    //                     height: 100%
    //                     background: #ECECFC
    //                     position: absolute
    //                     border-radius: 50%
    //                     z-index: -1
    //                 .header
    //                     padding: 0 20%
    //                     line-height: 1.5
    //                 .text
    //                     padding: 0 10%

    // .container-center
    //     display: flex
    //     justify-content: center
    //     padding: 80px 20px
    //     .content
    //         max-width: 510px
    //         display: flex
    //         flex-direction: column
    //         align-items: center
    //         gap: 20px
    //         position: relative
    //         &::before
    //             left: 50%
    //             top: 50%
    //             transform: translate(-50%, -25%)
    //             width: 300px
    //             height: 300px
    //             z-index: 0
    //         &::after
    //             content: ''
    //             display: block
    //             height: 100px
    //             width: 100px
    //             background: url(/images/trendz/sphere.png) no-repeat center / contain
    //             position: absolute
    //             left: -30px
    //             bottom: -135px
    //         .main-title
    //             font-weight: 600
    //             font-size: 24px
    //             line-height: 1.25
    //             color: #434343
    //             text-transform: uppercase
    //             z-index: 2
    //         .text
    //             text-align: center
    //             padding: 0 5%
    //             z-index: 2
    //         .btn-block
    //             z-index: 2
    @media screen and (min-width: $step05)
        #hero
            .hero-container
                margin: 0 40px
                #hero-content
                    // flex: 1 1 55%
                    // gap: 10px
                    .pe-title
                        font-size: 20px
                    .pe-heading
                        font-size: 30px
                    .pe-subTitle
                        margin-bottom: 40px
                        font-size: 20px
                    .try-pe, .accent-btn
                        padding: 13px 15px
                .hero-image
                    flex: 1 1 40%
                    position: relative
                    .image-wrapper
                        visibility: visible
                #upper-icon-left
                    width: 90px
                    height: 90px
                    top: 30%
                    left: 50%
                #upper-icon-right
                    width: 90px
                    height: 90px
                    top: 25%
                #down-icon-left
                    display: block
                    width: 120px
                    height: 120px
                    bottom: 22%
                    right: 10%
        .try-pe
            font-size: 20px
            width: auto
            padding: 13px 50px
        .accent-btn
            padding: 13px 10px
            font-size: 20px
            width: unset
        .btn-block
            padding: 0
            flex-direction: row
            width: unset
            div
                width: unset
        #encyclopedia
            main
                padding: 0 40px
        .pe-features
            main
                .content-list
                    display: flex
                    flex-wrap: wrap
                    gap: 30px
                    padding-bottom: 60px
                    max-width: 620px
                    margin: auto
                    .content-block
                        flex: 1 1 47%
        .trendz-features
            .main-bg
                &:nth-child(odd)
                    main
                        flex-direction: row
                &:nth-child(even)
                    main
                        flex-direction: row-reverse
        #peContent
            .pe-features
                main
                    .content
                        flex: 1 1 50%
                        .mobile-img
                            display: none
                    .image-block
                        flex: 1 1 50%
                    .screenshot-block
                        display: flex
        .main-bg
            padding: 70px 0
        .accent-bg
            padding: 70px 0
            main
                .get-started
                    flex-direction: row
                    gap: unset
                    .get-started-container
                        flex: 1 1 50%
                        .header
                            padding: 0 17%
                        .text
                            padding: 0
        .container-center
            .content
                &::before
                    width: 600px
                    height: 600px
                &::after
                    height: 160px
                    width: 160px
                    left: -120px
                    bottom: -143px
                .main-title
                    font-size: 40px
                .text
                    font-size: 20px
                .accent-btn
                    padding: 13px 72px

    @media screen and (min-width: $step2)
        #hero
            .hero-container
                margin: auto
                width: calc(100% - 100px)
                max-width: 1200px
                #hero-content
                    .pe-heading
                        font-size: 40px
                .hero-image
                    flex: 1 1 40%
                #upper-icon-left
                    width: 100px
                    height: 100px
                    left: 25%
                    top: 20%
                #upper-icon-center
                    //display: block
                    width: 90px
                    height: 90px
                    top: 18%
                    left: 54%
                #upper-icon-right
                    top: 25%
                    right: -5%
                    width: 100px
                    height: 100px
                #down-icon-left
                    width: 200px
                    height: 200px
                    bottom: 15%
                    left: 40%
                #down-icon-right
                    display: block
                    width: 200px
                    height: 200px
                    bottom: 20%
                    right: 0
        #hero-content
            align-items: flex-start
        .main-bg
            padding: 90px 0
        #hero .hero-container #hero-content, #peContent
            .try-pe
                padding: 13px 41px
            .accent-btn
                padding: 13px 46px
        footer
            main
                max-width: 1000px

        main
            width: calc(100% - 100px)

        #peContent
            width: 100%

        #encyclopedia
            main
                padding: 0
        #peContent
            .pe-features
                main
                    gap: 60px
                    align-items: center
                    .content-list
                        flex-wrap: nowrap
                        max-width: unset
                        gap: 25px
                        .content-block
                            flex: 1 1 25%
                    .image-block
                        min-height: 350px
                        .image-wrapper
                            width: 100%
                            height: 100%
                        .screenshot
                            height: auto
                    .pie-chart
                        .sphere
                            width: 200px
                            height: 200px
                            top: -60px
                        .donut-chart
                            width: 240px
                            height: 240px
                            top: -15%
                        .bar-chart
                            width: 240px
                            height: 240px
                            bottom: -50px
                    .multiple-chart
                        .sphere
                            height: 160px
                            width: 160px
            .accent-bg
                main
                    flex-direction: column-reverse
                    align-items: center
                    gap: 120px
                    .get-started
                        gap: 60px
    @media screen and (min-width: $step3)
        #hero
            padding-top: 80px
            .hero-container
                .hero-image
                    flex: 1 1 50%
        .main-bg
            padding: 120px 0
        #peContent
            .accent-bg
                main
                    flex-direction: row
                    gap: 0
                    .title-block
                        text-align: start
                        &::before
                            display: block
                    .get-started
                        gap: 0

        .try-trendz
            line-height: 60px
            font-size: 28px
            padding: 0 40px
            border-width: 3px
    @media screen and (min-width: $step4)
        main
            width: calc(100% - 400px)
        #hero
            .hero-container
                max-width: 1400px
                #hero-content
                    .pe-heading
                        font-size: 50px
                        padding-right: 10%
                    .pe-subTitle
                        font-size: 24px
                #down-icon-left
                    bottom: 5px
        .accent-btn
            font-size: 24px
        .try-pe
            font-size: 24px
        section main,
        header main,
        footer main
            max-width: 1400px
            width: 1400px
        .header
            font-size: 24px
        .text
            font-size: 19px
            line-height: 1.7
        #peContent
            .pe-features
                main
                    .content-list
                        gap: 16px
                        .content-block:first-child
                            .text
                                padding-right: 3px
                    .image-block
                        .screenshot
                            top: 25%
                            left: 7%
        .accent-text
            font-size: 18px
        .accent-bg
            main
                .title-block
                    .title
                        font-size: 40px
        .link
            font-size: 24px
        .container-center
            .content
                .main-title
                    font-size: 50px

@keyframes slideup-in
    from
        opacity: 0
        transform: translate3d(0, 45px, 0)
    to
        opacity: 1
        transform: translate3d(0, 0, 0)

@keyframes fadeoutRight
    from
        opacity: 0
        transform: translate(308%, 0%) scale(80%)
    to
        opacity: 1
        transform: translate(308%, 0%) scale(100%)

@keyframes fadeoutLeft
    from
        opacity: 0
        transform: translate(-108%, 28%) scale(80%)
    to
        opacity: 1
        transform: translate(-108%, 28%) scale(100%)
    
@keyframes fadeoutCenter
    from
        opacity: 0
        transform: translateY(0%) scale(1.2)
    to
        opacity: 1
        transform: translateY(-2%) scale(1)

@keyframes backgroundFadeout
    from
        opacity: 0
        transform: translateY(-11%)
    to
        opacity: 1
        transform: translateY(-11%)

@keyframes baseImageAppear
    from
        opacity: 0.5
        transform: scale(0.8)
    to
        opacity: 1
        transform: scale(1)

@keyframes secondaryImageAppear
    from
        opacity: 0
        transform: scale(0)
    to
        opacity: 1
        transform: scale(1)
