#smart-farming
    position: relative
    overflow-x: hidden
.smart-farm-banner
    padding-left: 120px
    img 
        width: 1785px
        height: 835px

    .smart-farm-banner-container
        position: absolute
        padding: 85px 115px
        color: #212529 

        h1
            text-align: left
            font-size: 90px
            font-style: normal
            font-weight: 600
            line-height: 130px

        p
            font-size: 40px
            font-weight: 400
            line-height: 57px
            font-style: normal
            width: 768px
            text-align: left 

.smart-farm-about
    padding: 0px
    p
        color: #495057
        font-size: 18px
        font-weight: 400
        line-height: 150% 
        font-style: normal
        text-align: left
        margin-top: 30px
    p:nth-child(odd)
        margin-top: 15px
    h2
        color: #212529
        font-size: 48px
        font-weight: 600
        line-height: 120%
        font-style: normal
        text-align: left
    h4
        font-size: 28px
        font-style: normal
        font-weight: 600
        line-height: 155%
        text-align: left
    .smart-farm-about-container
        display: flex
        justify-content: space-between
        padding: 0px 250px
        .smart-farm-content-wrapper
            color: black
            margin-top: 100px
            width: 720px
        
        .smart-farm-side-content
            .smart-farm-side-content-container
                margin-top: 100px
                margin-left: 240px
                ul
                    display: flex
                    width: 460px
                    padding: 0px 20px
                    flex-direction: column
                    align-items: flex-start
                    gap: 20px
                    margin-top: 20px
                    border-left: 1px solid #CCD1D5
                    li 
                        text-align: left
                        margin-left: 16px
                        a 
                            font-size: 16px
                            width: 304px
                            font-style: normal
                            font-weight: 500
                            line-height: 155%
                            color: #212529 
                            text-decoration: none 
.smart-farm-about-blocks
    padding: 50px 250px
    .smart-farm-about-block
        display: flex
        justify-content: space-between
        padding: 40px
        margin-top: 20px
        border-radius: 20px
        background: #FFF
        box-shadow: 0px 52px 14px 0px rgba(130, 130, 130, 0.00), 0px 33px 13px 0px rgba(130, 130, 130, 0.01), 0px 19px 11px 0px rgba(130, 130, 130, 0.05), 0px 8px 8px 0px rgba(130, 130, 130, 0.09), 0px 2px 5px 0px rgba(130, 130, 130, 0.10)
        .block-text
            color: black
            width: 660px
            margin-right: 60px
        .block-img
            img
                width: 620px
                height: 357px

.smart-farm-contact-us
    position: relative
    margin: 177px 250px 0px 250px
    padding: 40px 60px
    display: flex
    border-radius: 20px
    background: #FFF
    box-shadow: 0px 52px 14px 0px rgba(130, 130, 130, 0.00), 0px 33px 13px 0px rgba(130, 130, 130, 0.01), 0px 19px 11px 0px rgba(130, 130, 130, 0.05), 0px 8px 8px 0px rgba(130, 130, 130, 0.09), 0px 2px 5px 0px rgba(130, 130, 130, 0.10)
    .rec55
        position: absolute
        top: -10%
        left: 0
        width: 81px
        height: 85px
    .rec56
        position: absolute
        width: 51px
        height: 54px
        left: 100%
        transform: translateX(-60%)
        bottom: -17%
    .smart-farm-contact-us-text
        width: 720px
        margin-left: 100px
        text-align: left
        p
            margin-top: 16px
    .smart-farm-contact-us-btn
        display: flex
        align-items: center
        justify-content: flex-start
        margin-left: 100px
        button
            border-radius: 12px
            background-color: #2A7DEC
            box-shadow: 0px 40px 11px 0px rgba(116, 156, 220, 0.00), 0px 26px 10px 0px rgba(116, 156, 220, 0.01), 0px 15px 9px 0px rgba(116, 156, 220, 0.04), 0px 6px 6px 0px rgba(116, 156, 220, 0.06), 0px 2px 4px 0px rgba(116, 156, 220, 0.07)
            display: flex
            width: 250px
            height: 56px
            padding: 0px 11px 0px 16px
            justify-content: center
            align-items: center

.smart-farm-key-difference
    padding: 185px 0px 0px 250px
    display: flex
    .smart-farm-key-difference-text
        width: 720px
        p
            margin-top: 30px
    .smart-farm-key-difference-img
        margin-left: 60px
        img
            width: 825px
            height: 517px

.smart-farm-tech
    padding: 0px
    margin-top: 60px
    background: #F4F8FE
    .smart-farm-tech-container
        padding: 60px 250px
        .smart-farm-tech-main
            text-align: left
            padding-bottom: 50px
            p
                width: 720px
                margin-top: 30px
        .smart-farm-tech-wrapper
            display: flex
            border-bottom: 1px solid #CCD1D5
            margin-bottom: 35px
            padding-bottom: 40px
            p
                margin-top: 20px
        .smart-farm-tech-img
            display: flex
            justify-content: flex-start
            align-items: center
            .img-sensors
                width: 295px
                height: 185px
                margin-left: 140px
            .img-iot
                width: 295px
                height: 268px
                margin-left: 300px
            .img-ai-ml
                width: 342px
                height: 236px
                margin-left: 200px
            .img-auto-rob
                width: 395px
                height: 246px
                margin-left: 140px 
        .smart-farm-tech-wrapper:last-child
            border: none

.smart-farm-cycle
    padding: 60px 250px
    .smart-farm-cycle-container
        display: flex
    .smart-farm-cycle-img
        img
            width: 762px
            height: 512px
    .smart-farm-cycle-wrapper
        padding: 40px
        margin-top: 20px
        display: flex
        justify-content: space-between
        border-radius: 20px
        background: #FFF
        box-shadow: 0px 52px 14px 0px rgba(130, 130, 130, 0.00), 0px 33px 13px 0px rgba(130, 130, 130, 0.01), 0px 19px 11px 0px rgba(130, 130, 130, 0.05), 0px 8px 8px 0px rgba(130, 130, 130, 0.09), 0px 2px 5px 0px rgba(130, 130, 130, 0.10)
        .smart-farm-cycle-text
            width: 720px
        .smart-farm-cycle-num 
            color: #EAF2FE
            font-size: 170px
            font-style: normal
            font-weight: 600
            img
                width: 220px
                height: 220px
.smart-farm-pros
    padding: 120px 0px 0px 250px
    .smart-farm-pros-container
        width: 720px
    .smart-farm-pros-wrapper
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        margin-top: 50px
        gap: 20px
        .smart-farm-pros-item
            width: 680px
            padding: 40px
            border-radius: 20px
            background: #FFF
            text-align: left
            position: relative
            box-shadow: 0px 52px 14px 0px rgba(130, 130, 130, 0.00), 0px 33px 13px 0px rgba(130, 130, 130, 0.01), 0px 19px 11px 0px rgba(130, 130, 130, 0.05), 0px 8px 8px 0px rgba(130, 130, 130, 0.09), 0px 2px 5px 0px rgba(130, 130, 130, 0.10)
            span
                text-align: left
                color: #EAF2FE
                font-size: 80px
                font-weight: 600
            h4
                position: absolute
                top: 95px

.smart-farm-solutions
    padding: 180px 250px 0px 250px
    .smart-farm-solutions-container
        width: 720px
        margin-bottom: 50px
    .smart-farm-solutions-wrapper
        .smart-farm-solutions-item
            border-radius: 20px
            background: #FFF
            padding: 40px
            margin-top: 20px
            display: flex
            justify-content: space-between
            box-shadow: 0px 52px 14px 0px rgba(130, 130, 130, 0.00), 0px 33px 13px 0px rgba(130, 130, 130, 0.01), 0px 19px 11px 0px rgba(130, 130, 130, 0.05), 0px 8px 8px 0px rgba(130, 130, 130, 0.09), 0px 2px 5px 0px rgba(130, 130, 130, 0.10)
            .smart-farm-solutions-text
                width: 720px
            .smart-farm-solutions-img
                display: flex
                align-items: center
                img
                    width: 140px
                    height: 140px

.smart-farm-demo
    padding: 120px 250px 0px 250px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .smart-farm-demo-container
        width: 892px
        p
            text-align: center
        h4
            text-align: center
    .smart-farm-demo-btn
        margin-top: 60px
        .try-demo
            background-color: #2A7DEC
            color: #fff
        .contact-us
            border: 1px solid #2A7DEC
            color: #2A7DEC
            margin-left: 16px
        button
            padding: 10px 40px
            border-radius: 12px
    .smart-farm-demo-img
        margin-top: 80px
        img
            width: 1420px
            height: 437px

.smart-farm-key-features
    padding: 120px 0px 0px 250px
    h2
        width: 720px
    .smart-farm-key-features-cards
        margin-top: 50px
        display: flex
        justify-content: flex-start
        gap: 20px
        flex-wrap: wrap
        .smart-farm-key-features-card
            display: flex
            flex-direction: column
            align-items: flex-start
            width: 460px
            padding: 40px
            border-radius: 20px
            background: #FFF
            box-shadow: 0px 52px 14px 0px rgba(130, 130, 130, 0.00), 0px 33px 13px 0px rgba(130, 130, 130, 0.01), 0px 19px 11px 0px rgba(130, 130, 130, 0.05), 0px 8px 8px 0px rgba(130, 130, 130, 0.09), 0px 2px 5px 0px rgba(130, 130, 130, 0.10)
            img 
                width: 60px
                height: 60px
                margin-bottom: 31px

.smart-farm-management-software
    margin-top: 120px
    margin-bottom: 120px
    background-color: #E5F2FF
    height: 810px
    border-radius: 100px
    padding: 0px 250px
    .smart-farm-management-software-wrapper
        display: flex
        justify-content: center
        align-items: center
        height: 100%
        .smart-farm-management-software-text
            text-align: left
            .try-demo
                background-color: #2A7DEC
                color: #fff
                padding: 10px 60px
                border-radius: 12px
                margin-top: 60px
    .smart-farm-management-software-img
        img
            width: 767px
            height: 666px
            margin-left: 132px
    








            

    










