@import "../_includes/contact-us-modal"

#case-studies
  #case-studies-content
    .case-studies-wrapper
      padding: 0 32px
      max-width: 1460px
      margin: 0 auto

      section
        padding: 100px 0

      .button
        width: 208px
        padding: 8px 24px
        text-align: center

      .case-studies-hero
        padding-bottom: 20px
        h1
          color: #212529
          text-align: center
          font-size: 56px
          font-weight: 600
          line-height: 72px
          letter-spacing: 0.14px

        h2
          color: #3D3D3D
          text-align: center
          font-size: 28px
          font-weight: 400
          line-height: 44px
          letter-spacing: 0.249px
          margin-bottom: 56px

        .card
          display: flex
          gap: 32px

          .image
            flex: 1
            background-image: url("/images/case-studies/schwarz.webp")
            background-position: center
            background-size: cover
            display: flex
            align-items: center
            justify-content: center
            border-radius: 24px

            &.inner
              display: none

          .text
            display: flex
            flex-direction: column
            flex: 1
            align-items: start

            .category
              display: inline-block
              padding: 5px 16px
              background-color: #EEF5FD
              border-radius: 6px
              margin-bottom: 16px
              font-size: 16px
              font-weight: 400
              line-height: 28px
              letter-spacing: 9px
              color: #000

            h3
              font-size: 36px
              font-weight: 500
              line-height: 48px
              margin-bottom: 24px
              color: #212121

            p
              font-size: 16px
              font-weight: 400
              line-height: 28px
              letter-spacing: 0.15px
              color: #3D3D3D
              margin-bottom: 32px

      #case-studies-clients
        display: flex
        flex-wrap: wrap
        gap: 32px
        min-height: 299px
        padding: 0
        margin-bottom: 26px

        .client-card
          position: relative
          width: 444px
          height: 299px
          border-radius: 24px
          background-position: center
          background-size: cover
          color: #fff
          overflow: hidden
          &.pagination-hidden, &.filter-hidden
            display: none

          .bg-wrap
            width: 100%
            height: 100%
            background-position: center
            background-size: cover

            &:hover
              &:after
                transform: scale(1.2)

              .content
                p
                  padding-bottom: 30px

                .link
                  bottom: 24px
                  opacity: 1
                  padding-bottom: 0

            &:after
              content: ""
              position: absolute
              top: 0
              right: 0
              bottom: 0
              left: 0
              background: inherit
              background-size: cover
              transform-origin: center
              transition: transform .5s

            .content
              height: 100%
              position: relative
              z-index: 1
              display: flex
              flex-direction: column
              justify-content: space-between
              align-items: flex-start
              padding: 32px
              text-decoration: none
              color: #fff

              .logo
                height: 56px

              p
                font-size: 18px
                font-weight: 500
                line-height: 30px
                transition: all .5s

              .link
                font-size: 16px
                font-weight: 500
                line-height: 28px
                color: #fff
                opacity: 0
                position: absolute
                bottom: -20px
                transition: all .5s
                text-decoration: none

                .fas.fa-arrow-right
                  font-size: 14px
                  margin-left: 10px
                  color: #fff
                  cursor: pointer

      .success-story-promo
        width: 100%
        background: #F4F8FE
        border: 1px solid #F4F8FE
        border-radius: 24px
        color: #202021
        display: flex
        align-items: center
        justify-content: space-between
        padding: 48px
        .content
          h2
            font-size: 36px
            font-weight: 500
            line-height: 48px
          p
            color: #3A3B3D
            font-size: 18px
            line-height: 30px
            white-space: nowrap

      .pagination-container
        padding-top: 20px
        padding-bottom: 60px
        text-align: center
        display: flex
        flex-direction: column
        align-items: center
        gap: 20px

        &.hidden
          display: none

        button#showMoreBtn
          background-color: #fff
          color: #2A7DEC
          width: 200px
          border: solid 1px #2A7DEC
          outline: none
          margin-bottom: 56px
          &.hidden
            display: none
          &:hover
            filter: unset
            z-index: 2
            color: #0a58ca
            background-color: #e9ecef
          &:focus
            filter: unset

        .pagination-nav
          display: flex
          justify-content: center
          align-items: center

        .pagination-status
          display: none
          font-size: 16px
          color: #6c757d

        .pagination
          display: flex
          justify-content: center
          padding-left: 0
          list-style: none
          gap: 8px

        .page-item
          &:first-child
            position: relative
            .page-link
              padding: 18px
              &:after
                font-family: "Font Awesome 5 Free"
                font-weight: 900
                color: #000
                content: "\f078"
                position: absolute
                right: 13px
                top: 12px
                transform: rotate(90deg)
                font-size: 13px
          &:last-child
            position: relative
            .page-link
              padding: 18px
              &:after
                font-family: "Font Awesome 5 Free"
                font-weight: 900
                color: #000
                content: "\f078"
                position: absolute
                right: 11px
                top: 12px
                transform: rotate(270deg)
                font-size: 13px
          &.active .page-link
            z-index: 3
            color: #fff
            background-color: #2A7DEC
            border-color: #2A7DEC

          &.disabled .page-link
            color: #E0E0E0
            pointer-events: none
            background-color: #fff
            border-color: #dee2e6
            &:after
              color: #E0E0E0

        .page-link
          position: relative
          display: inline-block
          width: 40px
          height: 40px
          align-content: center
          font-size: 16px
          color: #000
          text-decoration: none
          background-color: #fff
          border: 1px solid #dee2e6
          transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out
          border-radius: 6px
          cursor: pointer

          &:hover
            z-index: 2
            color: #0a58ca
            background-color: #e9ecef
            border-color: #dee2e6

  footer
    position: static

@media screen and (max-width: 1460px)
  #case-studies
    #case-studies-content
      .case-studies-wrapper
        #case-studies-clients
          .client-card
            width: 45vw

@media screen and (max-width: 1000px)
  #case-studies
    #case-studies-content
      .case-studies-wrapper
        .success-story-promo
          flex-direction: column
          gap: 32px
          .content
            p
              white-space: normal

@media screen and (max-width: 959px)
  #case-studies
    #case-studies-content
      .case-studies-wrapper
        .case-studies-hero
          .card
            flex-direction: column

            .image
              display: none

              &.inner
                display: flex
                flex: unset
                height: 424px
                width: 100%
                margin-bottom: 24px

        #case-studies-clients
          .client-card
            width: 100%

            &:last-child
              margin-right: 0

            &:nth-last-child(2)
              margin-left: 0

            .bg-wrap
              .content
                p
                  padding-bottom: 0

        .pagination-container
          padding-bottom: 80px
          position: relative

          .pagination-nav
            .pagination-status
              display: block

          .page-item
            &:not(:first-child):not(:last-child)
              display: none

            &:first-child, &:last-child
              position: absolute
              bottom: 67px
              z-index: 1000

              .page-link
                width: 40px
                height: 40px

                // Center the Font Awesome icon
                display: flex
                align-items: center
                justify-content: center
                padding: 0

                &:after
                  position: static
                  transform: none
                  font-size: 16px
                  top: auto
                  right: auto

            &:first-child
              left: 0
              .page-link:after
                content: "\f053"

            &:last-child
              right: 0
              .page-link:after
                content: "\f054"

@media screen and (max-width: 599px)
  #case-studies
    #case-studies-content
      .case-studies-wrapper
        padding: 0 16px

        .case-studies-hero
          padding-top: 40px

          h1
            font-size: 36px
            font-weight: 500
            line-height: 48px

          h2
            font-size: 20px
            font-weight: 400
            line-height: 32px

          .card
            flex-direction: column
            text-align: center

            .text
              align-items: center

              h3
                font-size: 28px
                font-weight: 500
                line-height: 44px

              p
                font-size: 14px

            .image
              display: none

              &.inner
                display: flex
                flex: unset
                height: 245px
                width: 100%
                margin-bottom: 24px

                img
                  height: auto
                  width: 237px

            .button
              width: 100%

        #case-studies-clients
          .client-card
            .bg-wrap
              &:hover
                &:after
                  transform: unset
              .content
                p
                  padding-bottom: 30px
                .logo
                  height: 44px
                .link
                  bottom: 24px
                  opacity: 1
                  padding-bottom: 0

        .success-story-promo
          padding: 24px
          .content
            text-align: center
            h2
              margin-bottom: 16px
          button
            width: 100%