<div class="add-device-banner">
    <div class="add-device-text">
        <span class="add-device-banner-title">Want to add your device to Device Library?</span>
        <div class="add-device-buttons">
            <a href="/docs/contact-us/" class="contact-us">Contact Us</a>
            <a href="/partners/hardware/" class="hardware-partners">See Hardware Partners</a>
        </div>
    </div>
    <img src="/images/hardware-partners-icon.svg" width="540" height="540" alt="Hardware partner icon">
</div>