<div class="add-device-banner">
    <div class="add-device-text">
        <span class="add-device-banner-title">Discover ready-to-connect hardware for your solution</span>
        <div class="add-device-buttons">
            <a href="/devices-library/" class="contact-us">Explore Device library</a>
            <a href="/partners/hardware/" class="hardware-partners">Hardware Partners</a>
        </div>
    </div>
    <img src="/images/hardware-partners-icon.svg" width="540" height="540" alt="Hardware partner icon">
</div>