{% assign targetKey = include.targetKey %}
{% assign data = site.data.clients-feedback %}

<div class="clients-nav">
    {% for key in data %}
        <a href="/industries/{{key[0]}}" class="clients-nav-item{% if targetKey == key[0] %} active{% endif %}">
            {{ key[1].label }}
        </a>
    {% endfor %}
</div>