{% assign params = include.params | split: "|" %}
{% capture codeBlock %}
```{{ params[0] }}
{{ include.code | strip }}
```{% if params.size > 1 %}
{:{{ params[1] }} }
{% endif %}
{% endcapture %}
<table class="includecode"><tr><td>{{ codeBlock | markdownify }}</td></tr></table>
