{% comment %}
 params - should contains language and tarted modifiers for code snippet, separated by "|"
 Allowed modifiers:
 .copy-code - add copy button to code snippet
 .expandable-X - Code snippet will show only X lines of code and will have an array to expand the code
 Example:
 {% capture targetCode %}
 var someVariable = "Some variable";
 {% endcapture %}
 {% include code-toggle.liquid code=targetCode params="javascript|.copy-code.expandable-20" %}
{% endcomment %}
{% assign params = include.params | split: "|" %}
{% capture codeBlock %}
```{{ params[0] }}
{{ include.code | strip }}
```{% if params.size > 1 %}
{:{{ params[1] }} }
{% endif %}
{% endcapture %}
<table class="includecode"><tr><td>{{ codeBlock | markdownify }}</td></tr></table>
