{% assign extension = include.file | split: '.' | last %}

{% if extension == "md" %}
<table class="includecode">
    <tr><td>
        {% capture content %}{% include_relative {{ include.file }} %}{% endcapture %}
        {{ content | markdownify }}
    </td></tr>
</table>
{% else %}
    {% assign first_char = include.file | slice: 0 %}
    {% if first_char == '/' %}
        {% assign absolute_path = include.file | remove_first: '/' %}
        {% capture samplecode %}{% include {{ absolute_path }} %}{% endcapture %}
    {% else %}
        {% capture samplecode %}{% include_relative {{ include.file }} %}{% endcapture %}
    {% endif %}
{% capture mysample %}
```{{include.language}}
{{ samplecode | raw | strip }}
```
{: id="{{include.file | handleize}}"}
{: .copy-code}
{% endcapture %}
<table class="includecode">
<tr><td>{{ mysample | markdownify }}</td></tr></table>
{% endif %}
