{% capture codeBlock %}
```{{ include.language }}
{{ include.code | strip }}
```
{:{{ include.classes }}}
{% endcapture %}
<table class="includecode"><tr><td>{{ codeBlock | markdownify }}</td></tr></table>
