.contact-us-banner
  position: relative
  z-index: 1
  padding: 46px
  background: #fff
  border-radius: 24px
  box-shadow: -4px 15px 50px -20px rgba(0, 0, 0, 0.15), 0px 0px 8px 0px rgba(0, 0, 0, 0.08)
  max-width: 1408px
  width: 100%
  margin-bottom: 92px
  overflow: hidden
  img
    position: absolute
    right: 46px
    top: 93px
  .contact-us-banner-content
    max-width: 600px
    h2
      font-size: 36px
      font-weight: 500
      line-height: 48px
      margin-bottom: 16px
      padding: 0
    p
      font-size: 18px
      font-weight: 400
      line-height: 30px
      color: rgba(0, 0, 0, 0.76)
      margin-bottom: 32px
    .contact-us-banner-buttons
      display: flex
      gap: 16px
      flex-wrap: wrap
      button
        background: #2A7DEC
        color: #fff
      a
        color: #2A7DEC
        border: 1px solid #2A7DEC
      button, a
        text-align: center
        font-size: 16px
        font-weight: 500
        line-height: 28px
        width: 154px
        border-radius: 6px
        padding: 10px 0