.tb-content-toggle
  .panel-heading
    display: flex
    flex-direction: row
    flex-wrap: wrap
    padding-top: 20px
    padding-bottom: 30px
    a.content-toggle-button
      padding: 10px
      border: 1px solid rgba(0, 0, 0, 0.08)
      border-radius: 4px
      margin: 0.75em 0.75em
      cursor: pointer
      transition: ease-in-out 0.3s
      background: #EEF5FD
      &.active
        border: 1px solid #2A7DEC
        background: #2A7DEC
        .content-toggle-button-text
          color: #FFF
          small
            color: #FFF
      &:not(.active):hover
        border: 1px solid rgba(0, 0, 0, 0.87)
      .content-toggle-button-text
        font-size: 16px
        font-weight: 500
        line-height: 28px
        color: #000000C2
        height: 80px
        width: 260px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        text-align: center
        small
          color: rgba(33, 37, 41, 0.6)
          font-size: 14px
          line-height: 24px
          font-weight: 400

  .panel-collapse
    .panel-body
      > table
        width: auto !important
        border: none !important
        margin: 0 !important
        display: block
        > tbody
          display: block
          > tr
            display: block
            > td
              display: block
    h1, h2, h3, h4, h5, h6
        &:before
          height: 0 !important
          margin-top: 0 !important
