{% assign subjectParams = include.subjectParams %}
{% assign modal = include.modal | default: 'false' %}

{% if subjectParams %}
    {% assign param = "?subject=" | append: subjectParams %}
{% else %}
    {% assign param = "" %}
{% endif %}


<div class="contact-us-card">
    <p class="contact-us-card-title">Have any comments or questions?</p>
    <a class="contact-us-card-link" {% if modal == "true" %} onclick="openContactUsModal(); return false" href="#" {% else %} href="/docs/contact-us/{{ param }}" {% endif %}>Contact us</a>
    <img src="https://img.thingsboard.io/email-icon.svg" class="icon" alt="Email icon">
</div>
