<style>
    #cookie-notice {
        padding: 1.5rem 1.5rem;
        display: none;
        text-align: start;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 999;
        bottom: 0;
        width: 100%;
        background-color: rgba(15, 22, 29, 0.85);
        color: rgba(255, 255, 255, 1);
    }

    .buttons-block {
        display: flex;
        gap: 16px;
    }

    .buttons-block button {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        border-radius: 4px;
        height: 40px;
        width: 140px;
        color: #FFF;
    }

    .buttons-block button:hover {
        opacity: 0.8;
    }

    .buttons-block button#cookie-notice-accept {
        background: #2A7DEC;
    }

    .buttons-block button#cookie-notice-close {
        background: rgba(255, 255, 255, 0.05);
    }

    #cookie-notice-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;
    }

    #cookie-notice-text span {
        font-size: 14px;
    }

    #cookie-notice-text label {
        font-size: 20px;
    }

    @media (max-width: 767px) {
        #cookie-notice {
            flex-direction: column;
            padding: 1.3rem 1.1rem;
        }

        #cookie-notice-text {
            width: 100%;
            margin-bottom: 40px;
        }
    }
</style>
<div id="cookie-notice">
    <div id="cookie-notice-text">
        <label>Cookie policy</label>
        <span>
            Our website uses cookies to ensure site security and optimize your experience on our website. By continuing to browse this site, you agree to the use of these cookies, in accordance with our <a href="/cookie-policy/" target="_blank">Cookie Policy</a>. For details on managing cookies, please adjust your browser settings.
        </span>
    </div>
    <div class="buttons-block">
        <button id="cookie-notice-accept">Accept</button>
        <button id="cookie-notice-close" aria-label="Close the cookie notice button">Close</button>
    </div>
</div>
<script>
    function readCookieValue(value) {
        if (value[0] === '"') {
            value = value.slice(1, -1)
        }
        return value.replace(/(%[\dA-F]{2})+/gi, decodeURIComponent)
    }

    function writeCookieValue(value) {
        return encodeURIComponent(value).replace(
            /%(2[346BF]|3[AC-F]|40|5[BDE]|60|7[BCD])/g,
            decodeURIComponent
        )
    }

    function closeAndAccept() {
        setCookie('cookie-notice-dismissed', 'true', {expires: 365, path: '/'});
        document.getElementById('cookie-notice').style.display = 'none';
    }

    if (getCookie('cookie-notice-dismissed') !== 'true') {
        document.getElementById('cookie-notice').style.display = 'flex';
    }

    document.getElementById('cookie-notice-accept').addEventListener("click", closeAndAccept);
    document.getElementById('cookie-notice-close').addEventListener("click", closeAndAccept);
</script>
