{% assign customers = "{
        'href': 'https://www.prosegur.com/',
        'data': 'https://img.thingsboard.io/customers/clear/prosegur.svg',
        'aria_label': 'Prosegur logo'
    },
    {
        'href': 'https://www.engie.sk/en/kontakt',
        'data': 'https://img.thingsboard.io/customers/clear/engie.svg',
        'aria_label': 'Engie logo'
    },
    {
        'href': '/industries/telecom/#tmobile',
        'data': 'https://img.thingsboard.io/customers/clear/t-mobile.svg',
        'aria_label': 'T-mobile logo'
    },
    {
        'href': 'https://www.intel.com/',
        'data': 'https://img.thingsboard.io/customers/clear/intel.svg',
        'aria_label': 'Intel logo'
    },
    {
        'href': 'https://gruppe.schwarz/en',
        'data': 'https://img.thingsboard.io/customers/clear/schwarz-gruppe.svg',
        'aria_label': 'Schwarz logo'
    },
    {
        'href': 'https://www.bosch.com/',
        'data': 'https://img.thingsboard.io/customers/clear/bosch.svg',
        'aria_label': 'Bosch logo'
    },
    {
        'href': '/industries/telecom/#tektelic',
        'data': 'https://img.thingsboard.io/customers/clear/tektelic.svg',
        'aria_label': 'Tektelic logo'
    }" | split: "}," %}

<section id="tb-customers">
    <div class="tb-customers-content">
        {% for customer in customers %}
            {% assign customer = customer | replace: "{", "" | replace: "}", "" %}
            {% assign customer_parts = customer | split: "'," %}
            {% assign href = customer_parts[0] | split: "': '" | last %}
            {% assign data = customer_parts[1] | split: "': '" | last %}
            {% assign aria_label = customer_parts[2] | split: "': '" | last %}

            <a href="{{ href }}">
                <object data="{{ data }}" aria-label="{{ aria_label }}"></object>
            </a>
        {% endfor %}
    </div>
</section>
