.filter
  margin: 50px 0 40px

  .filter-content
    .filter-scroll-wrapper
      position: relative
      display: flex
      align-items: center

      .scroll-arrow
        position: absolute
        z-index: 2
        top: 50%
        transform: translateY(-50%)
        width: 11px
        height: 36px
        color: #2A7DEC
        cursor: pointer
        padding: 0

        &.hidden
          display: none

      .left-arrow
        left: 0

      .right-arrow
        right: 0

    .actions
      width: 96%
      margin: 0 auto
      display: flex
      flex-wrap: nowrap
      gap: 8px
      overflow-x: scroll
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      -ms-overflow-style: none
      scrollbar-width: none
      user-select: none
      //scroll-behavior: smooth

      &::-webkit-scrollbar
        display: none

      .check-box
        cursor: pointer
        border-radius: 6px
        color: #212529
        border: 1px solid #EBEBEB
        padding: 7px 14px
        position: relative
        font-size: 16px
        white-space: nowrap

        &:hover
          background-color: #EEF5FD
          color: #2A7DEC
          border: 1px solid #2A7DEC

        &:not(.checked, :hover)
          color: #000000C2
          border: 1px solid #EBEBEB

      .checked
        background-color: #EEF5FD
        color: #2A7DEC
        border: 1px solid #2A7DEC
        padding-left: 40px

        &:after
          content: ""
          background-image: url(https://img.thingsboard.io/checked-box-icon.svg)
          background-size: contain
          display: block
          position: absolute
          left: 14px
          top: 8px
          width: 18px
          height: 18px
          border: none
          transition: all 0.3s ease-out
          filter: invert(62%) sepia(74%) saturate(6770%) hue-rotate(202deg) brightness(99%) contrast(87%)

@media screen and (max-width: 959px)
  .filter
    margin: 40px 0 24px

    .filter-content
      .filter-scroll-wrapper
        .left-arrow
          left: -8px

        .right-arrow
          right: -8px
