<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/getting-started-guides/helloworld/">Get Started</a>
			<a href="/docs/">Documentation</a>
			<a href="http://blog.thingsboard.io/">Blog</a>
			<a href="/docs/services/">Services</a>
			<a href="/docs/contact-us/">Contact us</a>
		</nav>
		<div class="center">
			<div class="social">
				<div>
					<a href="https://twitter.com/thingsboard" class="twitter"><span>twitter</span></a>
					<a href="https://github.com/thingsboard/thingsboard" class="github"><span>Github</span></a>
					<a href="https://gitter.im/thingsboard/chat" class="gitter"><span>Gitter</span></a>
					<a href="http://stackoverflow.com/questions/tagged/thingsboard" class="stack-overflow"><span>Stack Overflow</span></a>
				</div>
				<div>
					<a href="https://groups.google.com/forum/#!forum/thingsboard" class="mailing-list"><span>Mailing List</span></a>
					<a href="https://calendar.google.com/calendar/b/1/embed?src=thingsboard.io_vvdkrvseju3jjahct9pk00nh0o@group.calendar.google.com" class="calendar"><span>Events Calendar</span></a>
					<a href="https://www.youtube.com/channel/UCDb9fsV-YR4JmnipAMGsVAQ" class="youtube"><span>YouTube Channel</span></a>
					<a href="https://www.facebook.com/thingsboard" class="facebook"><span>Facebook Page</span></a>
				</div>
			</div>
		</div>
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }} The Thingsboard Authors</div>
	</main>
</footer>
