{% assign collectionMap = site.data.footer-social-networks %}

{% for socialNetwork in collectionMap %}
    <a href="{{ socialNetwork[1].href }}" arial-label="{{ socialNetwork[1].arial-label }}">
        <i class="fab fa-lg fa-{{ socialNetwork[1].icon }}" style="color: #847989"></i>
    </a>
{% endfor %}