{% assign tag = "ce" %}
{% if include.docsTag %}
    {% assign tag = include.docsTag %}
{% endif %}
{% if include.docsPrefix %}
    {% assign tag = include.docsPrefix | remove: "/" %}
{% endif %}

{% assign hostData = site.data.host-constant | where: "tag", tag %}
{% if hostData %}
{% assign hostName = hostData[0].hostName %}
{% assign mqttHostName = hostData[0].mqttHostName %}
{% assign coapHostName = hostData[0].coapHostName %}
{% assign httpsUrl = hostData[0].httpsUrl %}
{% assign lwm2mHostName = hostData[0].lwm2mHostName %}
{% assign apiHostName = hostData[0].apiHostName %}
{% endif %}