{% if page.title %}{% assign title=page.title %}{% endif %}
{% if page.description %}{% assign description=page.description %}{% endif %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if page.customTitle == "true" %}
	<title>{{ title }}</title>
	{% seo title=false %}
	{% else %}
	{% seo %}
	{% endif %}
	{% if description %}
	<meta name="twitter:description" content="{{ description }}"/>
	{% endif %}
	{% if !page.no_canonical %}<link rel="canonical" href="https://thingsboard.io{{page.url}}" />{% endif %}
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
	<script type="text/javascript">
		/*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
		!function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
		/*! onloadCSS. (onload callback for loadCSS) [c]2017 Filament Group, Inc. MIT License */
		function onloadCSS(a,b){function c(){!d&&b&&(d=!0,b.call(a))}var d;a.addEventListener&&a.addEventListener("load",c),a.attachEvent&&a.attachEvent("onload",c),"isApplicationInstalled"in navigator&&"onloadcssdefined"in a&&a.onloadcssdefined(c)}
	</script>
	<script type="text/javascript">

		function jqueryDefer(method) {
			if (window.jQuery) {
				method();
			} else {
				setTimeout(function() {
					jqueryDefer(method)
				}, 50);
			}
		}

		function jqueryUiDefer(method) {
			if (window.jQuery && window.jQuery.ui) {
				method();
			} else {
				setTimeout(function() {
					jqueryUiDefer(method)
				}, 50);
			}
		}

		function loadScript(src, callback)
		{
			var s, r, t;
			r = false;
			s = document.createElement('script');
			s.type = 'text/javascript';
			s.src = src;
			s.onload = s.onreadystatechange = function() {
				if ( !r && (!this.readyState || this.readyState == 'complete') )
				{
					r = true;
					if (callback) {
						callback();
					}
				}
			};
			t = document.getElementsByTagName('script')[0];
			t.parentNode.insertBefore(s, t);
		}

		function loadCssAsync(src, callback) {
			var stylesheet = loadCSS( src );
			if (callback) {
				onloadCSS(stylesheet, callback);
			}
		}

		function loadNextScript(index, scriptsList, completeCallback) {
			if (index < scriptsList.length) {
				var script = scriptsList[index];
				if (script.type === 'script') {
					loadScript(script.src, function() {
						index++;
						loadNextScript(index, scriptsList, completeCallback);
					});
				} else if (script.type === 'css') {
					loadCssAsync(script.src, function() {
						index++;
						loadNextScript(index, scriptsList, completeCallback);
					});
				}
			} else if (completeCallback) {
				completeCallback();
			}
		}

		var initialScriptsList = [
			{src: '/js/jquery-2.2.0.min.js', type: 'script'},
			{src: '/css/jquery-ui.min.css', type: 'css'},
			{src: '/js/jquery-ui.min.js', type: 'script'},
			{src: '/js/script.js', type: 'script'},
			{src: '/css/sweetalert.css', type: 'css'},
			{src: '/js/sweetalert.min.js', type: 'script'}
		];

		loadNextScript(0, initialScriptsList);

	</script>
	<script type="text/javascript">
		function _gaLt(event) {
			/* If GA is blocked or not loaded, or not main|middle|touch click then don't track */
			if (!ga.hasOwnProperty("loaded") || ga.loaded != true || (event.which != 1 && event.which != 2)) {
				return;
			}
			var el = event.srcElement || event.target;

			while (el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)) {
				el = el.parentNode;
			}
			if (el && el.href) {
				var link = el.href;
				if ((link.indexOf(location.host) == -1 || link.indexOf('.' + location.host) > 0) && !link.match(/^javascript\:/i)) {
					var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;
					if (event.ctrlKey || event.shiftKey || event.metaKey || event.which == 2) {
						target = "_blank";
					}

					var hbrun = false; // tracker has not yet run
					var hitBack = function() {
						if (hbrun) return;
						hbrun = true;
						window.location.href = link;
					};

					if (target) {
						ga(
								"send", "event", "Outgoing Links", link,
								document.location.pathname + document.location.search
						);
					} else {
						event.preventDefault ? event.preventDefault() : event.returnValue = !1;
						ga(
								"send", "event", "Outgoing Links", link,
								document.location.pathname + document.location.search, {
									"hitCallback": hitBack
								}
						);

						setTimeout(hitBack, 1000);
					}
				}
			}
		}

		var _w = window;
		var _gaLtEvt = ("ontouchstart" in _w) ? "click" : "mousedown";
		_w.addEventListener ? _w.addEventListener("load", function() {document.body.addEventListener(_gaLtEvt, _gaLt, !1)}, !1)
				: _w.attachEvent && _w.attachEvent("onload", function() {document.body.attachEvent("on" + _gaLtEvt, _gaLt)});
	</script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-88383331-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
<div id="cellophane" onclick="tb.toggleMenu()"></div>
<header>
	<a href="/" class="logo"></a>
	<div id="githubButtonContainer">
		<iframe id="gh-btn-frame" src="https://ghbtns.com/github-btn.html?user=thingsboard&repo=thingsboard&type=star&count=true&size=large"
				frameborder="0"
				scrolling="0" width="130px" height="30px"></iframe>
	</div>
	<div class="nav-buttons" data-auto-burger="primary">
		<a href="/docs/" class="button" id="viewDocs" data-auto-burger-exclude>View Documentation</a>
		<a href="/iot-use-cases/" class="button" id="useCases" data-auto-burger-exclude>Use cases</a>
		<a href="/docs/getting-started-guides/helloworld/" class="button" id="gettingStarted" data-auto-burger-exclude>Getting started</a>
		<a target="_blank" href="https://demo.thingsboard.io/signup" class="button" id="liveDemo" data-auto-burger-exclude>Live demo</a>
		<button id="hamburger" onclick="tb.toggleMenu()" data-auto-burger-exclude><div></div></button>
	</div>

	<nav id="mainNav">
		<main id="headNav" data-auto-burger="primary">
			<div class="nav-box">
				<h3><a href="/docs/getting-started-guides/helloworld/">Get Started</a></h3>
			</div>
			<div class="nav-box">
				<h3><a href="/docs/">Documentation</a></h3>
			</div>
			<div class="nav-box">
				<h3><a href="/iot-use-cases/">Use cases</a></h3>
			</div>
			<div class="nav-box">
				<h3><a href="http://blog.thingsboard.io/">Blog</a></h3>
			</div>
			<div class="nav-box">
				<h3><a href="/docs/services/">Services</a></h3>
			</div>
			<div class="nav-box">
				<h3><a href="/docs/contact-us/">Contact us</a></h3>
			</div>
		</main>
		<main data-auto-burger="primary">
			<div class="center">
				<div class="social">
					<a href="https://twitter.com/thingsboard" class="twitter"><span>Twitter</span></a>
					<a href="https://github.com/thingsboard/thingsboard" class="github"><span>Github</span></a>
					<a href="https://gitter.im/thingsboard/chat" class="gitter"><span>Gitter</span></a>
					<a href="http://stackoverflow.com/questions/tagged/thingsboard" class="stack-overflow"><span>Stack Overflow</span></a>
					<a href="https://groups.google.com/forum/#!forum/thingsboard" class="mailing-list"><span>Mailing List</span></a>
					<a href="https://www.youtube.com/channel/UCDb9fsV-YR4JmnipAMGsVAQ" class="youtube"><span>YouTube Channel</span></a>
					<a href="https://www.facebook.com/thingsboard" class="facebook"><span>Facebook Page</span></a>
				</div>
			</div>
			<div class="clear" style="clear: both"></div>
		</main>
	</nav>
</header>
