#distributors {
    font-size: 32px;
    line-height: 1.5em;
    padding-top: 80px;
    font-weight: 300;
}

#map {
	margin-top: 80px;
}

#integratorsGrid {
	margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

#filterContainer {
    color: #212529;
    font-size: 18px;
    font-weight: bold;
    display: block;
    border: 1px solid #EDEDED;
    height: fit-content;
    padding: 18px;
    vertical-align: top;
}

.form {
    margin-top: 25px;
}

 .dropSelector {
    items-height: 50px;
    background-color: #F5F7F9;
    border-radius: 3px;
    border: 1px solid #B5C9DE;
    padding-left: 13px;
    height: 47px;
    width: 100%;
    margin-bottom: 11px;
    color: #212529;
 }
 .dropSelector:hover {
    background-color: #ffffff;
    border: 1px solid #305680;
 }
 .dropSelector:disabled {
    background-color: #F8F8F8;
    border: 1px solid #DCDCDC;
 }
 .dropSelector:focus {
    background-color: #ffffff;
    border: 2px solid #305680;
 }

 .buttonSearch {
    margin-top: 25px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background-color: #305680;
    border-radius: 3px;
    height: 47px;
    width: 100%;
 }
 .buttonSearch:hover {
    background-color: #4B6D93;
    transition-duration: 0.3s;
 }
 .buttonSearch:active {
     background-color: #0D2743;
     transition-duration: 0s;
  }
 .buttonSearch:disabled {
     background-color: #E7E7E7;
     color: #75797C;
 }

 .buttonRe {
    font-weight: 500;
    color: #305680;
    border: 1px solid #B5C9DE;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    height: 47px;
    width: 100%;
    transition: all 0.3s ease 0s;

 }
 .buttonRe:hover {
    border: 0px solid #305680;
    color: #fff;
    background-color: #305680;
 }

#integratorsContainer {
    display: grid;
    border: 1px solid #EDEDED;
    height: fit-content;
    padding: 18px;
    vertical-align: top;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    row-gap: 1em;
}

#integratorsContainerEmpty {
    display: grid;
    border: 1px solid #EDEDED;
    height: fit-content;
    vertical-align: top;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 60px;
    text-align: center;
}

#integratorsContainerEmpty > p {
    font-weight: 400;
    color: #AFAFAF;
}

#integratorsContainerEmpty > object {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.integrator-box {
    display: block;
    background-color: #F5F7F9;
    border-radius: 3px;
    padding: 20px;
}

.integrator-box > div {
    Margin-top: 8px;
	Margin-bottom: 3px;
}

.integrator-box a.links {
	color: #305680;
	font-weight: 500;
}

.integrator-box a.links:hover {
    text-decoration: underline;
}

.integrator-box p.title {
    font-weight: bold !important;
    font-size: 24px;
    line-height: 32px;
    Margin-top: 1px;
    Margin-bottom: 29px;
    Color: #212529;
}

.integrator-box p.become-integrator {
    display: flex;
    flex: 1;
    align-items: center;
    font-size: 18px;
}

@media screen and (max-width: 1500px) {
	.buttonRe {
	}
}

@media screen and (max-width: 750px) {
	.buttonRe {
	}
}

@media screen and (max-width: 1280px) {
	.integrator-box {
		flex-direction: column;
		justify-content: flex-start;
	}

	.integrator-box > div {
		margin: 20px 0 0;
	}

    .integrator-box img.integrator-program {
        height: 30px;
    }
    #integratorsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
    #integratorsContainer {
        grid-column-end: 4;
        grid-template-columns: repeat(1, 1fr);
    }
    #integratorsContainerEmpty {
        grid-column-end: 4;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 568px) {
	#hardwareContainer, #integratorContainer {
		justify-content: center;
	}

	.integrator-box {
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
	}

	.integrator-box > div {
		margin: 20px 0 0;
	}
    #integratorsGrid {
        grid-template-columns: repeat(1, 1fr);
    }
    #integratorsContainer {
        grid-column-end: 1;
        grid-template-columns: repeat(1, 1fr);
    }
    #integratorsContainerEmpty {
        grid-column-end: 1;
        grid-template-columns: repeat(1, 1fr);
    }
}
