body {
	background-color: #F7F9FC;
}

.marketplace-title {
	color: #212529;
	font-size: 56px;
	font-weight: 600;
	line-height: 72px;
	letter-spacing: 0.14px;
	text-align: center;
	margin-bottom: 32px;
}

.marketplace-desc {
	color: rgba(0, 0, 0, 0.76);
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0.15px;
	text-align: center;
}

.marketplace-cards {
	display: flex;
	justify-content: space-between;
	gap: 32px;
	margin: 56px 0;
}

.marketplace-card {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 46px;
	border-radius: 24px;
	background: #FFF;
	box-shadow: -4px 15px 50px -20px rgba(0, 0, 0, 0.15), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
	width: 100%;
	animation: slide-in 0.8s ease-out forwards
}

.marketplace-card .marketplace-card-icon {
	padding: 25px;
	border-radius: 24px;
	border: 3px solid #3E9AF8;
	width: fit-content;
}

.marketplace-card .marketplace-card-title {
	font-size: 28px;
	font-weight: 500;
	line-height: 44px;
	letter-spacing: 0.249px;
	color: #2A7DEC;
}

.marketplace-card .marketplace-card-desc {
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.15px;
}

.background {
	position: relative;
	z-index: -1;
	top: -260px;
	height: 100%;
}

.background img {
	content: "";
	background-image: url(https://img.thingsboard.io/partners/hardware-map.svg);
	background-size: contain;
	display: block;
	position: fixed;
	right: calc(50% - 800px);
	top: 220px;
	width: 1600px;
	height: 800px;
	filter: opacity(0.1);
}

.background .fill {
	position: absolute;
	width: 100%;
	height: 460px;
	bottom: -260px;
	/*transform: skewY(-6deg);*/
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 40%, rgba(255,255,255,0.4) 60%, rgba(255,255,255,0) 100%);
}

/*#hardwareContainer:after*/
p.button-section {
	margin-top: 32px;
	padding-bottom: 48px;
}

.button {
	font-size: 16px;
	padding: 12px 20px;
}

section > main, footer > main {
	width: 100%;
}

section {
	background-color: unset;
	padding: 50px 30px 20px;
}

@media screen and (min-width: 1500px) {
	section > main, footer > main {
		max-width: 1400px;
	}
}

@keyframes slide-in {
	from {
		opacity: 0;
		transform: translateY(30%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width: 1100px) {
	.marketplace-cards {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 500px) {
	.marketplace-title {
		font-size: 46px;
		line-height: 65px;
	}
	.marketplace-desc {
		font-size: 16px;
		line-height: 25px;
	}
}