p, h1, h5 {
	color: #212529;
}

.background {
	position: relative;
	z-index: -1;
	top: -260px;
}

#hardwareContainer object{
	position: absolute;
	z-index: 1;
	top: -40px;
	width: 160px;
	left: calc(50% - 800px);
}

#hardwareContainer:after {
	content: "";
	background-image: url(/images/partners/hardware-map.svg);
	background-size: contain;
	display: block;
	position: absolute;
	right: 0;
	top: -40px;
	width: 1600px;
	height: 800px;
}

.background div {
	position: absolute;
	width: 100%;
	height: 2950px;
	transform: skewY(-6deg);
	background-color: #F7F9FC;
}

#users main h1 {
	font-size: 36px;
	font-weight: 500;
	line-height: 54px;
	margin: 10px 0 32px;
	text-align: center;
}

#users main h5 {
	text-align: center;
	font-size: 20px;
	line-height: 1.5em;
	color: #899AAB;
	font-weight: normal;
	margin-bottom: 60px;
}

.button {
	font-size: 18px;
	padding: 12px 20px;
	/*color: white;*/
	/*text-decoration: none;*/
}

#hardwareContainer {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 160px 0 100px;
}

.partner-box {
	position: relative;
	z-index: 1;
	max-width: calc(50% - 12px);
	min-width: calc(50% - 12px);
	margin-bottom: 24px;
	padding: 32px 32px 28px;
	flex: 1;
	display: flex;
	align-items: flex-start;
    flex-direction: column;
}

.box-background {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.04), 0 50px 50px -20px rgba(0,0,0,0.15);
	border-radius: 6px;
	z-index: -1;
}

.partner-box img.logo {
    object-fit: scale-down;
    height: 32px;
    max-width: 80%;
	margin-bottom: 48px;
}

.partner-box img.partner-program {
    position: absolute;
    object-fit: scale-down;
    height: 40px;
    top: 20px;
    right: 20px;
}

.partner-box > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.partner-box div.links a {
	color: #2A7DEC;
	font-weight: 500;
	font-size: 18px;
	position: relative;
	margin-right: 12px;
	background-color: rgba(42,125,236, 0.1);
	border-radius: 4px;
	padding: 6px 10px;
	margin-top: 8px;
	line-height: 45px;
}

.partner-box div.links a:first-child {
	background-color: unset;
	border-radius: unset;
	padding-right: 16px;
}

.partner-box div.links a:first-child:after {
    content: "";
    background-image: url(/images/link-arrow.svg);
    background-size: contain;
    display: block;
    position: absolute;
    right: 0;
    top: 6px;
    width: 8px;
    height: 9px;
    border: none;
}

.partner-box div.links a:hover {
    text-decoration: underline;
}

.partner-box div .text p.title {
    font-weight: 500 !important;
    font-size: 24px;
}

.partner-box div .text p.description {
    font-size: 16px;
	margin-bottom: 32px;
}

.partner-box div p.become-partner {
	font-size: 28px;
	font-weight: 500;
	line-height: 1.5em;
}

section > main, footer > main {
	width: 100%;
}

section {
	background-color: unset;
	padding: 50px 30px 20px;
}

@media screen and (min-width: 1500px) {
	section > main, footer > main {
		max-width: 1400px;
	}
}

@media screen and (max-width: 1024px) {
	.partner-box {
		flex-direction: column;
		justify-content: flex-start;
	}

    .partner-box img.logo {
        margin-left: 0;
        height: 30px;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
	#users {
		padding: 30px 20px 0px;
	}

	#users main h1 {
		font-size: 32px;
		line-height: 50px;
	}

	#users main h5 {
		font-size: 16px;
	}

	#hardwareContainer {
		justify-content: center;
	}

	.partner-box {
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		max-width: 100%;
		min-width: 100%;
		padding: 24px;
	}

	.partner-box > div > .links > a {
		font-size: 14px;
		margin-right: 6px;
		line-height: 37px;
	}

	.partner-box div div.text p.title {
		font-size: 22px;
	}

	.partner-box div div.text p.description {
		font-size: 14px;
	}
}
