.modal-overlay
  display: none
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 8888
  align-items: center
  justify-content: center

  &.visible
    display: flex

  .modal-content
    width: 1300px
    padding: 8px
    border-radius: 24px
    background-color: #F7F9FC
    max-height: 95vh
    overflow-y: auto

    .modal-body
      display: flex
      position: relative
      transform: translate(0, 0)
      max-height: 740px

      .close-button
        position: absolute
        right: 9px
        top: 8px
        cursor: pointer

      .button
        text-align: center

        &.reset
          background-color: #fff
          color: #2A7DEC
          width: 200px
          align-self: flex-end
          border: solid 1px #2A7DEC
          outline: none

          &:hover
            background-color: #fff
            color: #2A7DEC
            filter: brightness(1.2)


      .card
        padding: 48px 48px 94px
        display: flex
        flex-direction: column
        overflow-y: auto

        //scrollbar-width: thin
        //scrollbar-color: #A9A9A9 #F1F1F1
        //&::-webkit-scrollbar
        //  width: 12px
        //&::-webkit-scrollbar-track
        //  background: #F1F1F1
        //&::-webkit-scrollbar-thumb
        //  background-color: #A9A9A9
        //  border-radius: 6px
        //  border: 3px solid #F1F1F1
        //&::-webkit-scrollbar-thumb:hover
        //  background-color: #555

        &.calculator
          background-color: #fff
          border-radius: 16px
          width: 60%

        &.results
          width: 40%
          padding-bottom: 25px

        .hidden
          display: none

        p
          white-space: unset

        h2
          font-size: 36px
          line-height: 48px
          color: #000
          margin-bottom: 32px
          font-weight: 500
          text-align: left

        .card-header
          h3
            font-size: 28px
            line-height: 44px
            margin-bottom: 32px
            font-weight: 500
            .copy-button
              display: inline-block
              margin-left: 19px
              cursor: pointer
              position: relative
              border-radius: 50%

              &:hover
                background-color: #F4F8FE
                .tooltip-text
                  visibility: visible
              .tooltip-text
                position: absolute
                right: 28px
                width: max-content
                padding: 0 7px
                visibility: hidden
                background-color: #000000c7
                color: #fff
                text-align: center
                border-radius: 6px
                font-size: 12px

              img
                vertical-align: baseline

          h4
            font-size: 20px
            line-height: 32px
            font-weight: 400
            color: #202021
            margin-bottom: 12px
            white-space: nowrap
            &.wrap
              white-space: unset

        .contact-us-text
            margin-bottom: auto

        .input-parameters
          margin-bottom: auto

          .device-profiles-container
            .device-profile:only-child
              .add-profile-btn-container
                display: none
            h3
              display: none

            .remove-profile-btn
              position: absolute
              right: 10px
              top: 8px
              cursor: pointer
              img
                width: 24px

            &.advanced
              .device-profile
                .wrapper
                  border: 1px solid #BBD5F9
                  border-radius: 15px
                  position: relative
                  padding: 40px 14px 14px
                  margin-bottom: 24px

                  h3
                    display: block
                    position: absolute
                    top: -14px
                    background-color: #fff
                    padding: 0 4px
                    color: #2A7DEC
                    font-size: 16px
                    line-height: 28px
                    font-weight: 500
                    letter-spacing: 0.15px

                .add-profile-btn-container
                  display: block
                  margin-bottom: 24px
                  cursor: pointer
                  &:hover
                    .add-profile-btn
                      span
                        display: inline
                  &.hidden
                    display: none

                  .add-profile-btn
                    display: flex
                    align-items: center
                    gap: 8px

                    hr
                      width: 100%
                      border: 1px solid #2A7DEC

                    img
                      width: 24px
                      height: 24px
                      border-radius: 50%
                      background-color: #EEF5FE

                    span
                      display: none
                      font-size: 16px
                      font-weight: 500
                      line-height: 28px
                      color: #2A7DEC
                      white-space: nowrap

          .input-group
            &:last-child:not(.addons)
              margin-bottom: 16px

            &.addons
              margin-bottom: 16px

              p
                font-size: 14px
                line-height: 24px
                font-weight: 500
                margin-bottom: 12px
                color: #3D3D3D

              .add-ons-container
                display: flex
                gap: 24px

                .add-on
                  font-size: 14px
                  font-weight: 400
                  color: #212121
                  line-height: 24px
                  margin-bottom: 8px
                  -webkit-user-select: none
                  -moz-user-select: none
                  -ms-user-select: none
                  display: block
                  position: relative
                  padding-left: 35px
                  cursor: pointer

                  &:hover
                    .checkmark
                      background-color: #2A7DEC

                  .add-on-checkbox
                    position: absolute
                    opacity: 0
                    cursor: pointer
                    height: 0
                    width: 0

                    &:checked
                      & ~ .checkmark
                        background-color: #2A7DEC
                        border: 1px solid #2A7DEC
                        &:after
                          display: block

                  .checkmark
                    position: absolute
                    top: 0
                    left: 0
                    height: 21px
                    width: 21px
                    background-color: white
                    border: 1px solid #E0E0E0
                    border-radius: 4px

                    &:after
                      content: ""
                      position: absolute
                      display: none
                      left: 6px
                      top: 2px
                      width: 7px
                      height: 12px
                      border: solid white
                      border-width: 0 2px 2px 0
                      -ms-transform: rotate(45deg)
                      transform: rotate(45deg)

            .input-label-group
              display: flex
              justify-content: space-between
              align-items: center

              .label
                font-size: 14px
                font-weight: 500
                color: #3D3D3D
                line-height: 24px
                display: flex
                align-items: center

                .tooltip
                  margin-left: 5px
                  position: relative
                  margin-bottom: 2px

                  &:hover
                    .tooltip-text
                      visibility: visible

                  img
                    width: 15px

                  .tooltip-text
                    position: absolute
                    z-index: 3
                    visibility: hidden
                    background-color: #000000c7
                    color: #fff
                    text-align: left
                    border-radius: 6px
                    padding: 5px
                    font-size: 12px
                    left: 19px
                    top: -3px
                    width: 250px
                    line-height: 24px

              button.payload
                width: 200px
                border: 1px solid #E0E1E2
                border-radius: 6px
                padding: 10px
                font-size: 14px
                margin-left: auto
                margin-right: 16px

              .input
                padding: 10px
                border: 1px solid #E0E1E2
                border-radius: 6px
                font-size: 14px
                width: 100%
                margin: 0
                -moz-appearance: textfield

                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button
                  -webkit-appearance: none

                &.input-right
                  width: 6rem
                  text-align: right

              .input-with-select
                display: flex
                align-items: center

                .select
                  padding: 10px
                  border: 1px solid #E0E1E2
                  border-radius: 6px
                  font-size: 14px
                  margin-left: 16px
                  background-color: #fff
                  min-width: 122px

                  -webkit-appearance: none
                  -moz-appearance: none
                  appearance: none

                  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2712%27%20height%3D%278%27%20viewBox%3D%270%200%2012%208%27%3E%3Cpath%20d%3D%27M1.41%200L6%204.58L10.59%200L12%201.41L6%207.41L0%201.41L1.41%200Z%27%20fill%3D%27%23333333%27/%3E%3C/svg%3E")
                  background-repeat: no-repeat
                  background-position: right 10px center
                  background-size: 12px

                  &.hidden
                    display: none

            .slider-container
              width: 100%
              margin-bottom: 46px
              position: relative

              .slider
                position: relative
                z-index: 2
                -webkit-appearance: none
                appearance: none
                width: 100%
                cursor: pointer
                outline: none
                height: 6px
                background-color: #E0E1E2
                border-radius: 6px

                margin: 0

                &::-webkit-slider-runnable-track
                  border-radius: 6px

                &::-moz-range-track
                  border-radius: 6px

                &::-webkit-slider-thumb
                  -webkit-appearance: none
                  appearance: none
                  height: 25px
                  width: 25px
                  border-radius: 50%
                  border: none
                  background-color: #2A7DEC

                &::-moz-range-thumb
                  height: 25px
                  width: 25px
                  background-color: #2A7DEC
                  border-radius: 50%
                  border: none

              .tick-marks
                position: absolute
                width: 100%
                top: 7px
                left: 0

                &.hidden
                  display: none

                .tick-mark
                  display: flex
                  flex-direction:  column
                  gap: 10px
                  position: absolute
                  z-index: 1

                  &:first-child, &:last-child
                    .tick
                      visibility: hidden
                    .tick-label
                      transform: none

                  &:last-child
                    .tick-label
                      transform: translateX(-7px)

                  .tick
                    width: 4px
                    height: 12px
                    border: 2px solid #E0E1E2
                    border-radius: 25%

                    box-sizing: border-box

                  .tick-label
                    transform: translateX(-10px)
                    font-size: 14px
                    font-weight: 400
                    line-height: 24px
                    color: #757575

                    &.infinity
                      font-size: 28px
                      font-weight: 300

        .results, .addons-results
          margin-bottom: 16px
          border-bottom: 1px solid #D6E5F9
          padding-bottom: 12px

          .results-item
            display: flex
            justify-content: space-between
            align-items: center

            .results-label
              font-size: 14px
              font-weight: 400
              color: #717274
              line-height: 28px

            .results-value
              font-weight: 500
              font-size: 14px
              line-height: 24px
              &.no-tooltip
                padding-right: 21px
              .tooltip
                margin-left: 5px
                position: relative

                &:hover
                  .tooltip-text
                    visibility: visible

                svg
                  vertical-align: middle

                .tooltip-text
                  position: absolute
                  width: 320px
                  z-index: 1
                  visibility: hidden
                  background-color: #000000c7
                  color: #fff
                  border-radius: 6px
                  padding: 5px
                  font-size: 12px
                  right: 19px

        .results-total
          display: flex
          justify-content: space-between
          align-items: center
          margin-bottom: auto
          span
            &:first-child
              font-size: 14px
              font-weight: 400
              line-height: 28px
            &:last-child
              font-size: 28px
              font-weight: 500
              line-height: 44px
            .tooltip
              margin-left: 5px
              position: relative

              &:hover
                .tooltip-text
                  visibility: visible

              svg
                vertical-align: middle

              .tooltip-text
                position: absolute
                width: 300px
                z-index: 1
                visibility: hidden
                background-color: #000000c7
                color: #fff
                border-radius: 6px
                padding: 5px
                font-size: 12px
                right: 19px
                line-height: 24px
                top: -50px

        .actions-container
          display: flex
          justify-content: space-between
          align-items: center
          position: fixed
          bottom: 0
          background: white
          z-index: 100
          //width: calc(60% - 104px)
          height: 94px

          .mode-toggle-container
            display: flex
            gap: 7px

            .toggle-switch
              position: relative
              display: inline-block
              width: 42px
              height: 24px
              margin-bottom: 0

              input
                opacity: 0
                width: 0
                height: 0
                &:checked + .slider:before
                  transform: translateX(18px)

              .slider
                position: absolute
                cursor: pointer
                top: 0
                left: 0
                right: 0
                bottom: 0
                background-color: #007bff
                transition: 0.4s
                border-radius: 34px

                &:before
                  position: absolute
                  content: ""
                  height: 18px
                  width: 18px
                  left: 3px
                  bottom: 3px
                  background-color: white
                  transition: 0.4s
                  border-radius: 50%

            .label-text
              display: inline-block
              font-size: 16px
              line-height: 28px
              color: #333
              font-weight: 400
              &.selected
                font-weight: 500

              .tooltip
                margin-left: 5px
                position: relative
                margin-bottom: 2px

                &:hover
                  .tooltip-text
                    visibility: visible

                img
                  width: 15px

                .tooltip-text
                  position: absolute
                  z-index: 3
                  visibility: hidden
                  background-color: #000000c7
                  color: #fff
                  text-align: center
                  border-radius: 6px
                  padding: 5px
                  font-size: 12px
                  left: 19px
                  top: -3px
                  width: 200px
                  line-height: 24px

  .payload-modal-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 9999
    background-color: rgba(0, 0, 0, 0.5)
    display: none
    align-items: center
    justify-content: center

    &.visible
      display: flex

    .modal-content 
      background-color: #F4F8FE
      padding: 8px
      border-radius: 24px
      width: 100%
      max-width: 942px
      @media screen and (max-width: 600px)
        border-radius: 0

      .modal-wrapper
        background-color: #fff
        padding: 48px
        border-radius: 24px
        position: relative

        @media screen and (max-width: 600px)
          height: 100vh
          padding: 16px

        .modal-header
          display: flex
          justify-content: space-between
          align-items: center
          margin-bottom: 24px

          h2
            font-size: 36px
            line-height: 48px
            font-weight: 500
            color: #212121
            margin: 0

          #closePayloadModalBtn
            position: absolute
            right: 9px
            top: 8px
            cursor: pointer

        .input-group
          position: relative

          .tooltip
            margin-left: 5px
            position: relative
            margin-bottom: 2px
            &:hover
              .tooltip-text
                visibility: visible
            img
              width: 15px
            .tooltip-text
              position: absolute
              z-index: 3
              visibility: hidden
              background-color: #000000c7
              color: #fff
              text-align: left
              border-radius: 6px
              padding: 5px
              font-size: 12px
              left: 19px
              top: -3px
              width: 400px
              line-height: 24px

          label
            display: block
            font-size: 16px
            line-height: 28px
            font-weight: 400
            color: #3D3D3D
            margin-bottom: 8px

          #errorMessage
            position: absolute
            bottom: -21px
            color: #D12730
            font-weight: 400
            font-size: 12px

          #json-input
            width: 100%
            height: 300px
            font-family: Inconsolata
            font-size: 16px
            line-height: 24px
            color: #212121
            border: 1px solid #b1caf4
            border-radius: 6px
            padding: 16px

            &.error, &.error:focus-visible
              border: 1px solid #D12730

            &::placeholder
              color: #9E9E9E
              opacity: 1

            &:focus, &:focus-visible
              outline: none
              border-color: #B1CAF4FF

        .footer
          display: flex
          align-items: center
          justify-content: space-between
          padding-top: 16px

          @media screen and (max-width: 600px)
            flex-direction: column
            gap: 16px

          .data-points
            font-weight: 400
            font-size: 20px
            line-height: 32px
            color: #3D3D3D

          #applyPayloadBtn
            &:disabled
              opacity: 0.5
              cursor: not-allowed
              &:hover
                filter: unset
        
@media screen and (max-width: 959px)
  .modal-overlay
    .modal-content
      max-height: 100vh
      height: 100%
      border-radius: 0

      .modal-body
        flex-direction: column

        .card
          padding-bottom: 48px
          overflow-y: unset

          &.calculator
            width: 100%

          &.results
            width: 100%

          p.contact-us-text
            margin-bottom: 16px

          div.results-total
            margin-bottom: 16px

          .actions-container
            position: static
            width: unset
            transform: unset

@media screen and (max-width: 599px)
  .modal-overlay
    .modal-content
      .modal-body
        .card
          padding: 16px

          &.calculator
            h2
              font-size: 28px

          .btn
            width: 100%

          .input-parameters
            .input-group
              &.addons
                .add-ons-container
                  flex-direction: column
                  gap: 16px

              .input-label-group
                flex-direction: column
                align-items: unset
                margin-bottom:  16px

                .label
                  .tooltip
                    .tooltip-text
                      z-index: 3
                      width: 150px
                      left: -51px

                .button
                  width: 100%
                  margin-bottom: 12px

                .input
                  &.input-right
                    width: 100%

          .actions-container
            flex-direction: column
            align-items: flex-start
            gap: 16px

          .card-header
            h3
              font-size: 22px
