<div class="scroll-indicator" onclick="scrollToTop()">
    <span class="scroll-indicator-arrow">
        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.38 11.4531L16.5 17.5598L22.62 11.4531L24.5 13.3331L16.5 21.3331L8.5 13.3331L10.38 11.4531Z" fill="#305680" transform="rotate(-180 16.5 16)"/>
        </svg>
    </span>
</div>

<script>
    window.onscroll = () => {
        const scrollProgress = document.querySelector(".scroll-indicator")

        let position = document.documentElement.scrollTop;
        let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight
        let scrollValue = Math.round( position * 100 / calcHeight )
        scrollProgress.style.background = `conic-gradient(#305680 ${scrollValue}%, #e4e4e4 ${scrollValue}%)`;

        if (position > 50) {
            scrollProgress.classList.add("scroll-indicator-appear-animation")
        } else if (scrollProgress.classList.contains("scroll-indicator-appear-animation")) {
            scrollProgress.classList.remove("scroll-indicator-appear-animation")
        }
    }

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>

