<div class="scroll-indicator" onclick="scrollToTop()">
    <span class="scroll-indicator-arrow">
        <i class="fas fa-chevron-up fa-lg" style="color: #305680"></i>
    </span>
</div>

<script>
    window.onscroll = () => {
        const scrollProgress = document.querySelector(".scroll-indicator")

        let position = document.documentElement.scrollTop;
        let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight
        let scrollValue = Math.round( position * 100 / calcHeight )
        scrollProgress.style.background = `conic-gradient(#305680 ${scrollValue}%, #e4e4e4 ${scrollValue}%)`;

        if (position > 50) {
            scrollProgress.classList.add("scroll-indicator-appear-animation")
        } else if (scrollProgress.classList.contains("scroll-indicator-appear-animation")) {
            scrollProgress.classList.remove("scroll-indicator-appear-animation")
        }
    }

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }
</script>

