<div class="services-banner">
    <div class="services-content">
        <h3>Want to achieve similarly impactful results?</h3>
        <p>Find your development partner for scalable solutions delivered fast and on a fixed timeline.</p>
        <a id="CaseStudyToServices" class="button gtm_button" href="/services/development-services/">Explore our service</a>
    </div>
    <img src="/images/usecases/services-icon.svg" width="380" height="267" alt="Letter icon">
</div>