<section class="advantages">
    <h2>ThingsBoard advantages</h2>
    {% include carousel.liquid items = 3 itemsHigher960 = 1 itemsHigher600 = 1 itemsHigher0 = 1 dotButtonMode = "circle" collectionMap = "advantages-carousel" cardMode = true carouselMargin = 0 stagePadding = 0 navMode = "smallArrow" titleSize = "28px" titleColor = "#000000DE" titleWeight = "500" titleLineHeight = "44px" descriptionSize = "14px" descriptionColor = "#000000C2" descriptionLineHeight = "24px" enableLinkArrow = false linkSize = "16px" linkLineHeight = "22px" linkWeight = "400" %}
</section>