<address class="thingsboard-contacts-wrapper">
    <ul class="thingsboard-contacts">
        <li>
            <i class="fas fa-phone fa-flip-horizontal"></i>
            <a href="tel:+12123344096">+1 212 334 4096</a>
        </li>
        <li>
            <i class="fas fa-map-marker-alt"></i>
            <span>110 Duane Street, Suite 1C, NEw York, NY 10007, USA</span>
        </li>
        <li>
            <i class="fas fa-envelope"></i>
            <a href="mailto:info@thingsboard.io">info@thingsboard.io</a>
        </li>
    </ul>
</address>

