{%- assign effective-url = page.effective-url | default: page.url -%}
{%- for item in tree -%}
    {%- if item.section -%}
            {%- assign tree = item.section -%}
            {%- include tocsearch.html -%}
        {%- if foundTOC -%}
            {%- break -%}
        {%- endif -%}
    {%- else -%}
        {%- if item.path == effective-url -%}
            {%- assign foundTOC = thistoc -%}
            {%- assign title = item.title -%}
            {%- break -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}