{% for item in tree %}
{% if item.pe %}{% assign itemClass="item item-pe" %}{% elsif item.new %}{% assign itemClass="item item-new" %}{% else %}{% assign itemClass="item" %}{% endif %}
{% if item.section %}
<div class="{{ itemClass }}" data-title="{{ item.title }}">
  <div class="container">{% assign tree = item.section %}{% include tree.html %}
  </div>
</div>{% else %}{% assign prefix = item.path | slice: 0, 4 %}{% if prefix == "http" %}{% assign target=" target='_blank'" %}{% else %}{% assign target="" %}{% endif %}
<a class="{{ itemClass }}" data-title="{{ item.title }}" href="{{ item.path }}"{{ target }}></a>{% endif %}{% endfor %}