<section class="modal-wizard hidden">
  <button class="btn-close" onClick="closeWizard(event)">&#10005;</button>
  <div class="modal-wizard__content">
    <h3 class="modal-wizard__header">Trendz analytics platform</h3>
    <p class="modal-wizard__text">
      You are one step closer to get a powerful analytics tool that will help you to grow your business and predict changes
    </p>
  </div>
  <div id="choose-plan">
    <div id="cloud-options" class="col justify-content-center hidden cloud-options">
      <div class="cloud-options__wrapper">
        <div class="cloud-options__item" id="north-america-cloud-option" onClick="selectCloudOption('north-america-cloud-option')">
          <h3>North America</h3>
        </div>
        <div class="cloud-options__item" id="europe-cloud-option" onClick="selectCloudOption('europe-cloud-option')">
          <h3>Europe</h3>
        </div>
      </div>
    </div>
    <div id="cloud-content" class="plan-content">
      <div id="north-america-cloud-tab" class="tab-content">
        <div class="steps-container">
          <div class="step step-1">
            <h4 class="step__header">Step 1</h4>
            <p class="step__content">Log in to ThingsBoard Cloud account and select “Plan and Billing” menu option. Press “Update Plan” button</p>
          </div>
          <div class="step step-2">
            <h4 class="step__header">Step 2</h4>
            <p class="step__content">Choose “ThingsBoard + Trendz” and select the most suitable plan for you</p>
          </div>
          <div class="step step-3">
            <h4 class="step__header">Step 3</h4>
            <p class="step__content">Reload the page to see new “Trendz Analytics” option in your ThingsBoard Menu</p>
          </div>
        </div>
        {% include images-gallery.html imageCollection="northAmericaCloudPlan" max-width="100%" max-height="100%" preview="false" align="space-between" %}
        <div class="modal-wizard__button">
          <a href="https://thingsboard.cloud/billing"
             target="_blank"
             class="gtm_button goToTBCloud"
             onClick="goToPurchase(event, 'cloud')">Go to ThingsBoard Cloud</a>
        </div>
      </div>

      <div id="europe-cloud-tab" class="tab-content">
        <div class="steps-container">
          <div class="step step-1">
            <h4 class="step__header">Step 1</h4>
            <p class="step__content">Log in to ThingsBoard Cloud account and select “Plan and Billing” menu option. Press “Update Plan” button</p>
          </div>
          <div class="step step-2">
            <h4 class="step__header">Step 2</h4>
            <p class="step__content">Choose “ThingsBoard + Trendz” and select the most suitable plan for you</p>
          </div>
          <div class="step step-3">
            <h4 class="step__header">Step 3</h4>
            <p class="step__content">Reload the page to see new “Trendz Analytics” option in your ThingsBoard Menu</p>
          </div>
        </div>
        {% include images-gallery.html imageCollection="europeCloudPlan" max-width="100%" max-height="100%" preview="false" align="space-between" %}
        <div class="modal-wizard__button">
          <a href="https://eu.thingsboard.cloud/billing"
             target="_blank"
             class="gtm_button goToTBCloud"
             onClick="goToPurchase(event, 'cloud')">Go to ThingsBoard EU Cloud</a>
        </div>
      </div>
    </div>
    <div id="self-managed-content" class="plan-content tab-content">
        <div class="steps-container" >
          <div class="step step-1">
            <h4 class="step__header">Step 1</h4>
            <p class="step__content">Log into Licence Portal and create new Trendz Analytics Subscription</p>
          </div>
          <div class="step step-2">
            <h4 class="step__header">Step 2</h4>
            <p class="step__content">Get your license key</p>
          </div>
          <div class="step step-3">
            <h4 class="step__header">Step 3</h4>
            <p class="step__content">
              Follow
              <a href="/docs/trendz/install/installation-options/">the instructions to install Trendz</a>
              the instructions to install Trendz Analytics to your server
            </p>
          </div>
        </div>
        {% include images-gallery.html imageCollection="selfManagedPlan" max-width="100%" max-height="100%" preview="false" align="space-between" %}
        <div class="modal-wizard__button">
          <a href="https://license.thingsboard.io"
             target="_blank"
             class="gtm_button goToLicensePortal"
             onClick="goToPurchase(event, '{{ include.defaultPlan }}')">Go to License Portal</a>
        </div>
    </div>
  </div>
  <div id="go-to-portal">
    <div class="text-container">
      <div class="text-block">
        <p class="header">Well Done! You are all set!</p>
        <p>If you want to use your account effectively, please, check the materials we have prepared for you:</p>
      </div>
      <div class="text-block">
        <p>
          Our detailed
          <a href="/docs/trendz/">articles </a>
          on how to use Trendz features
        </p>
        <p>
          Our easy and quick
          <a href="https://www.youtube.com/playlist?list=PLYEKB_XwLCZIs-_Aoos3CdNIqSYrXk4LN">“How to” videos</a>
        </p>
      </div>
    </div>
    <div class="modal-wizard__button">
      <a href="/docs/trendz/">Documentation</a>
    </div>
  </div>
</section>

<script>
  let chosenPlan;

  function openTrendzWizard(e, id, plan){
    e.preventDefault();
    $('.modal-wizard').removeClass('hidden');
    $('body').css('overflow', 'hidden');

    openChosenPlan(id);
    $('#choose-plan').css('display', 'flex');
    $('#go-to-portal').hide();

    if(plan) {
      chosenPlan = plan;
    }

    if(id === 'cloud-content') {
      let isNorthAmericaCloud = e.target.classList.contains('north-america');
      selectCloudOption(isNorthAmericaCloud ? 'north-america-cloud-option' : 'europe-cloud-option')
    }

    changePurchaseButtonId(id, plan);
  }

  function openChosenPlan(id){
    $(`.plan-content`).hide();
    $(`#${id}`).show();

    if(id === 'cloud-content') {
      $('#cloud-options').removeClass('hidden');
      $('#options-bg').removeClass('bg-right');
      $('#options-bg').addClass('bg-left');
      $('#cloud-option').addClass('selected');
      $('#self-managed-option').removeClass('selected');
    } else {
      $('#cloud-options').addClass('hidden');
      $('#options-bg').removeClass('bg-left');
      $('#options-bg').addClass('bg-right');
      $('#cloud-option').removeClass('selected');
      $('#self-managed-option').addClass('selected');
    }
  }

  function selectCloudOption(id) {
    if(id === 'north-america-cloud-option') {
      $('#options-bg').removeClass('bg-right');
      $('#options-bg').addClass('bg-left');
      $('#north-america-cloud-option').addClass('active');
      $('#europe-cloud-option').removeClass('active');
      $('#europe-cloud-tab').hide();
      $('#north-america-cloud-tab').show();
    } else {
      $('#options-bg').addClass('bg-right');
      $('#options-bg').removeClass('bg-left');
      $('#north-america-cloud-option').removeClass('active');
      $('#europe-cloud-option').addClass('active');
      $('#europe-cloud-tab').show();
      $('#north-america-cloud-tab').hide();
    }
  }

  function closeWizard(e){
    e.preventDefault();
    $('.modal-wizard').addClass('hidden');
    $('body').css('overflow', 'auto');
  }

  function goToPurchase(e, plan){
    $('#go-to-portal').css('display', 'flex');
    $('#choose-plan').hide();

    if(!plan) plan = chosenPlan;

    reportTrendzWizrdAction('wizard', plan);

    if(plan === 'maker') {
      getLicense(e, false, '31307df0-11f6-11ea-951e-b77b877a367b', '10ba4770-e4f4-11ed-aaaa-83bc8f41f932', 'Trendz Analytics Maker', 'ROQSSS8UGU')
    } else if(plan === 'prototype') {
      getLicense(e, false, '31307df0-11f6-11ea-951e-b77b877a367b', '2985f1a0-7afd-11ea-951e-b77b877a367b', 'Trendz Analytics Prototype', 'ROQSSS8UGU')
    } else if(plan === 'startup'){
      getLicense(e, false, '31307df0-11f6-11ea-951e-b77b877a367b', '018b7520-7afe-11ea-951e-b77b877a367b', 'Trendz Analytics Business', 'ROQSSS8UGU')
    } else if(plan === 'business') {
      getLicense(e, false, '31307df0-11f6-11ea-951e-b77b877a367b', '6e3bb4f0-7afe-11ea-951e-b77b877a367b', 'Trendz Analytics Business', 'ROQSSS8UGU')
    }
  }

  function getLicense(event, isPerpetual, productId, planId, productName, coupon) {
    event.preventDefault();
    var url = "https://license.thingsboard.io/signup?createSubscription=true&perpetual=";
    if (isPerpetual) {
      url += "true";
    } else {
      url += "false";
    }
    url += "&productId="+productId;
    url += "&planId="+planId;
    if (coupon) {
      url += "&coupon="+coupon;
    }

    window.open(url, "_blank");
  }

  function reportTrendzWizrdAction(link, product) {
    if (checkGTagDataLayer() || !link || !product) {
      return;
    }

    gtag("event", "TrendzWizrdAction", {
      "event_category": product,
      "event_label": link
    });
  }

  let gtmIdsMap = {
    'self-managed-content maker': ["Pricing_TA_SM_GoToLicPortal", "Pricing_TA_SM_GoToTBCloud"],
    'self-managed-content prototype': ["Pricing_TA_Prototype_GoToLicPortal", "Pricing_TA_Prototype_GoToTBCloud"],
    'self-managed-content startup': ["Pricing_TA_SM_Startup_GoToLicPortal", "Pricing_TA_SM_Startup_GoToTBCloud"],
    'self-managed-content business': ["Pricing_TA_SM_Business_GoToLicPortal", "Pricing_TA_SM_Business_GoToTBCloud"],
    'cloud-content maker': ["Pricing_TA_Cloud_GoToLicPortal", "Pricing_TA_Cloud_GoToTBCloud"],
    'cloud-content prototype': ["Pricing_TA_SM_Prototype_GoToLicPortal", "Pricing_TA_SM_Prototype_GoToTBCloud"],
    'cloud-content startup': ["Pricing_TA_Cloud_Startup_GoToLicPortal", "Pricing_TA_Cloud_Startup_GoToTBCloud"],
    'cloud-content business': ["Pricing_TA_Cloud_Business_GoToLicPortal", "Pricing_TA_Cloud_Business_GoToTBCloud"],
  }

  function changePurchaseButtonId(id, plan) {
    let buttonsIds = gtmIdsMap[`${id} ${plan}`];
    if (buttonsIds) {
      jQuery('.goToLicensePortal').attr('id', buttonsIds[0]);
      jQuery('.goToTBCloud').attr('id', buttonsIds[1]);
    }
  }
</script>
