<section id="partners" class="content-wrapper">
    <h2 class="title">Our hardware partners</h2>
    <div class="logos">
        <div class="logo"><img loading="lazy" alt="Efento logo" src="https://img.thingsboard.io/usecases/partners-logos/efento-logo.webp"/></div>
        <div class="logo"><img loading="lazy" alt="Seeed logo" src="https://img.thingsboard.io/usecases/partners-logos/seeed-logo.webp"/></div>
        <div class="logo"><img loading="lazy" alt="Milesight logo" src="https://img.thingsboard.io/usecases/partners-logos/milesight-logo.webp"/></div>
        <div class="logo"><img loading="lazy" alt="Nettra logo" src="https://img.thingsboard.io/usecases/partners-logos/nettra-logo.webp"/></div>
        <div class="logo"><img loading="lazy" alt="Actility logo" src="https://img.thingsboard.io/usecases/partners-logos/actility-logo.webp"/></div>
        <div class="logo"><img loading="lazy" alt="Sodaq logo" src="https://img.thingsboard.io/usecases/partners-logos/sodaq-logo.webp"/></div>
        <div class="logo"><img loading="lazy" alt="Decode logo" src="https://img.thingsboard.io/usecases/partners-logos/decode-logo.webp"/></div>
        <div class="logo"><img loading="lazy" alt="Monoz logo" src="https://img.thingsboard.io/usecases/partners-logos/monoz-logo.webp"/></div>
    </div>
    <a class="outline-button" href="/partners/hardware/" type="button" value="All partners">All partners</a>
</section>