#usecase-list
  display: grid
  gap: 32px
  grid-template-columns: repeat(2, 1fr)
  grid-auto-flow: row dense

  .parent-box
    overflow: hidden
    background: #FFF
    padding: 8px
    border-radius: 24px
    box-shadow: -4px 15px 50px -20px rgba(0, 0, 0, 0.15), 0px 0px 8px 0px rgba(0, 0, 0, 0.08)
    transition: padding 0.3s ease-in-out
    height: 100%
    &:after
      content: ""
      display: block
      height: 100%
      visibility: hidden
    &:hover
      text-decoration: none
      .card-content
        .dashboard-frame-wrapper
          padding: 9px 20px
        .text
          padding: 0 32px 70px 32px
          .title
            color: #2A7DEC
          .read-more-button
            bottom: 24px
            opacity: 1

    &:nth-child(3n)

      .card-content

        .dashboard-frame-wrapper
          width: 50%

        .text
          width: 50%

      &:hover
        padding: 26px 8px
        .card-content
          .dashboard-frame-wrapper
            padding: 9px
          .text
            padding: 0 32px 46px 32px
            .read-more-button
              bottom: 0
      grid-column: span 2
      height: 100%

      .card-content
        flex-direction: row-reverse
        gap: 32px

        .text
          height: auto
          gap: 16px
          padding: 32px


    &:nth-child(6n) .card-content
      flex-direction: row

    .card-content
      display: flex
      flex-direction: column
      align-items: center
      gap: 32px
      height: 100%

      .text
        height: 100%
        width: 100%
        padding: 0 32px 24px 32px
        transition: padding 0.3s ease-in-out
        display: flex
        flex-direction: column
        gap: 8px
        position: relative

        .description
          margin: 0 !important
          font-size: 16px !important
          line-height: 28px !important
          color: #000000C2 !important

        .title
          margin: 0 !important
          font-size: 28px
          line-height: 44px
          font-weight: 500
          color: #000000DE
          transition: ease-in-out 0.3s

        .read-more-button
          position: absolute
          bottom: -200px
          opacity: 0
          transition: ease-in-out 0.3s

      .dashboard-frame-wrapper
        transition: padding 0.3s ease-in-out
        width: 100%
        background: #F4F8FE
        border-radius: 16px
        padding: 32px 20px
        position: relative
        .dashboard-frame
          .frame-image
            z-index: 1
          .frame-video
            z-index: 2
            video
              border-radius: 6px

      .overlay
        border-radius: 16px

        .eye
          left: 50%
          transform: translateX(-50%)
          width: max-content

@media screen and (max-width: 1279px)
  #usecase-list
    .parent-box
      &:hover
        .card-content
          .dashboard-frame-wrapper
            padding: 32px 20px
      &:nth-child(3n)
        grid-column: span 1
        &:hover
          padding: 8px
          .card-content
            .text
              padding: 0 32px 70px 32px
              .read-more-button
                bottom: 24px
            .dashboard-frame-wrapper
              padding: 32px 20px
        .card-content
          flex-direction: column
          .dashboard-frame-wrapper
            width: 100%
          .text
            height: 100%
            padding: 0 32px 70px 32px
            width: 100%
      .card-content
        .text
          padding: 0 32px 70px 32px
          width: 100%
          .read-more-button
            bottom: 24px
            opacity: 1

      &:nth-child(6n) .card-content
        flex-direction: column

@media screen and (max-width: 959px)
  #usecase-list
    grid-template-columns: 1fr

@media screen and (max-width: 599px)
  #usecase-list
    gap: 24px
    .parent-box
      &:nth-child(3n)
        .card-content
          .text
            padding: 0 16px 66px 16px
      .card-content
        gap: 16px
        .text
          padding: 0 16px 66px 16px
          .description
            font-size: 14px !important
            line-height: 24px !important
          .title
            font-size: 24px
            line-height: 36px
          .read-more-button
            font-size: 16px
            .arrow
              top: 5px
        .dashboard-frame-wrapper
          padding: 20px 12px