<nav id="nav" class="usecase-nav">
    <div class="crop-nav">
        <ul>
            {% for usecase in site.data.use-cases %}
                <li><a href="{{usecase.link}}" class="{% if usecase.id == include.usecase %}active{% endif %}"><img src="{{usecase.icon}}" alt="Usecase icon">{{usecase.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="nav-buttons">
        <button class="prev disabled"><img src="https://img.thingsboard.io/usecase-arrow.svg" alt="Navigation arrow"></button>
        <button class="next disabled"><img src="https://img.thingsboard.io/usecase-arrow.svg" alt="Navigation arrow"></button>
    </div>
</nav>
<script>
    jqueryDefer(function () {
        document.querySelector('.crop-nav ul li a.active').parentElement.scrollIntoView();
        $( document ).ready(function() {
            const cropNav = document.querySelector('.crop-nav');
            const prev = document.querySelector('.prev');
            const next = document.querySelector('.next');
            checkScroll();
            $('.prev').click(function() {
                $('.crop-nav').animate( { scrollLeft: `-=${$('.crop-nav').width() / 1.6}` }, 450, 'swing', () => checkScroll());
            });
            $('.next').click(function() {
                $('.crop-nav').animate( { scrollLeft: `+=${$('.crop-nav').width() / 1.6}` }, 450, 'swing', () => checkScroll());
            });

            function checkScroll() {
                if (cropNav.scrollLeft === 0 && !(cropNav.scrollTop > 5)) {
                    prev.classList.add('disabled');
                    next.classList.remove('disabled');
                } else if (cropNav.scrollLeft >= cropNav.scrollWidth - cropNav.clientWidth - 5) {
                    next.classList.add('disabled');
                    prev.classList.remove('disabled');
                } else {
                    next.classList.remove('disabled');
                    prev.classList.remove('disabled');
                }
            }

            if (window.screen.width < 600) {
                let prevScrollPos = window.scrollY;
                window.onscroll = function() {
                    let currentScrollPos = window.scrollY;
                    if (prevScrollPos > currentScrollPos) {
                        document.getElementById("nav").style.top = "78px";
                    } else {
                        document.getElementById("nav").style.top = "-78px";
                    }
                    prevScrollPos = currentScrollPos;
                }
            }
        });

    });
</script>
