#docsContent
	#content
		.clients-nav
			display: flex
			flex-wrap: wrap
			justify-content: center
			gap: 12px
			.clients-nav-item
				border-radius: 6px
				border: 1px solid #EBEBEB
				padding: 5px 16px
				font-size: 16px
				font-weight: 400
				line-height: 28px
				color: rgba(0, 0, 0, 0.87)
			.clients-nav-item.active
				color: #2A7DEC
				border-radius: 6px
				border: 1px solid #2A7DEC
				background: #EEF5FD
		.clients-cards
			display: flex
			flex-wrap: wrap
			gap: 32px
			.clients-card
				display: flex
				flex-direction: column
				gap: 8px
				background: #F4F8FE
				padding: 8px
				.clients-card-bold-text
					font-size: 16px
					font-weight: 500
					line-height: 28px
					color: rgba(0, 0, 0, 0.87)
				.clients-card-default-text
					font-size: 14px
					font-weight: 400
					line-height: 24px
					color: rgba(0, 0, 0, 0.87)
				.clients-card-header
					display: flex
					justify-content: space-between
					.clients-card-header-author-side
						display: flex
						gap: 20px
						.clients-card-header-author-side-info
							display: flex
							flex-direction: column
							img
								width: 80px
								height: 80px
						.clients-card-header-company-side
							position: relative
							a
								text-decoration: none
							&:before
								content: ""
								background-image: url(/images/link-arrow.svg)
								background-size: contain
								display: block
								position: absolute
								right: 0
								top: 6px
								width: 8px
								height: 9px
								border: none
				.clients-card-text
					padding: 32px
					display: flex
					flex-direction: column
					gap: 16px
					.clients-card-text-content
						display: flex
						flex-direction: column
						gap: 12px
