$nav-buttons-margin-left: 30px

@media screen and (min-width: 1120px)
    #githubButtonContainer
        display: inline-flex

@media screen and (min-width: 1250px)
    #viewDocs.center-button, #guides.center-button
        display: inline-block
    #docs
        #viewDocs.center-button
            display: none
    .nav-item
        padding: 15px 6px
    //.nav-item
        padding: 15px 30px
            &::before
                left: 30px
                width: calc(100% - 60px)

@media screen and (min-width: 1300px)
    .nav-item
        padding: 15px 8px
    .nav-buttons
        .button + *
            margin-left: $nav-buttons-margin-left
    #services.center-button
        display: inline-block

@media screen and (min-width: 1501px)
    .nav-item
        padding: 15px 12.5px
    section, header
        padding-left: $full-width-paddingX-large
        padding-right: $full-width-paddingX-large

@media screen and (min-width: 1600px)
    #customers.nav-item
        display: inline
