@media screen and (min-width: 1120px)
    #githubButtonContainer
        display: inline-block
    #docs #tryItNow.center-button, #tryItNow.center-button
        margin-left: 0px

@media screen and (min-width: 1250px)
    #viewDocs.center-button
        display: inline-block
    #docs
        #viewDocs.center-button
            display: none
        #hero
            #vendorStrip
                #docsList
                    li
                        margin-right: 20px

    //.nav-item
        padding: 15px 30px
            &::before
                left: 30px
                width: calc(100% - 60px)

@media screen and (min-width: 1300px)
    #services.center-button
        display: inline-block

@media screen and (min-width: 1500px)
    #docs
        #hero
            #vendorStrip
                #searchBox
                    width: 25%
    //#home
        //#viewDocs, #blog, #gettingStarted, #liveDemo, #useCases
        .center-button
            display: inline-block
    section, header, #vendorStrip
        padding-left: $full-width-paddingX-large
        padding-right: $full-width-paddingX-large

//@media screen and (min-width: 1600px)
    #home, #docs
        #tryItNow.center-button
            display: inline-block
