#page-with-filter-content
  padding: 0
  .hero-content
    padding: 100px 0 50px
    background: #F4F8FE
    .hero-content-wrapper
      max-width: 1440px
      padding: 0 20px
      margin: 0 auto
  .main-content
    max-width: 1440px
    padding: 0 20px
    margin: 0 auto
  .search-block
    position: sticky
    top: 80px
    background: #FFF
    z-index: 1
    padding: 24px 0
    border-bottom: 1px solid #EBEBEB
    .search-block-wrapper
      display: flex
      justify-content: space-between
      gap: 60px
      max-width: 1440px
      padding: 0 20px
      margin: 0 auto
    .search-crisps
      display: flex
      flex-wrap: wrap
      gap: 8px
      .search-crisps-toggle-btn
        position: relative
        cursor: pointer
        border-radius: 6px
        padding: 7px 36px 7px 10px
        border: 1px solid #2A7DEC
        i
          position: absolute
          top: 50%
          transform: translateY(-50%)
          right: 10px
      .search-crisps-clear-btn
        font-size: 14px
        font-weight: 500
        line-height: 24px
        padding: 7px 36px 7px 10px
        border-radius: 6px
        position: relative
        display: none
        cursor: pointer
        .search-crisps-clear-btn-close
          position: absolute
          top: 50%
          transform: translateY(-44%)
          font-size: 28px
          right: 10px
      .crisp
        display: inline-block
        position: relative
        font-size: 14px
        font-weight: 500
        line-height: 24px
        background: #2A7DEC
        color: #FFF
        border-radius: 6px
        padding: 7px 36px 7px 12px
        &.hidden
          display: none
        .crisp-close
          position: absolute
          cursor: pointer
          top: 50%
          transform: translateY(-44%)
          font-size: 28px
          right: 10px
    input
      height: 38px
      width: 240px
      padding: 7px 16px
      border-radius: 6px
      border: 1px solid rgba(0, 0, 0, 0.12)
      color: rgba(0, 0, 0, 0.76)
    .crisp:has(.crisp-close:hover), .search-crisps-clear-btn:hover, .search-crisps-toggle-btn:hover
      opacity: 0.8
  .content-block
    display: flex
    .filter-block
      position: relative
      border-right: 1px solid #EBEBEB
      width: 326px
      flex-shrink: 0
      .big-filter
        overflow-y: auto
        display: flex
        flex-direction: column
        position: sticky
        top: 165px
        max-height: calc(100vh - 165px)
        &::-webkit-scrollbar
          width: 8px
          background: #F5F5F5
        &::-webkit-scrollbar-thumb
          background: rgba(0, 0, 0, 0.12)
          border-radius: 10px
        .big-filter-section
          border-bottom: 1px solid rgba(0, 0, 0, 0.12)
          .big-filter-section-label
            padding: 12px 16px 12px
            cursor: pointer
            display: flex
            align-items: center
            justify-content: space-between
            gap: 8px
            .big-filter-section-label-chevron
              transition: ease-in-out 0.3s
          .big-filter-section-filters
            overflow: hidden
            max-height: 0
            transition: max-height 0.3s ease
            .big-filter-section-list
              padding: 0 16px 16px
              display: flex
              flex-direction: column
              gap: 4px
              li
                display: flex
                gap: 8px
                padding: 2px
                input
                  cursor: pointer
                label
                  cursor: pointer
                  font-size: 14px
                  font-weight: 400
                  line-height: 24px
                  margin-bottom: 0
          &.opened
            .big-filter-section-filters
              max-height: 1000px
            .big-filter-section-label-chevron
              transform: rotate(180deg)

    .cards-block
      padding: 32px
      .card-collection
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 16px
        .card
          display: flex
          flex-direction: column
          max-width: 336px
          padding: 20px
          border-radius: 12px
          border: 1px solid #EBEBEB
          background: #FFF
          &.filter-hidden
            display: none
          &.search-hidden
            display: none
          img
            max-height: 80px
          .crisp
            font-size: 14px
            font-weight: 400
            line-height: 24px
            border-radius: 6px
            background: #EEF5FD
            padding: 4px 8px
          .card-title
            font-size: 18px
            font-weight: 500
            line-height: 30px
          .card-description
            font-size: 14px
            font-weight: 400
            line-height: 24px


