
section#install-pe
    fieldset
        .form-title
            margin: 0 0 16px!important
            h1
                padding: 0
        .cloud-provider
            display: flex
            margin-bottom: 32px
            padding: 24px
            border-radius: 8px
            background: #F7F9FC
            .logo-container
                width: 120px
                margin-right: 40px
            .cloud-provider-desc
                width: calc(100% - 160px)
        .form-section
            margin-top: 52px
    padding: 0
    background: unset
    .tabs
        display: flex
        flex-wrap: wrap
    .questions
        text-align: center
        margin: 32px 0 48px
    .tab-input
        position: absolute
        opacity: 0
    .tab-label
        text-align: center
        width: 100%
        padding: 20px 30px
        background: #e5e5e5
        cursor: pointer
        font-weight: normal
        font-size: 28px
        color: #7f7f7f
        transition: background 0.1s, color 0.1s
        &:hover
            background: #d8d8d8
        &:active
            color: #fff
            background: $professional-color
    .tab-input:focus + .tab-label
        z-index: 1
    .tab-input:checked + .tab-label
        color: #fff
        background: $professional-color
    @media (min-width: 1025px)
        .tab-label
            width: calc(100% / 3)
    .tab-panel
        width: 100%
        display: none
        z-index: 2
        position: relative
        background: #fff
        color: #212529
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.04), 0px 50px 50px -20px rgba(0, 0, 0, 0.15)
        border-radius: 6px
        margin-bottom: 20px
        padding: 54px 56px
        .choose-marketplace
            p
                font-size: 24px
                padding-left: 50px
                padding-top: 40px
            .marketplace
                padding: 30px 50px 60px
                display: flex
                justify-content: center
                .pricing-image-wrapper
                    color: $professional-color
                    font-size: 28px
                    white-space: nowrap
                    cursor: pointer
                    flex: 1
                    margin: 4px
                    display: flex
                    align-items: center
                    align-content: center
                    justify-content: center
                    background: rgba(255, 255, 255, 0.95)
                    padding: 5px
                    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12)
                    border-radius: 10px
                    transition: background-color linear 250ms
                    @media screen and (min-width: 750px)
                        margin: 16px
                        padding: 20px
                        font-size: 42px
                    &.clickable
                        position: relative
                        a
                            position: absolute
                            top: 0
                            bottom: 0
                            left: 0
                            right: 0
                    img
                        width: 100%
                    &:hover
                        background: rgba(255, 255, 255, 0.6)
    @media (min-width: 1025px)
        .tab-panel
            order: 99
    .tab-input:checked + .tab-label + .tab-panel
        display: block
    .deploy-form
        a:hover
            cursor: pointer
        h4
            font-weight: normal
            border: none
        .ml-block-form
            margin-bottom: 0px
        .form-title
            display: inline-block
            margin-bottom: 0
            margin-top: 30px
            width: 100%
        .subscribe-form
            padding: 20px
            width: 350px
            background: none
            box-sizing: border-box
            .form-section
                display: inline-block
                margin-bottom: 10px
                width: 100%
                &.mb10
                    margin-bottom: 10px
                &.mb20
                    margin-bottom: 20px
                &.mb30
                    margin-bottom: 30px
                &.mb0
                    margin-bottom: 0px
                h4
                    margin: 0px 0px 20px 0px
                    padding: 0px
                    font-size: 28px
                    line-height: 100%
                    text-align: left
                a
                    font-size: 14px
                .cloud-provider
                    border: 1px solid #555
                    background: #fff
                    color: $professional-color
                    display: flex
                    flex-direction: column
                    align-content: center
                    align-items: center
                    .logo-container
                        margin-right: 15px
                        padding: 10px
                        img
                            min-width: 100px
                            width: 100px
                            height: 80px
                        &.azure
                            img
                                min-width: 120px
                                width: 120px
                                height: 80px
                        &.partner
                            img
                                min-width: 160px
                                width: 160px
                                height: 100%
                    .cloud-provider-desc
                        padding: 20px
                        p
                            font-size: 14px
                            span.cloud-price
                                font-size: 16px
                                font-weight: 500
                                color: #6aaf4e
                            span.cloud-price-desc
                                font-size: 16px
                                font-weight: 500
                            span.cloud-price-aws
                                font-size: 14px
                                font-weight: 500
                                color: #6aaf4e
                            span.cloud-price-aws-desc
                                font-size: 14px
                                font-weight: 500
                            span.cloud-price-onwards
                                font-size: 14px
                                font-weight: 500
                                color: #6aaf4e
                            span.cloud-price-onwards-desc
                                font-size: 14px
                                font-weight: 500
                .confirmation_checkbox
                    line-height: 150%
                    padding: 0px
                    margin: 0px 0px 15px 0px
                    color: #000000
                    font-size: 12px
                    font-weight: normal
                .confirmation_checkbox input[type="checkbox"]
                    margin-right: 5px
                .form-group
                    margin-bottom: 15px
                    label
                        float: left
                        width: 100%
                        line-height: 100%
                        font-size: 14px
                        p
                            cursor: text
                            position: absolute
                            margin: 0 0 0 10px
                            padding: 11px 0
                            font-size: 16px
                            color: #777
                            transition: 150ms
                            transform: scale(1) translate(0, -44px)
                            pointer-events: none
                    input
                        margin: 24px 0 0 0
                        padding: 11px
                        border: 1px solid #1f373c
                        font-size: 16px
                    input:focus + p, input:not(.input--empty) + p
                        color: inherit
                        transform: translate(-20px, -75px) scale(0.7)
                    .corporate-email-error
                        float: left
                        line-height: 100%
                        font-size: 12px
                        background: red
                        color: white
                        padding: 5px
                        //position: absolute
                        display: none
                .checkbox
                    width: 100%
                    margin: 0px 0px 10px 0px
                .checkbox label
                    color: #000000
                    font-size: 14px
                .checkbox input
                    margin: 0px 5px 0px 0px
                .checkbox input[type=checkbox]
                    -webkit-appearance: checkbox
                    opacity: 1
        &.ml-subscribe-form
            .form-group .form-control
                width: 100%
                font-size: 13px
                padding: 10px 10px
                height: auto
                border-radius: 0px
                border: 1px solid #1f373c
                color: #000000
                background-color: rgba(255, 255, 255, 0.8)
                -webkit-box-sizing: border-box
                -moz-box-sizing: border-box
                box-sizing: border-box
                clear: left
            button
                float: right
                min-width: 150px
                text-align: center
                border-radius: 4px
                padding: 10px 20px
                line-height: 24px
                background-color: #2a7dec
                color: #fff
                display: inline-block
                text-decoration: none
                font-size: 16px
                font-weight: 500
                transition: background-color .4s cubic-bezier(.25, .8, .25, 1)
                &:hover
                    background-color: #4F97F8
                    color: white
                &:focus
                    background-color: #4F97F8
                    color: white
                &.loading
                    background-color: #2a7dec
                    img
                        vertical-align: middle
            button[disabled]
                cursor: not-allowed
            .form-section.ml-error, .form-group.ml-error
                label
                    color: red!important
                    p
                        color: red!important
            .form-group.ml-error .form-control
                border-color: red!important
        .ml-vertical-align-center
            text-align: left
            display: block
        .ml-block-success,
        form.ml-block-form
            display: inline-block
            width: 350px
        form.ml-block-form,
        &.ml-subscribe-form .subscribe-form
            width: 100%
        .ml-block-success
            .fa
                font-size: 36px
                margin-bottom: 15px
            p
                font-size: 24px
    @media (max-width: 768px)
        .deploy-form
            width: 100%
        fieldset
            .form-title center h1
                font-size: 24px!important
            .cloud-provider
                display: block
                .logo-container
                    margin-bottom: 24px
                .cloud-provider-desc
                    width: 100%
    @media (min-width: 1025px)
        .deploy-form
            .subscribe-form
                padding: 40px
                .form-section
                    .cloud-provider
                        flex-direction: row
                        .cloud-provider-desc
                            padding-left: 0px
                            padding-right: 6px
                            p
                                font-size: 18px
                                span.cloud-price
                                    font-size: 20px
                                span.cloud-price-desc
                                    font-size: 20px
                                span.cloud-price-aws
                                    font-size: 18px
                                span.cloud-price-aws-desc
                                    font-size: 18px


    .question-contact
        margin-top: 30px
        margin-bottom: 30px
        a
            font-weight: 500
            color: $professional-color
            &:hover
                text-decoration: underline

#install-thanks
    position: relative
    height: 619px
    //padding: 30px
    color: #212529
    display: flex
    align-items: center
    justify-content: center
    transition: margin-bottom 0.5s
    margin: auto
    //margin-bottom: 130px
    &.opened
        margin-bottom: 0
    .thanks-content
        .fa
            font-size: 36px
            margin-bottom: 15px
        p
            font-size: 18px
            font-weight: normal
            color: #75767C
            margin-top: 10px
            &.thank-you
                font-size: 36px
                font-weight: 600
                color: #212529
                margin-top: 0
        a.homepage
            margin-top: 48px
            position: relative
            display: inline-block
            font-size: 18px
            font-weight: 500
            &:after
                content: ""
                background-image: url(/images/pe/read-more-arrow.svg)
                background-size: contain
                display: block
                position: absolute
                top: 6px
                right: -22px
                width: 12px
                height: 12px
                border: none
                filter: invert(35%) sepia(96%) saturate(1837%) hue-rotate(202deg) brightness(98%) contrast(89%)