#thingsboard-pe
    &:not(.open-nav):not(.flip-nav)
        header
            &::after
                opacity: 0
    #hero
        height: 100vh //calc(100vh + 5px)
        padding-top: 0px
        position: relative
        overflow: hidden
        background: none
        div:nth-child(1)
            background-image: url(/video/tb-cover.jpg) !important
        .video-cover
            position: absolute
            z-index: -2
            top: 0px
            left: 0px
            bottom: 0px
            right: 0px
            overflow: hidden
            background-size: cover
            background-color: #000
            background-repeat: no-repeat
            background-position: 50% 50%
            background-image: url(/video/tb-cover.jpg)
        #hero-content
            height: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-content: center
            background-color: rgba(0,0,0,0.72)
            .tb-title
                margin-bottom: 20px
                font-size: 22px
                font-weight: 400
                text-shadow: 0 0 18px rgba(0,0,0,.66)
            .tb-sub-title
                margin-bottom: 40px
                font-size: 14px
                line-height: 16px
                text-shadow: 0 0 18px rgba(0,0,0,.66)
            .learn-tb
                cursor: pointer
                line-height: 40px
                font-size: 16px
                padding: 0 15px
                border: 1px solid white
                background-color: transparent
                transition: 0.6s
                text-shadow: 0 0 18px rgba(0,0,0,.66)
                &:hover
                    background-color: white
                    color: $dark-grey
                    text-shadow: none
            .tb-arrow
                position: fixed
                bottom: 40px
                left: 0
                right: 0
                margin: auto
                width: 40px
                height: 40px
                opacity: 1
                z-index: 24
                color: #fff
                a
                    color: #fff
            &.arrow-hidden
                .tb-arrow
                    display: none

    #talkToUs
        main
            padding: 30px 0
        h5
            font-size: 20px

    #intro, #main-features, #dashboard_description, #rule_engine, #tb-customers, #tb-intro-video
        color: #212529
        h1
            color: #212529
            font-weight: 600
            text-align: center
            font-size: 32px
            line-height: 48px
            a
                color: #305680
        h2
            margin: 48px 0 136px
            text-align: center
            color: #707275
            font-size: 18px
            line-height: 27px
            font-weight: normal
        h3
            border: none
            font-weight: 400
        p
            line-height: 1.5em

    #intro
        margin-bottom: 64px
        padding-top: 88px
        #cards
            &>div
                margin-bottom: 56px
                &.col-lg-6
                    padding: 0 30px
                div
                    float: left
                    width: calc(100% - 92px)
                    p
                        color: #44474A
                        font-size: 18px
                        font-weight: normal
                        line-height: 27px
                        margin-block-start: 15px
                    h1
                        font-size: 24px
                        line-height: normal
                        text-align: left

                    a
                        color: #305680
                        font-size: 18px
                        font-weight: 500
                        line-height: 27px
                        margin-block-start: 15px
                img
                    float: left
                    margin-right: 32px

    #labeling
        margin: 76px 0 144px
        text-align: center
        div
            display: flex
            padding: 0 10%
            img
                margin: 24px 44px
            hr
                flex: 1
        p
            color: #44474A
            font-size: 18px
            font-weight: normal
            line-height: 27px
            margin-block-start: 15px
        h1
            font-size: 24px
            line-height: normal
        a
            color: #305680
            font-size: 18px
            font-weight: 500
            line-height: 27px
            margin-block-start: 15px


    #products
        width: 100%
        background-color: #F9FAFB
        padding: 96px 0 56px
        margin-bottom: 72px
        .product-list
            display: flex
            margin: 0 60px
            div
                color: #212529
                background-color: white
                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1)
                border-radius: 4px
                padding: 40px
                text-align: center
                flex: 1
                margin-bottom: 40px
                h1
                    color: #707275
                    font-size: 18px
                    line-height: 32px
                h2
                    font-size: 28px
                    font-weight: 600
                h3
                    font-size: 16px
                img
                    display: block
                    margin: 50px auto 50px auto
                    width: 80%
                &.main
                    box-shadow: inset 0px -6px 0px #305680, 0 10px 20px 0 rgba(0, 0, 0, 0.1)
                    margin: 0 30px
                    h2
                        font-size: 42px
                        font-weight: 600
                    img
                        margin: 60px auto
                a
                    color: #305680
                    font-weight: 500
            @media(max-width: 992px)
                flex-direction: column
                div.main
                    margin: 0 0 40px
        a
            color: #707275
            font-weight: 500
            margin-top: 56px
            text-align: center

    #tb-customers
        background-color: #FBFBFB
        margin: -50px -100% 0
        padding: 50px 100%
        text-align: justify
        -moz-text-align-last: justify
        text-align-last: justify
        display: none
        @media(min-width: 992px)
            display: block
        img
            height: 60px
            margin-bottom: 20px
        main
            display: flex
            flex-wrap: wrap
            flex-direction: row
            justify-content: space-around
            align-items: center
            padding: 0 50px
            a
                display: block
                padding: 10px
                object
                    pointer-events: none
          
@media screen and (min-width: 750px)
    #thingsboard-pe
        #hero
            #peContent
                .tb-title
                    font-size: 36px
                .tb-sub-title
                    font-size: 20px
                    margin-bottom: 60px

@media screen and (min-width: 1025px)
    #thingsboard-pe
        #hero
            #vendorStrip
                display: block
        section, header
            main
                max-width: 1400px
        footer
            main
                max-width: 1400px

@media screen and (min-width: 1250px)
    #thingsboard-pe
        #hero
            #peContent
                .tb-title
                    margin-bottom: 40px
                    font-size: 64px
                .tb-sub-title
                    font-size: 28px
                    margin-bottom: 80px
                .learn-tb
                    line-height: 60px
                    font-size: 28px
                    padding: 0 40px
                    border-width: 3px