---
title: ThingsBoard Installations
customTitle: "true"
description: ThingsBoard is an open-source IoT platform for device management, data collection, processing and visualization for your IoT projects
---

<!Doctype html>
<html id="installations">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="install-cards">
	<main id="thingsboard-community">
		<h3 class="center">ThingBoard Community Edition</h3>
		<div class="content">
		</div>
	</main>
	<main id="thingsboard-pe">
		<h3 class="center">ThingBoard Professional Edition</h3>
		<div class="content">
		</div>
	</main>
</section>

{% include footer.html %}

</body>
</html>

