---
title: ThingsBoard Installations
customTitle: "true"
description: ThingsBoard is an open-source IoT platform for device management, data collection, processing and visualization for your IoT projects
---
<!Doctype html>
<html id="installations">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<div class="container">
	<div class="install-header">
		<nav id="inner-navigation" class="inner-navigation">
			<ul id="menu-install-navigation-1" class="menu">
				<li id="menu-item-thingsboard-cloud" class="menu-item active tb-logo">
					<a id="TryItNow_Cloud" class="gtm_button" href="javascript:void(0);"
					   onClick="activatePricingSection('thingsboard-cloud')">Cloud</a>
				</li>
				<li id="menu-item-thingsboard-ce" class="menu-item tb-logo">
					<a id="TryItNow_CE" class="gtm_button" href="javascript:void(0);"
					   onClick="activatePricingSection('thingsboard-ce')">Community <span class="hidden-title">Edition</span></a>
				</li>
				<li id="menu-item-thingsboard-pe" class="menu-item tb-logo">
					<a id="TryItNow_PE" class="gtm_button" href="javascript:void(0);"
					   onClick="activatePricingSection('thingsboard-pe')">Professional <span class="hidden-title">Edition</span></a>
				</li>
				<li id="menu-item-thingsboard-edge" class="menu-item tb-logo">
					<a id="TryItNow_Edge" class="gtm_button" href="javascript:void(0);"
					   onClick="activatePricingSection('thingsboard-edge')">Edge</a>
				</li>
				<li id="menu-item-thingsboard-trendz" class="menu-item tb-logo">
					<a id="TryItNow_TA" class="gtm_button" href="javascript:void(0);"
					   onClick="activatePricingSection('thingsboard-trendz')">Trendz</a>
				</li>
				<li id="menu-item-mqtt-broker" class="menu-item tb-logo">
					<a id="TryItNow_TBMQ" class="gtm_button" href="javascript:void(0);"
					   onClick="activatePricingSection('mqtt-broker')">TBMQ</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="pricing-header-divider">
	</div>
</div>

<div id="thingsboard-cloud" class="install-content">
	<div class="container">
		<div class="install-content-header row">
			<div class="install-content-description col-lg-7">
				<h1>ThingsBoard Professional Edition Cloud</h1>
				<div class="install-content-details">
					<p class="margin">The ThingsBoard Cloud is a fully managed, scalable and fault-tolerant platform for your IoT applications.
						ThingsBoard Cloud is for everyone who would like to use ThingsBoard Professional Edition but don’t want to host their own instance of the platform.
					</p>
					<p class="margin">The ThingsBoard cluster stores your data within the European and the United States, complying with their respective regulations.</p>
					<p>Select your region and start using ThingsBoard Professional Edition Cloud <b>for free</b>.
					</p>
				</div>
				<div class="row container button-container">
					<a id="TryItNow_Cloud_NorthAmerica" class="btn-blue gtm_button" href="https://thingsboard.cloud/signup">
						North America
					</a>
					<a id="TryItNow_Cloud_Europe" class="btn-blue gtm_button" href="https://eu.thingsboard.cloud/signup">
						Europe
					</a>
				</div>
			</div>
			<div class="col d-flex align-items-center justify-content-center margin-mobile">
				<div class="image-content">
					<img src="/images/install/thingsboard-pe-smart-building-energy-meter.png" alt="ThingsBoard Cloud Smart Building Energy Meter" class="bg">
					<img src="/images/install/thingsboard-pe-smart-building-company.png" alt="ThingsBoard Cloud Smart Building Company" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/products/thingsboard-pe/#advanced-thingsboard-iot-platform-distribution-with-value-added-features">More features</a>
						<p>
							Platform supports all Professional Edition features.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/getting-started-guides/helloworld-pe/">Improved time to market</a>
						<p>
							Save time on maintenance of the platform or configuration of the features.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/pricing/">Reduced costs</a>
						<p>
							The cost of the cluster infrastructure is shared between the users of the platform.
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/reference/msa/">High availability</a>
						<p>
							ThingsBoard Cloud uses microservices architecture and is deployed in multiple availability zones.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/reference/msa/">Data durability</a>
						<p>
							Platform uses data replication and backup procedures to make sure you don’t lose the data.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="thingsboard-ce" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header margin-bottom row">
			<div class="install-content-description col-lg-7">
				<h1>ThingsBoard Community Edition</h1>
				<div class="install-content-details">
					<p>Open-source IoT platform for device management, data collection, processing and visualization. <a href="/docs/">Read More</a>.</p>
				</div>
				<div class="row container button-container">
					<a id="TryItNow_CE_Install" class="btn-blue  gtm_button" href="/docs/user-guide/install/installation-options/">
						Install
					</a>
					<a id="TryItNow_CE_LiveDemo" class="btn-blue secondary gtm_button" href="https://demo.thingsboard.io/signup">
						Live Demo
					</a>
				</div>
			</div>
			<div class="col d-flex align-items-center justify-content-center margin-mobile">
				<div class="image-content">
					<img src="/images/install/thingsboard-ce-smart-energy.png" alt="ThingsBoard CE Smart Energy Dashboard" class="bg">
					<img src="/images/install/thingsboard-ce-smart-bus-tracking.png" alt="ThingsBoard CE Smart Bus Tracking Dashboard" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Rule Engine</a>
						<p>
							Define data processing rules and trigger reactions using powerful rule engine components.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/reference/msa/">Microservices</a>
						<p>
							Construct your ThingsBoard cluster and get maximum scalability and fault-tolerance with new microservices architecture.
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/visualization/">Data collection & Visualization</a>
						<p>
							Collect and store telemetry data. Visualize your data with flexible dashboards.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/entities-and-relations/">Devices & Assets management</a>
						<p>
							Provision, monitor and control your IoT entities.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>Deployment options</h2>
			<div class="wrapper">
				<div class="column">
					<h3 class="premise">On-premises</h3>
					<div class="deployment-cards">
						<a class="deployment-card-block" href="/docs/user-guide/install/ubuntu/">
							<div class="deployment-logo">
								<img src="/images/install/platform/ubuntu.svg" title="Ubuntu" alt="Ubuntu">
							</div>
							<h4>Ubuntu Server</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/rhel/">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/centos-redhat.svg" title="CentOS/RHEL" alt="CentOS/RHEL">
							</div>
							<h4>CentOS/RHEL Server</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/windows/">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/windows.svg" title="Windows" alt="Windows">
							</div>
							<h4>Windows</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/rpi/">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/rpi3.svg" title="Raspberry Pi" alt="Raspberry Pi">
							</div>
							<h4>Raspberry Pi</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/docker-windows/">
							<div class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker (Windows)" alt="Docker (Windows)">
							</div>
							<h4>Docker (Windows)</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/docker/">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker (Linux or Mac OS)" alt="Docker (Linux or Mac OS)">
							</div>
							<h4>Docker (Linux or Mac OS)</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/building-from-source/">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/sources.svg" title="Building from source" alt="Building from source">
							</div>
							<h4>Building from source</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/cluster-setup/">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/cluster-ce.svg" title="Cluster setup" alt="Cluster setup">
							</div>
							<h4>Cluster setup</h4>
						</a>
					</div>
				</div>
				<div class="divider"></div>
				<div class="column">
					<h3 class="cloud">Cloud</h3>
					<div class="deployment-cards">
						<a class="deployment-card-block" href="/docs/user-guide/install/aws/">
							<div class="deployment-logo">
								<img height="70px" width="" src="/images/install/cloud/aws.svg" title="AWS" alt="AWS">
							</div>
							<h4>AWS</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/digital-ocean/">
							<div class="deployment-logo">
								<img width="" src="/images/install/cloud/digitalocean.svg" title="DigitalOcean" alt="DigitalOcean">
							</div>
							<h4>DigitalOcean</h4>
						</a>
						<a class="deployment-card-block" href="/docs/user-guide/install/gcp/">
							<div class="deployment-logo">
								<img width="" src="/images/install/cloud/gcp.svg" title="Google Cloud Platform" alt="Google Cloud Platform">
							</div>
							<h4>Google Cloud Platform</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="thingsboard-pe" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header margin-bottom row">
			<div class="install-content-description col-lg-7">
				<h1>ThingsBoard Professional Edition</h1>
				<div class="install-content-details">
					<p>Advanced IoT Platform distribution based on latest stable open-source version with value added features. <a href="/products/thingsboard-pe/">Read More</a>.</p>
				</div>
				<div class="row container button-container">
					<a id="TryItNow_PE_Install" class="btn-blue gtm_button" href="/docs/user-guide/install/pe/installation-options/">
						Install
					</a>
					<a id="TryItNow_PE_StartFree" class="btn-blue secondary gtm_button" href="/installations/choose-region/">
						Start Free
					</a>
					<a id="TryItNow_PE_Pricing" class="btn-blue secondary gtm_button" href="/pricing/?product=thingsboard-pe">
						Pricing
					</a>
				</div>
			</div>
			<div class="col d-flex align-items-center justify-content-center margin-mobile">
				<div class="image-content">
                    <img src="/images/install/thingsboard-pe-smart-building-energy-meter.png" alt="ThingsBoard PE Smart Building Energy Meter" class="bg">
                    <img src="/images/install/thingsboard-pe-smart-building-company.png" alt="ThingsBoard PE Smart Building Company" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/white-labeling/">White-labeling</a>
						<p>
							Multi-tenant configurable white-labeling.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/groups/">Entity Groups</a>
						<p>
							Custom entity groups (devices, assets, etc.) with customizable actions and configurable columns.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/rbac/">Advanced RBAC for IoT</a>
						<p>
							Advanced management of user roles and permissions. Manage hierarchy of customers.
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/csv-xls-data-export/">CSV/XLS data export</a>
						<p>
							Export any dashboard widget data to CSV or XLS format.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/integrations/">Platform Integrations</a>
						<p>
							Out of the box integrations with popular IoT platforms and connectivity providers.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<span class="item-title">
							<a href="/docs/user-guide/scheduler/">Scheduler</a>&nbsp;and <a href="/docs/pe/user-guide/reporting/">Reporting</a>
						</span>
						<p>
							Schedule various types of events with flexible schedule configuration.
							Generate great looking reports using dashboards visualization capabilities.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>Deployment options</h2>
			<div class="wrapper">
				<div class="column">
					<h3 class="premise">On-premises</h3>
					<div class="deployment-cards">
						<a href="/docs/user-guide/install/pe/ubuntu/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/platform/ubuntu.svg" title="Ubuntu" alt="Ubuntu">
							</div>
							<h4>Ubuntu Server</h4>
						</a>
						<a href="/docs/user-guide/install/pe/rhel/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/centos-redhat.svg" title="CentOS/RHEL" alt="CentOS/RHEL">
							</div>
							<h4>CentOS/RHEL</h4>
						</a>
						<a href="/docs/user-guide/install/pe/windows/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/windows.svg" title="Windows" alt="Windows">
							</div>
							<h4>Windows</h4>
						</a>
						<a href="/docs/user-guide/install/pe/docker-windows/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker (Windows)" alt="Docker (Windows)">
							</div>
							<h4>Docker (Windows)</h4>
						</a>
						<a href="/docs/user-guide/install/pe/docker/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker (Linux or Mac OS)" alt="Docker (Linux or Mac OS)">
							</div>
							<h4>Docker (Linux or Mac OS)</h4>
						</a>
						<a href="/docs/user-guide/install/pe/cluster-setup/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/cluster.svg" title="Cluster setup" alt="Cluster setup">
							</div>
							<h4>Cluster setup</h4>
						</a>
					</div>
				</div>
				<div class="divider"></div>
				<div class="column">
					<h3 class="cloud">Cloud</h3>
					<div class="deployment-cards">
						<a href="/docs/user-guide/install/pe/aws/" class="deployment-card-block">
							<div class="deployment-logo">
								<img height="70px" width="" src="/images/install/cloud/aws.svg" title="AWS" alt="AWS">
							</div>
							<h4>AWS</h4>
						</a>
						<a href="/docs/user-guide/install/pe/azure/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/cloud/azure.svg" title="Microsoft Azure" alt="Microsoft Azure">
							</div>
							<h4>Microsoft Azure</h4>
						</a>
						<a href="/docs/user-guide/install/pe/digital-ocean/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/cloud/digitalocean.svg" title="DigitalOcean" alt="DigitalOcean">
							</div>
							<h4>DigitalOcean</h4>
						</a>
						<a href="/docs/user-guide/install/pe/gcp/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/cloud/gcp.svg" title="Google Cloud Platform" alt="Google Cloud Platform">
							</div>
							<h4>Google Cloud Platform</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="thingsboard-edge" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header row">
			<div class="install-content-description col-lg-7">
				<h1>ThingsBoard Edge</h1>
				<div class="install-content-details">
					<p class="margin">The ThingsBoard Edge empowers businesses with real-time data analysis and management right at the source, enhancing agility and efficiency in data-driven decisions.</p>
					<p class="margin">Seamlessly connected to your preferred ThingsBoard platform—whether it’s ThingsBoard Cloud, ThingsBoard Demo, ThingsBoard PE, or ThingsBoard CE—it ensures continuous synchronization that adapts to your unique business needs, delivering the power of edge intelligence.</p>
					<p>Maximize efficiency and gain immediate, actionable insights with ThingsBoard Edge! <a href="/products/thingsboard-edge/">Read More</a>.</p>
				</div>
				<div class="row container button-container">
					<a id="TryItNow_Edge_Install_Edge_CE" class="btn-blue gtm_button" href="/docs/user-guide/install/edge/installation-options/">
						Install Edge CE
					</a>
					<a id="TryItNow_Edge_Install_Edge_PE" class="btn-blue secondary gtm_button" href="/docs/user-guide/install/pe/edge/installation-options/">
						Install Edge PE
					</a>
					<a id="TryItNow_Edge_Pricing" class="btn-blue secondary gtm_button" href="/pricing/?active=thingsboard-edge">
						Pricing
					</a>
				</div>
			</div>
			<div class="col d-flex align-items-center justify-content-center margin-mobile">
				<div class="image-content">
					<img src="/images/install/thingsboard-ce-smart-bus-tracking.png" alt="ThingsBoard Edge Smart Bus Tracking Dashboard" class="bg">
					<img src="/images/install/thingsboard-ce-smart-energy.png" alt="ThingsBoard Edge Smart Energy Dashboard" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/edge/getting-started-guides/what-is-edge/">Local deployment and storage</a>
						<p>
							Process and store data from edge (local) devices without connection to the cloud. Push updates to the cloud once connection restored.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/edge/getting-started-guides/what-is-edge/">Traffic filtering</a>
						<p>
							Filter data from edge (local) devices on the ThingsBoard Edge service and push to cloud only subset of the data for further processing or storage.
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/edge/getting-started-guides/what-is-edge/">Local alarms</a>
						<p>
							React instantly to critical situations on site without connectivity to cloud.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/edge/getting-started-guides/what-is-edge/">Batch update and visualization</a>
						<p>
							Update thousands of edge configurations in a single click. Monitor local events and timeseries data with a real-time dashboard.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>Deployment options</h2>
			<div class="wrapper">
				<div class="column">
					<div class="deployment-cards">
						<a href="/docs/user-guide/install/edge/deb-installation/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/platform/ubuntu.svg" title="Ubuntu" alt="Ubuntu">
							</div>
							<h4>Ubuntu Server</h4>
						</a>
						<a href="/docs/user-guide/install/edge/rhel/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/centos-redhat.svg" title="CentOS/RHEL" alt="CentOS/RHEL">
							</div>
							<h4>CentOS/RHEL Server</h4>
						</a>
						<a href="/docs/user-guide/install/edge/windows/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/windows.svg" title="Windows" alt="Windows">
							</div>
							<h4>Windows</h4>
						</a>
						<a href="/docs/user-guide/install/edge/docker-windows/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker (Windows)" alt="Docker (Windows)">
							</div>
							<h4>Docker (Windows)</h4>
						</a>
						<a href="/docs/user-guide/install/edge/docker/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker (Linux or Mac OS)" alt="Docker (Linux or Mac OS)">
							</div>
							<h4>Docker (Linux or Mac OS)</h4>
						</a>
						<a href="/docs/user-guide/install/edge/building-from-source/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/sources.svg" title="Building from source" alt="Building from source">
							</div>
							<h4>Building from source</h4>
						</a>
						<a href="/docs/edge/config/edge-cluster-setup/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/pe/edge/integrations/docker-cluster.svg" title="Edge Cluster Setup" alt="Edge Cluster Setup">
							</div>
							<h4>Edge Cluster Setup</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="thingsboard-trendz" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header margin-bottom row">
			<div class="install-content-description col-lg-7">
				<h1>Trendz Analytics</h1>
				<div class="install-content-details">
					<p>The ThingsBoard Trendz is an Analytics Platform that converts the IoT dataset into insights and simplifies the decision-making process. <a href="/products/trendz/">Read More</a>.</p>
				</div>
				<div class="row container button-container">
					<a id="TryItNow_Trendz_Documentation" class="btn-blue gtm_button" href="/docs/trendz/">
						Documentation
					</a>
					<a id="TryItNow_Trendz_Pricing" class="btn-blue secondary gtm_button" href="/pricing/?section=trendz-options&product=trendz-self-managed&solution=trendz-pay-as-you-go">
						Pricing
					</a>
				</div>
			</div>
			<div class="col d-flex align-items-center justify-content-center margin-mobile">
				<div class="image-content width-85">
					<img src="/images/trendz/predict-screen.png" alt="ThingsBoard Trendz timeseries prediction" class="bg">
					<img src="/images/trendz/dashboard-screen.png" alt="ThingsBoard Trendz Greenhouse Dashboard" class="main left-negative">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/trendz/prediction/">Predict failures and forecast utilization</a>
						<p>
							Plan and optimize operations with insights into future events and system behavior.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/trendz/anomaly/anomaly-detection-overview/">Detection Anomalies</a>
						<p>
							Detect anomalies with automated tools based on built-in machine learning algorithms. Prioritise them and focus on real problems with anomaly scoring.
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/trendz/calculations/overview/">KPI monitoring</a>
						<p>
							Based on the input data, calculated fields allow you to run statistical functions and create new data items by applying calculations.
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/trendz/getting-started/">Self-service Analytics</a>
						<p>
							Give users simple instrument for answering their own questions in minutes.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>Deployment options</h2>
			<div class="wrapper">
				<div class="column">
					<div class="deployment-cards">
						<a href="/docs/trendz/install/cloud/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/platform/trendz-cloud.svg" title="Trendz Cloud" alt="Trendz Cloud">
							</div>
							<h4>Trendz Cloud</h4>
						</a>
						<a href="/docs/trendz/install/ubuntu/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/platform/ubuntu.svg" title="Ubuntu" alt="Ubuntu">
							</div>
							<h4>Ubuntu Server</h4>
						</a>
						<a href="/docs/trendz/install/rhel/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/centos-redhat.svg" title="CentOS/RHEL" alt="CentOS/RHEL">
							</div>
							<h4>CentOS/RHEL Server</h4>
						</a>
						<a href="/docs/trendz/install/windows/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/windows.svg" title="Windows" alt="Windows">
							</div>
							<h4>Windows</h4>
						</a>
						<a href="/docs/trendz/install/docker-windows/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker (Windows)" alt="Docker (Windows)">
							</div>
							<h4>Docker (Windows)</h4>
						</a>
						<a href="https://thingsboard.io/docs/trendz/install/docker/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker (Linux or Mac OS)" alt="Docker (Linux or Mac OS)">
							</div>
							<h4>Docker (Linux or Mac OS)</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="mqtt-broker" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header row">
			<div class="install-content-description col-lg-7">
				<h1>MQTT Broker</h1>
				<div class="install-content-details">
					<p>TBMQ is a highly scalable and durable <a target="_blank" href="/products/mqtt-broker/">MQTT message broker</a> built for real-time data processing across IoT ecosystems of any scale. It efficiently handles millions of concurrent client connections and processes millions of messages per second while maintaining low latency and reliable delivery. Designed for horizontal scalability, TBMQ seamlessly expands across cluster nodes to support massive deployments with millions of connected devices. <a target="_blank" href="/docs/mqtt-broker">Read More</a>.</p>
				</div>
				<div class="row container button-container">
					<a target="_blank" id="TryItNow_TBMQ_Install_CE" class="btn-blue gtm_button" href="/docs/mqtt-broker/install/installation-options/">
						Install TBMQ CE
					</a>
                    <a target="_blank" id="TryItNow_TBMQ_Install_PE" class="btn-blue gtm_button" href="/docs/pe/mqtt-broker/install/installation-options/">
                        Install TBMQ PE
                    </a>
					<a target="_blank" id="TryItNow_TBMQ_Pricing" class="btn-blue secondary gtm_button" href="/pricing/?section=tbmq-options">
						Pricing
					</a>
				</div>
			</div>
			<div class="col d-flex align-items-center justify-content-center margin-mobile">
				<div class="image-content">
					<img src="/images/mqtt-broker/product/tbmq-try-1.png" alt="ThingsBoard MQTT Broker Sessions Page" class="main">
					<img src="/images/mqtt-broker/product/tbmq-try-2.png" alt="ThingsBoard MQTT Broker Home Page" class="bg">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a target="_blank" class="item-title" href="/docs/mqtt-broker/reference/100m-connections-performance-test/">Scalability</a>
						<p>
							Scale horizontally to manage more than 100M MQTT connections on a single cluster
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a target="_blank" class="item-title" href="/docs/mqtt-broker/reference/3m-throughput-single-node-performance-test/">Performance</a>
						<p>
							Process millions of messages per second with 1 TBMQ server and single-digit latency
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a target="_blank" class="item-title" href="/docs/mqtt-broker/architecture/">Fault tolerance</a>
						<p>
							Prevent single point of failure with masterless nodes in the cluster
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a target="_blank" class="item-title" href="/docs/mqtt-broker/getting-started/">MQTT version compatibility</a>
						<p>
							MQTT 3.x and 5.0 compatible for a seamless and secure connection experience
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a target="_blank" class="item-title" href="/docs/mqtt-broker/architecture/">Durability</a>
						<p>
							Guarantee the persistence and replication of your data to ensure it's never lost
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a target="_blank" class="item-title" href="/docs/mqtt-broker/install/installation-options/">Cloud-Native and K8s-Compliant</a>
						<p>
							Deploy in cloud or on-premises using K8s scripts with ease
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>Deployment options</h2>
			<div class="wrapper">
				<div class="column">
					<h3 class="premise">On-premises</h3>
					<div class="deployment-cards">
						<a target="_blank" href="/docs/mqtt-broker/install/docker/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker (Linux or Mac OS)" alt="Docker (Linux or Mac OS)">
							</div>
							<h4>Docker (Linux or Mac OS)</h4>
						</a>
						<a target="_blank" href="/docs/mqtt-broker/install/docker-windows/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker (Windows)" alt="Docker (Windows)">
							</div>
							<h4>Docker (Windows)</h4>
						</a>
						<a target="_blank" href="/docs/mqtt-broker/install/cluster/docker-compose-setup/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/cluster/docker-compose.svg" title="Cluster setup with Docker Compose" alt="Cluster setup with Docker Compose">
							</div>
							<h4>Cluster with Docker Compose</h4>
						</a>
						<a target="_blank" href="/docs/mqtt-broker/install/cluster/minikube-cluster-setup/" class="deployment-card-block">
							<div class="deployment-logo">
								<img src="/images/install/cluster/minikube.svg" title="Cluster setup with Minikube" alt="Cluster setup with Minikube">
							</div>
							<h4>Cluster setup with Minikube</h4>
						</a>
					</div>
				</div>
				<div class="divider"></div>
				<div class="column">
					<h3 class="cloud">Cloud</h3>
					<div class="deployment-cards">
						<a target="_blank" href="/docs/mqtt-broker/install/cluster/aws-cluster-setup/" class="deployment-card-block">
							<div class="deployment-logo">
								<img height="70px" width="" src="/images/install/cloud/eks.svg" title="Cluster setup on EKS" alt="Cluster setup on EKS">
							</div>
							<h4>Cluster setup on EKS</h4>
						</a>
						<a target="_blank" href="/docs/mqtt-broker/install/cluster/azure-cluster-setup/" class="deployment-card-block">
							<div class="deployment-logo">
								<img width="" src="/images/install/cloud/azure.svg" title="Cluster setup on AKS" alt="Cluster setup on AKS">
							</div>
							<h4>Cluster setup on AKS</h4>
						</a>
                        <a target="_blank" href="/docs/mqtt-broker/install/cluster/gcp-cluster-setup/" class="deployment-card-block">
                            <div class="deployment-logo">
                                <img width="" src="https://img.thingsboard.io/install/cloud/gcp.svg" title="Cluster setup on GCP" alt="Cluster setup on GCP">
                            </div>
                            <h4>Cluster setup on GCP</h4>
                        </a>
                        <a target="_blank" href="/docs/mqtt-broker/install/cluster/helm-cluster-setup-options/" class="deployment-card-block">
                            <div class="deployment-logo">
                                <img height="70px" width="" src="/images/install/cluster/helm.svg" title="Cluster setup using Helm" alt="Cluster setup using Helm">
                            </div>
                            <h4>Cluster setup using Helm</h4>
                        </a>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}

<script>
	inViewportDefer(function() {
		$("#install-cards main").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});
	});

	jqueryDefer(function () {
		activatePricingSection('thingsboard-cloud')
	})

	function activatePricingSection(sectionId) {
		$("li.menu-item").removeClass("active");
		$("li.menu-item#menu-item-"+sectionId).addClass("active");
		$("div.install-content").css("display", "none");
		$("div.install-content#"+sectionId).css("display", "block");
	}
</script>

{% include cookie-consent.html %}

</body>
</html>

