#installations
    color: #212529
    position: relative
    background-color: #fff
    width: 100%
    //color: #424242
    .inner-navigation
        position: relative
        margin: 36px 0 56px
        height: 68px
        display: flex
        justify-content: center
        align-items: center
        ul
            list-style-type: none
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            align-items: center
            margin: 0
            padding: 0
            height: 68px
            li
                position: relative
                display: table
                height: 68px
                padding-right: 12px
                a
                    text-decoration: none
                    display: block
                    vertical-align: middle
                    text-align: center
                    border: 1px solid rgba(0, 0, 0, 0.08)
                    box-sizing: border-box
                    border-radius: 34px
                    font-size: 12px
                    color: #212529
                    font-weight: 400
                    cursor: pointer
                    padding: 8px 12px
                    letter-spacing: 1px
                    &:hover
                        border-color: #212529
                        border-width: 2px
                        margin: -1px
                    &:before
                        display: inline-block
                        content: ""
                        vertical-align: middle
                        margin-right: 6px
                        width: 18px
                        height: 18px
                    @media (min-width: 992px)
                        font-size: 14px
                    @media (min-width: 1200px)
                        font-size: 18px
                        padding: 16px 32px
                        &:before
                            margin-right: 12px
                            width: 30px
                            height: 30px
                    @media (min-width: 1400px)
                        font-size: 24px
                &.tb-logo
                    a
                        &:before
                            background: url('/images/thingsboard-logo-black.svg')
                            background-size: contain
                &.active
                    z-index: 5
                    a
                        color: #fff
                        background-color: #2A7DEC
                        box-shadow: 0 6px 8px rgba(42,125,236,0.25)
                        &:hover
                            border-color: #2A7DEC
                    &.tb-logo
                        a
                            &:before
                                background: url('/images/thingsboard-logo-white.svg')
                                background-size: contain

    div.install-content
        position: relative
        z-index: 4
        padding-top: 0
        padding-bottom: 102px
        background-color: #fbfbfb

        .install-content-header
            flex-direction: row
            padding-top: 10px
            @media (min-width: 992px)
                padding-top: 64px

            h1
                font-size: 24px
                line-height: 36px
                font-weight: 600
                @media (min-width: 1200px)
                    font-size: 30px
                    line-height: 46px
                @media (min-width: 1400px)
                    font-size: 36px
                    line-height: 54px

            .install-content-description
                padding-top: 46px
                @media (min-width: 992px)
                    padding-top: 32px

                .button-container
                    margin-top: 32px
                    margin-bottom: 16px
                    justify-content: center
                    align-items: start
                    & > .btn-blue
                        margin-right: 1.5rem
                        margin-bottom: 1rem
                    @media (min-width: 992px)
                        margin-bottom: 90px
                        justify-content: start

            .install-content-details
                padding-top: 12px
                color: #707275
                font-size: 14px
                line-height: 18px
                p
                    font-size: 14px
                    line-height: 18px
                    @media (min-width: 992px)
                        font-size: 16px
                        line-height: 24px
                    @media (min-width: 1400px)
                        font-size: 18px
                        line-height: 27px

            .image-content
                position: relative
                width: 100%
                padding-top: 60%
                @media (min-width: 768px)
                    padding-top: 50%
                img
                    width: 75%
                    position: absolute
                    box-shadow: 0 18px 60px rgba(0, 0, 0, 0.127868)
                    border-radius: 4px
                    &.bg
                        top: 0
                        right: 0
                        z-index: 1
                        opacity: 0.5
                    &.main
                        left: 0
                        top: 3rem
                        z-index: 2

        a, button
            &.btn-blue
                min-width: 200px
                padding: 10px 50px
                background-color: #2A7DEC
                color: #fff
                text-align: center
                font-size: 18px
                font-weight: 500
                outline: none
                border-radius: 4px
                border: solid 2px #2A7DEC
                box-shadow: 0 6px 14px 0 rgba(42,125,236,0.25)
                line-height: 28px
                letter-spacing: -0.03em
                &:hover
                    background-color: #fff
                    color: #2A7DEC
                    box-shadow: 0 6px 14px 0 rgba(0,0,0,0.15)

    a.btn-blue
        text-decoration: none

    .feature
        display: flex
        flex-direction: column
        margin-bottom: 68px
        @media (min-width: 992px)
            flex-direction: row
        .column
            flex: 1
            .item-row
                display: flex
                padding-right: 0
                @media (min-width: 992px)
                    padding-right: 70px
                &:before
                    content: "•"
                    font-weight: 600
                    font-size: 26px
                    line-height: 30px
                    margin-right: 22px
                    color: #212529
                    display: inline-block
                .item-text
                    .item-title
                        font-weight: 600
                        font-size: 20px
                        line-height: 30px
                        margin-bottom: 2px
                &:not(:last-of-type)
                    margin-bottom: 28px

    .deploy
        h2
            font-weight: 600
            font-size: 24px
            line-height: 36px
            margin-bottom: 34px

        .wrapper
            display: flex
            flex-direction: column
            @media (min-width: 992px)
                flex-direction: row
            .column
                flex: 1
                &:first-of-type
                    margin-right: 0
                @media (min-width: 992px)
                    &:first-of-type
                        margin-right: 45px
                h3
                    font-weight: 400
                    font-size: 20px
                    line-height: 30px
                    margin-bottom: 22px
                    &:before
                        display: inline-block
                        content: ""
                        vertical-align: middle
                        margin-right: 14px
                        width: 30px
                    &.premise
                        &:before
                            height: 28px
                            background: url('/images/server-icon-blue.svg') no-repeat
                            background-size: contain
                    &.cloud
                        margin-top: 22px
                        @media (min-width: 992px)
                            margin-top: 0
                        &:before
                            height: 22px
                            background: url('/images/cloud-blue-symbol.svg') no-repeat
                            background-size: contain

                .deployment-cards
                    display: flex
                    flex-wrap: wrap
                    justify-content: center
                    @media (min-width: 992px)
                        justify-content: start

                    .deployment-card-block
                        background-color: #fff
                        margin: 0 10px 10px 0
                        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15)
                        border-radius: 4px
                        .deployment-logo
                            position: relative
                            width: 190px
                            height: 120px
                            min-width: 190px
                            display: flex
                            justify-content: center
                            align-items: center
                            align-content: center
                            img
                                flex: 0 0 auto
                                object-fit: contain
                                width: 100%
                                height: 100%
                                padding: 15px 25px
                                vertical-align: middle

            .divider
                display: none
                flex: 0
                margin: 10px 45px 0 -45px
                border-color: #ddd
                border-right-width: 1px
                border-right-style: solid
                @media (min-width: 992px)
                    display: block
