#installations
    color: #212529
    position: relative
    background-color: #fff
    width: 100%
    .inner-navigation
        position: relative
        margin: 36px 0
        display: flex
        justify-content: center
        align-items: center
        ul
            list-style-type: none
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            gap: 8px
            margin: 0
            padding: 0
            li
                position: relative
                display: table
                padding-right: 12px
                a
                    text-decoration: none
                    display: block
                    vertical-align: middle
                    text-align: center
                    border: 1px solid rgba(0, 0, 0, 0.08)
                    box-sizing: border-box
                    border-radius: 34px
                    font-size: 20px
                    line-height: 32px
                    padding: 16px 28px
                    @media (max-width: 600px)
                        font-size: 14px
                        line-height: 24px
                        padding: 8px 16px
                    color: #3D3D3D
                    font-weight: 400
                    cursor: pointer
                    letter-spacing: 1px
                    &:hover
                        border-color: #212529
                        border-width: 2px
                        margin: -1px
                &.tb-logo
                    a
                        @media (min-width: 1200px) and (max-width: 1400px)
                            .hidden-title
                                display: none
                &.active
                    z-index: 5
                    a
                        color: #2A7DEC
                        box-shadow: 0 6px 8px rgba(42,125,236,0.25)
                        border-color: #2A7DEC

    div.install-content
        position: relative
        z-index: 4
        padding-top: 0
        background-color: #F4F8FE
        overflow: hidden

        .install-content-header
            flex-direction: row
            padding-top: 10px

            &.margin-bottom
                margin-bottom: 28px

            h1
                font-size: 28px
                line-height: 44px
                font-weight: 500
                color: #202021
                @media (min-width: 1200px)
                    font-size: 30px
                    line-height: 46px
                @media (min-width: 1400px)
                    font-size: 36px
                    line-height: 54px

            .install-content-description
                padding-top: 18px
                @media (min-width: 992px)
                    padding-top: 32px

                .button-container
                    margin: 32px 0 16px 0
                    padding: 0
                    justify-content: center
                    align-items: center
                    gap: 25px
                    @media (min-width: 992px)
                        margin-bottom: 90px
                        justify-content: start

            .margin-mobile
                margin: 50px 0

            .install-content-details
                padding-top: 12px
                color: #3B3C3D
                font-size: 18px
                line-height: 30px
                p
                    font-weight: 400
                    font-size: 18px
                    line-height: 30px
                    &.margin
                        margin-bottom: 1rem

            .image-content
                position: relative
                width: 100%
                padding-top: 60%
                &.width-85
                    width: 85%
                @media (min-width: 768px)
                    padding-top: 50%
                img
                    width: 75%
                    position: absolute
                    box-shadow: 0 18px 60px rgba(0, 0, 0, 0.127868)
                    border-radius: 4px
                    &.bg
                        top: 0
                        right: 0
                        z-index: 1
                        opacity: 0.5
                    &.main
                        left: 0
                        top: 3rem
                        z-index: 2
                        &.left-negative
                            left: -40px
                            @media (max-width: 600px)
                                left: 0

        a, button
            &.btn-blue
                min-width: 200px
                padding: 10px 50px
                background-color: #2A7DEC
                color: #fff
                text-align: center
                font-size: 18px
                font-weight: 500
                outline: none
                border-radius: 4px
                border: solid 1px #2A7DEC
                line-height: 28px
                letter-spacing: -0.03em
                &:hover
                    filter: brightness(1.3)
                &.secondary
                    background-color: transparent
                    color: #2A7DEC

                @media (max-width: 600px)
                    width: 100%

    a.btn-blue
        text-decoration: none

    .feature
        display: flex
        flex-direction: column
        gap: 28px
        margin-bottom: 100px
        @media (min-width: 992px)
            flex-direction: row
        .column
            flex: 1
            .item-row
                display: flex
                padding-right: 0
                @media (min-width: 992px)
                    padding-right: 70px
                &:before
                    content: "•"
                    font-weight: 600
                    font-size: 26px
                    line-height: 30px
                    margin-right: 22px
                    color: #2A7DEC
                    display: inline-block
                .item-text
                    .item-title
                        color: #2A7DEC
                        font-weight: 400
                        font-size: 20px
                        line-height: 32px
                        margin-bottom: 2px
                    p
                        font-size: 16px
                        font-weight: 400
                        line-height: 28px
                        color: #202021
                &:not(:last-of-type)
                    margin-bottom: 28px

    .deploy
        position: relative
        padding-bottom: 100px
        &:before
            content: ""
            display: block
            width: 300%
            height: 150%
            top: -46px
            left: -100%
            background-color: #fff
            position: absolute
            z-index: -1
        h2
            font-weight: 600
            font-size: 24px
            line-height: 36px
            margin-bottom: 34px

        .wrapper
            display: flex
            flex-direction: column
            @media (min-width: 992px)
                flex-direction: row
            .column
                flex: 1
                h3
                    font-weight: 400
                    font-size: 20px
                    line-height: 30px
                    margin-bottom: 22px
                    &:before
                        display: inline-block
                        content: ""
                        vertical-align: middle
                        margin-right: 14px
                        width: 30px
                    &.premise
                        &:before
                            height: 28px
                            background: url('/images/server-icon.svg') no-repeat
                            background-size: contain
                    &.cloud
                        margin-top: 22px
                        @media (min-width: 992px)
                            margin-top: 0
                        &:before
                            height: 22px
                            background: url('/images/cloud-symbol.svg') no-repeat
                            background-size: contain

                .deployment-cards
                    display: flex
                    flex-wrap: wrap
                    justify-content: center
                    gap: 20px
                    @media (min-width: 992px)
                        justify-content: start

                    .deployment-card-block
                        padding: 24px
                        background-color: #fff
                        border: 1px solid #EBEBEB
                        border-radius: 16px
                        height: 140px
                        width: 312px
                        text-decoration: none
                        &:hover
                            box-shadow: -4px 15px 50px -20px rgba(0, 0, 0, 0.15), 0px 0px 8px 0px rgba(0, 0, 0, 0.08)
                            background: #F4F8FE
                            img
                                scale: 1.22
                        .deployment-logo
                            position: relative
                            width: 180px
                            height: 36px
                            min-width: 180px
                            display: flex
                            align-content: center
                            margin-bottom: 28px
                            img
                                flex: 0 0 auto
                                object-fit: contain
                                height: 100%
                                vertical-align: middle
                                transition: ease-in-out 0.3s
                                transform-origin: top left
                        h4
                            text-align: left
                            font-size: 16px
                            font-weight: 500
                            color: #212121
                            &:before
                                display: none

            .divider
                display: none
                flex: 0
                margin: 0 40px
                border-color: #ddd
                border-right-width: 1px
                border-right-style: solid
                @media (min-width: 992px)
                    display: block
