$install-color: #506dad

#docsContent
  #content
    .installation-options
      .install-options-hero
        position: relative
        z-index: 6
        min-height: 160px
        display: flex
        align-items: center
        .container
          padding: 0
        .install-options-hero-content
          text-align: center
          padding-top: 0
          padding-bottom: 0
          h1, span.heading
            padding-right: 0
            color: #000
            border: none
            margin-bottom: 0
            font-size: 36px
            font-weight: 500
            line-height: 48px
            margin-top: 0
            &:before
              display: none
          .install-options-description
            margin: 12px auto auto
            p
              color: #000
              font-weight: 500
              font-size: 14px
              line-height: 24px
              margin-bottom: 0
        .deployment-container
          .deployment-div
            margin-top: 40px
            padding-bottom: 20px
            .deployment-section
              display: none
              &.active
                display: block
              .installation-card-content-wrapper
                display: flex
                justify-content: center
                flex-wrap: wrap
                gap: 20px
                .installation-card-container.installation-card-content-coming-soon
                  &:hover
                    background: #F5F5F5
                  .installation-card-content
                    filter: grayscale(100%)
                .installation-card-container
                  scale: 0.7
                  opacity: 0
                  border-radius: 16px
                  background: #FFF
                  transition: ease-in-out 0.3s
                  border: 1px solid rgba(0, 0, 0, 0.08)
                  width: 258px
                  min-height: 244px
                  position: relative
                  &:hover
                    box-shadow: -4px 15px 50px -20px rgba(0, 0, 0, 0.15), 0px 0px 8px 0px rgba(0, 0, 0, 0.08)
                    background: #F4F8FE
                    .installation-card-content
                      text-decoration: none
                      img
                        scale: 1.22
                  .installation-card-content
                    display: flex
                    flex-direction: column
                    padding: 24px
                    text-decoration: none
                    img
                      transition: ease-in-out 0.3s
                      margin-bottom: 28px
                      transform-origin: top left
                    span
                      font-size: 16px
                      font-weight: 500
                      line-height: 28px
                      color: rgba(0, 0, 0, 0.87)
                      margin-bottom: 8px
                    p
                      font-size: 14px
                      font-weight: 400
                      line-height: 24px
                      color: rgba(0, 0, 0, 0.76)
                  .coming-soon-crisp
                    position: absolute
                    top: 16px
                    right: 16px
                    padding: 4px 8px
                    border-radius: 6px
                    background: #EEF5FD
                    filter: none
                    z-index: 2
                .installation-card-container.installation-card-animation
                  scale: 1
                  opacity: 1

        .one-line-deployment-container
          padding-top: 0
        .install-navigation
          position: relative
          display: flex
          justify-content: center
          align-items: center
          margin-top: 40px
          ul
            list-style-type: none
            display: flex
            flex-wrap: wrap
            justify-content: space-around
            align-items: center
            margin: 0
            padding: 0
            border-radius: 100px
            border: 1px solid rgba(0, 0, 0, 0.12)
            @media (max-width: 600px)
              flex-direction: column
              gap: 30px
              border: none
            li
              position: relative
              padding: 6.5px 25px
              border: 1px solid transparent
              border-radius: 100px
              margin: 0
              list-style: none
              transition: ease-in-out 0.3s
              p
                display: flex
                align-items: center
                gap: 12px
                text-decoration: none
                line-height: initial
                text-align: center
                box-sizing: border-box
                border-radius: 34px
                font-size: 18px
                color: rgba(0, 0, 0, 0.54)
                transition: ease-in-out 0.3s
                font-weight: 400
                cursor: pointer
                img
                  filter: brightness(0) saturate(100%) invert(49%) sepia(0%) saturate(1%) hue-rotate(204deg) brightness(93%) contrast(92%)
              &.active
                z-index: 5
                border: 1px solid #2A7DEC
                p
                  color: #2A7DEC
                img
                  filter: brightness(0) saturate(100%) invert(41%) sepia(28%) saturate(3464%) hue-rotate(197deg) brightness(95%) contrast(94%)
