@media (max-width: 686px) {
    html#pricing #pricingContent #thingsboard-edge .pricing-content-header .col.d-flex.justify-content-end {
        justify-content: center !important;
    }

    html#pricing #pricingContent #thingsboard-edge .pricing-content-header .col.d-flex.justify-content-end .solution-selector {
        width: 100%;
    }

    html#pricing #pricingContent #thingsboard-edge .pricing-content-header .col.d-flex.justify-content-end .solution-selector .solution#edge-community,
    html#pricing #pricingContent #thingsboard-edge .pricing-content-header .col.d-flex.justify-content-end .solution-selector .solution#edge-pay-as-you-go,
    html#pricing #pricingContent #thingsboard-edge .pricing-content-header .col.d-flex.justify-content-end .solution-selector .solution#edge-perpetual {
        padding-left: 14px;
        padding-right: 14px;
    }

    html#pricing #pricingContent #thingsboard-edge .pricing-content-header .col.d-flex.justify-content-end .solution-selector .solution#edge-community h3,
    html#pricing #pricingContent #thingsboard-edge .pricing-content-header .col.d-flex.justify-content-end .solution-selector .solution#edge-pay-as-you-go h3,
    html#pricing #pricingContent #thingsboard-edge .pricing-content-header .col.d-flex.justify-content-end .solution-selector .solution#edge-perpetual h3 {
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 18px;
    }
}

#thingsboard-edge section {
    background: none;
}

#thingsboard-edge:not(.open-nav):not(.flip-nav) header::after {
    opacity: 0;
}

#thingsboard-edge #hero {
    height: 100vh;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    background: none;
}

#thingsboard-edge #hero div:nth-child(1) {
    background-image: url(https://img.thingsboard.io/tb-cover.jpg) !important;
}

#thingsboard-edge #hero .video-cover {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: cover;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url(https://img.thingsboard.io/tb-cover.jpg);
}

#thingsboard-edge #hero #hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.72);
}

#thingsboard-edge #hero #hero-content .edge-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 400;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.66);
}

#thingsboard-edge #hero #hero-content .edge-description {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 16px;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.66);
}

#thingsboard-edge #hero #hero-content .try-edge {
    cursor: pointer;
    line-height: 40px;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid white;
    background-color: transparent;
    transition: 0.6s;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.66);
}

#thingsboard-edge #hero #hero-content .try-edge:hover {
    background-color: white;
    color: #1f3a52;
}

#thingsboard-edge #hero #hero-content .learn-tb {
    cursor: pointer;
    line-height: 40px;
    font-size: 16px;
    padding: 0 15px;
    border: 1px solid white;
    background-color: transparent;
    transition: 0.6s;
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.66);
}

#thingsboard-edge #hero #hero-content .learn-tb:hover {
    background-color: white;
    color: #1f3a52;
    text-shadow: none;
}

#thingsboard-edge #hero #hero-content .paas-arrow {
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    opacity: 1;
    z-index: 24;
    color: #fff;
}

#thingsboard-edge #hero #hero-content .paas-arrow a {
    color: #fff;
}

#thingsboard-edge #hero #hero-content.arrow-hidden .paas-arrow {
    display: none;
}

#thingsboard-edge #edgeContent {
    width: 100%;
    color: #212924;
}

#thingsboard-edge #edgeContent a.read-more-button {
    position: relative;
    transition-duration: 0.3s;
    outline: none;
}

#thingsboard-edge #edgeContent a.read-more-button .arrow {
    transform: translate(0px);
    transition-duration: 0.3s;
    filter: invert(38%) sepia(52%) saturate(993%) hue-rotate(131deg) brightness(103%) contrast(101%);
    box-shadow: none !important;
    width: 12px !important;
    margin-left: 12px;
    position: absolute;
    top: 7px;
}

#thingsboard-edge #edgeContent a.read-more-button .arrow.first {
    opacity: 0.2;
}

#thingsboard-edge #edgeContent a.read-more-button .arrow.second {
    opacity: 0.5;
}

#thingsboard-edge #edgeContent a.read-more-button:hover {
    transition-duration: 0.3s;
}

#thingsboard-edge #edgeContent a.read-more-button:hover .first {
    transform: translate(10px);
}

#thingsboard-edge #edgeContent a.read-more-button:hover .second {
    transform: translate(20px);
}

#thingsboard-edge #edgeContent a.read-more-button:hover .third {
    transform: translate(30px);
}

#thingsboard-edge #edgeContent h1 {
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    line-height: 52px;
}

#thingsboard-edge #edgeContent h1 a {
    font-weight: 600;
    font-size: 32px;
}

#thingsboard-edge #edgeContent h2,
#thingsboard-edge #edgeContent h3.item-heading {
    font-weight: 500;
    line-height: 54px;
    font-size: 36px;
    margin-top: 50px;
}

#thingsboard-edge #edgeContent h3:not(.item-heading) {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

#thingsboard-edge #edgeContent h4 {
    font-size: 24px;
    font-weight: 500;
}

#thingsboard-edge #edgeContent p {
    color: #757C76;
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    margin: 4px 0 18px;
}

#thingsboard-edge #edgeContent a {
    color: #009688;
    font-weight: 500;
    font-size: 18px;
}

#thingsboard-edge #edgeContent #intro {
    margin-bottom: 80px;
    padding-top: 98px;
    color: #212924;
}

#thingsboard-edge #edgeContent #intro .intro_title {
    padding: 0;
}

#thingsboard-edge #edgeContent #intro .labeling {
    margin: 48px 0 102px;
    text-align: center;
    color: #A5A5A5;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: normal;
    padding: 0;
}

#thingsboard-edge #edgeContent #tb-customers {
    margin: -50px -100% 0;
    padding: 50px 100%;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    display: none;
}

@media(min-width: 992px) {
    #thingsboard-edge #edgeContent #tb-customers {
        display: block;
    }
}

#thingsboard-edge #edgeContent #tb-customers img {
    height: 60px;
    margin-bottom: 20px;
}

#thingsboard-edge #edgeContent #tb-customers main,
#thingsboard-edge #edgeContent #tb-customers div.main-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}

#thingsboard-edge #edgeContent #tb-customers main a,
#thingsboard-edge #edgeContent #tb-customers div.main-div a {
    display: block;
    padding: 10px;
}

#thingsboard-edge #edgeContent #tb-customers main a object,
#thingsboard-edge #edgeContent #tb-customers div.main-div a object {
    pointer-events: none;
    filter: invert(95%) sepia(6%) saturate(1404%) hue-rotate(115deg) brightness(253%) contrast(93%);
}

#thingsboard-edge #edgeContent #local-deployment .block,
#thingsboard-edge #edgeContent #data-filtering .block,
#thingsboard-edge #edgeContent #local-alarms .block,
#thingsboard-edge #edgeContent #batch-update .block {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

#thingsboard-edge #edgeContent #local-deployment .block .feature-des,
#thingsboard-edge #edgeContent #local-deployment .block img,
#thingsboard-edge #edgeContent #data-filtering .block .feature-des,
#thingsboard-edge #edgeContent #data-filtering .block img,
#thingsboard-edge #edgeContent #local-alarms .block .feature-des,
#thingsboard-edge #edgeContent #local-alarms .block img,
#thingsboard-edge #edgeContent #batch-update .block .feature-des,
#thingsboard-edge #edgeContent #batch-update .block img {
    width: 100%;
}

#thingsboard-edge #edgeContent #local-deployment .block .block-img,
#thingsboard-edge #edgeContent #data-filtering .block .block-img,
#thingsboard-edge #edgeContent #local-alarms .block .block-img,
#thingsboard-edge #edgeContent #batch-update .block .block-img {
    text-align: center;
    order: 2;
}

#thingsboard-edge #edgeContent #local-deployment .block .block-img img,
#thingsboard-edge #edgeContent #data-filtering .block .block-img img,
#thingsboard-edge #edgeContent #local-alarms .block .block-img img,
#thingsboard-edge #edgeContent #batch-update .block .block-img img {
    margin-top: 32px;
    width: 100%;
    max-width: fit-content;
}

#thingsboard-edge #edgeContent #local-deployment .block .feature-des,
#thingsboard-edge #edgeContent #data-filtering .block .feature-des,
#thingsboard-edge #edgeContent #local-alarms .block .feature-des,
#thingsboard-edge #edgeContent #batch-update .block .feature-des {
    order: 1;
}

#thingsboard-edge #edgeContent #local-deployment .block .feature-des {
    padding-top: 100px;
}

#thingsboard-edge #edgeContent #data-filtering .block {
    padding: 60px 0;
}

#thingsboard-edge #edgeContent #local-alarms .block .feature-des {
    padding-top: 200px;
}

#thingsboard-edge #edgeContent #local-alarms .block .feature-des h2,
#thingsboard-edge #edgeContent #local-alarms .block .feature-des a,
#thingsboard-edge #edgeContent #local-alarms .block .feature-des h3.item-heading {
    color: #fff;
}

#thingsboard-edge #edgeContent #local-alarms .block .feature-des p {
    color: #868686;
}

#thingsboard-edge #edgeContent #local-alarms .block .feature-des .read-more-button .arrow {
    filter: brightness(100%) invert(100%);
}

#thingsboard-edge #edgeContent #batch-update .block {
    padding: 80px 0 120px;
}

#thingsboard-edge #edgeContent #bottom-features {
    padding-top: 72px;
}

#thingsboard-edge #edgeContent #bottom-features .cards {
    background-color: #EFFAF9;
    padding: 72px 50% 28px;
    justify-content: center;
    margin-right: -50%;
    margin-left: -50%;
}

#thingsboard-edge #edgeContent #bottom-features .cards>div {
    margin-bottom: 36px;
}

#thingsboard-edge #edgeContent #bottom-features .cards>div.col-lg-6 {
    padding: 0 18px;
    max-width: 100%;
}

#thingsboard-edge #edgeContent #bottom-features .cards>div .block {
    padding: 48px;
    float: left;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 6px;
    box-shadow: 0 50px 50px -20px rgba(0, 0, 0, 0.15);
    display: unset;
    text-align: center;
}

#thingsboard-edge #edgeContent #bottom-features .cards>div .block div {
    width: 100%;
}

#thingsboard-edge #edgeContent #bottom-features .cards>div .block div .title {
    margin-bottom: 6px;
    line-height: 33px;
}

#thingsboard-edge #edgeContent #bottom-features .cards>div .block div p {
    margin-top: 10px;
}

#thingsboard-edge #edgeContent #bottom-features .cards>div .block img {
    height: fit-content;
    margin: 0 0 18px;
}

#thingsboard-edge #edgeContent #bottom {
    display: flex;
    justify-content: center;
    padding: 46px 0 100px;
}

#thingsboard-edge #edgeContent #bottom .bottom-button {
    background-color: #009688;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 16px;
    width: 350px;
    display: block;
    box-shadow: 0 28px 16px -20px rgba(34, 41, 41, 0.25);
}

#thingsboard-edge #edgeContent #bottom .bottom-button:hover {
    background-color: #1EB7A9;
    text-decoration: none;
    color: #fff;
}

#thingsboard-edge #edgeContent #bottom .bottom-button:active {
    background-color: #009688;
    transition-duration: 0s;
}

#thingsboard-edge #edgeContent #background {
    z-index: -1;
    position: absolute;
    left: 50%;
}

#thingsboard-edge #edgeContent #background div {
    position: absolute;
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
    width: 436px;
    height: 90px;
}

#thingsboard-edge #edgeContent #background div.main1 {
    top: 8px;
    width: 2560px;
    height: 525px;
    left: -1280px;
    background-color: #EFFAF9;
}

#thingsboard-edge #edgeContent #background div.small1 {
    top: 71px;
    right: 646px;
    border: 4px solid #185B55;
}

#thingsboard-edge #edgeContent #background div.small2 {
    top: 18px;
    right: 467px;
    background-color: #009688;
}

#thingsboard-edge #edgeContent #background div.small3 {
    top: -135px;
    left: 789px;
    background-color: #185B55;
}

#thingsboard-edge #edgeContent #background div.small4 {
    top: 612px;
    right: 814px;
    border: 2px solid #185B55;
}

#thingsboard-edge #edgeContent #background div.main2 {
    top: 126px;
    width: 2560px;
    height: 805px;
    left: -1280px;
    background-color: #222929;
}

#thingsboard-edge #edgeContent #background div.small5 {
    top: 145px;
    right: 552px;
    background-color: #185B55;
}

#thingsboard-edge #edgeContent #background div.small6 {
    top: -42px;
    left: 824px;
    border: 4px solid #009688;
}

#thingsboard-edge #edgeContent #background div.small7 {
    top: 686px;
    right: 829px;
    background-color: #009688;
}

#thingsboard-edge #edgeContent #background div.main3 {
    top: -108px;
    width: 2560px;
    height: 525px;
    left: -1280px;
    background-color: #EFFAF9;
}

#thingsboard-edge #edgeContent #background div.small8 {
    top: -249px;
    left: 756px;
    border: 4px solid #185B55;
}

#thingsboard-edge .header-animation {
    max-width: 100%;
    opacity: 0;
    transform: translate3d(0, 45px, 0);
    animation-name: slideup-in;
    animation-duration: 600ms;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
}

#thingsboard-edge .header-animation:nth-child(1) {
    animation-delay: 0ms;
}

#thingsboard-edge .header-animation:nth-child(2) {
    animation-delay: 300ms;
}

#thingsboard-edge .header-animation:nth-child(3) {
    animation-delay: 600ms;
}

#thingsboard-edge .header-animation:nth-child(4) {
    animation-delay: 900ms;
}

#thingsboard-edge .header-animation:nth-child(5) {
    animation-delay: 1200ms;
}

@media screen and (min-width: 750px) {
    #thingsboard-edge #hero #hero-content .edge-title {
        font-size: 36px;
    }

    #thingsboard-edge #hero #hero-content .edge-description {
        font-size: 20px;
        margin-bottom: 60px;
    }

    #thingsboard-edge #edgeContent #local-deployment .block .feature-des,
    #thingsboard-edge #edgeContent #local-deployment .block .block-img,
    #thingsboard-edge #edgeContent #data-filtering .block .feature-des,
    #thingsboard-edge #edgeContent #data-filtering .block .block-img,
    #thingsboard-edge #edgeContent #local-alarms .block .feature-des,
    #thingsboard-edge #edgeContent #local-alarms .block .block-img,
    #thingsboard-edge #edgeContent #batch-update .block .feature-des,
    #thingsboard-edge #edgeContent #batch-update .block .block-img {
        width: 80%;
    }

    #thingsboard-edge #edgeContent #bottom-features .cards .col-lg-6 .block {
        text-align: left;
        display: flex;
    }

    #thingsboard-edge #edgeContent #bottom-features .cards .col-lg-6 .block div {
        width: calc(100% - 122px);
    }

    #thingsboard-edge #edgeContent #bottom-features .cards .col-lg-6 .block img {
        margin: 0 30px 0 0;
    }
}

@media screen and (min-width: 1025px) {

    #thingsboard-edge section main,
    #thingsboard-edge header main {
        max-width: 100%;
    }

    #thingsboard-edge footer main,
    #thingsboard-edge footer div.main-div {
        max-width: 100%;
    }

    #thingsboard-edge #edgeContent #intro .intro_title {
        padding: 0 5%;
    }

    #thingsboard-edge #edgeContent #intro .labeling {
        padding: 0 8%;
    }

    #thingsboard-edge #edgeContent #local-deployment .block,
    #thingsboard-edge #edgeContent #data-filtering .block,
    #thingsboard-edge #edgeContent #local-alarms .block,
    #thingsboard-edge #edgeContent #batch-update .block {
        flex-direction: row;
    }

    #thingsboard-edge #edgeContent #local-deployment .block .feature-des,
    #thingsboard-edge #edgeContent #local-deployment .block .block-img,
    #thingsboard-edge #edgeContent #data-filtering .block .feature-des,
    #thingsboard-edge #edgeContent #data-filtering .block .block-img,
    #thingsboard-edge #edgeContent #local-alarms .block .feature-des,
    #thingsboard-edge #edgeContent #local-alarms .block .block-img,
    #thingsboard-edge #edgeContent #batch-update .block .feature-des,
    #thingsboard-edge #edgeContent #batch-update .block .block-img {
        width: calc(50% - 80px);
        order: unset;
    }

    #thingsboard-edge #edgeContent #local-deployment .block .block-img img,
    #thingsboard-edge #edgeContent #data-filtering .block .block-img img,
    #thingsboard-edge #edgeContent #local-alarms .block .block-img img,
    #thingsboard-edge #edgeContent #batch-update .block .block-img img {
        margin: unset;
    }

    #thingsboard-edge #edgeContent #local-alarms #background .main2 {
        height: 405px;
    }
}

@media screen and (min-width: 1250px) {
    #thingsboard-edge #hero #hero-content .edge-title {
        margin-bottom: 60px;
        font-size: 64px;
    }

    #thingsboard-edge #hero #hero-content .edge-description {
        font-size: 28px;
        margin-bottom: 80px;
    }

    #thingsboard-edge #hero #hero-content .try-edge {
        line-height: 60px;
        font-size: 28px;
        padding: 0 40px;
        margin: 0 4px;
        border-width: 3px;
    }

    #thingsboard-edge #edgeContent {
        max-width: 1200px;
    }

    #thingsboard-edge #edgeContent #intro .intro_title {
        padding: 0 7%;
    }

    #thingsboard-edge #edgeContent #intro .labeling {
        padding: 0 13%;
    }
}

@media screen and (min-width: 1500px) {
    #thingsboard-edge #edgeContent {
        max-width: 1400px;
    }

    #thingsboard-edge #edgeContent #intro .intro_title {
        padding: 0 10%;
    }

    #thingsboard-edge #edgeContent #intro .labeling {
        padding: 0 18%;
    }

    #thingsboard-edge #edgeContent #batch-update .block {
        padding-top: 40px;
    }

    #thingsboard-edge #edgeContent #local-alarms #background .main2 {
        height: 485px;
    }
}

#thingsboard-edge #edgeContent #matrix {
    margin: 60px -100% 0;
    padding: 0 100% 48px
}

#thingsboard-edge #edgeContent #matrix h3 {
    color: #212529;
    font-weight: 600;
    text-align: left;
    font-size: 22px;
    line-height: 40px
}

#thingsboard-edge #edgeContent #matrix #backg-matrix {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px)
}

#thingsboard-edge #edgeContent #matrix #backg-matrix .edge,#thingsboard-edge #edgeContent #matrix #backg-matrix .gateway {
    padding: 0 20px;
    width: 30%;
    position: absolute;
    z-index: -1;
    top: 127px
}

#thingsboard-edge #edgeContent #matrix #backg-matrix .coln {
    height: 1064px;
    border-radius: 6px
}

#thingsboard-edge #edgeContent #matrix #backg-matrix .gateway {
    right: 0
}

#thingsboard-edge #edgeContent #matrix #backg-matrix .gateway .coln {
    border: 2px solid #eb5757
}

#thingsboard-edge #edgeContent #matrix #backg-matrix .gateway .coln .head {
    height: 106px;
    box-shadow: 0 2px 0 0 rgba(235,87,87,.08)
}

#thingsboard-edge #edgeContent #matrix #backg-matrix .edge {
    right: 30%
}

#thingsboard-edge #edgeContent #matrix #backg-matrix .edge .coln {
    border: 2px solid #009688;
    box-shadow: 0 50px 50px -20px rgba(0,0,0,.15),0 0 30px 0 rgba(0,0,0,.1)
}

#thingsboard-edge #edgeContent #matrix #backg-matrix .edge .coln .head {
    height: 106px;
    background-color: #009688
}

#thingsboard-edge #edgeContent #matrix table {
    width: calc(100% + 40px);
    margin: 160px -20px 16px;
    border: none;
    margin-top: 64px;
    top: 40px
}

#thingsboard-edge #edgeContent #matrix table td,#thingsboard-edge #edgeContent #matrix table th {
    margin: 0 2px
}

#thingsboard-edge #edgeContent #matrix table td:nth-child(3n-1),#thingsboard-edge #edgeContent #matrix table th:nth-child(3n-1) {
    color: #009688
}

#thingsboard-edge #edgeContent #matrix table td:nth-child(3n-1) img,#thingsboard-edge #edgeContent #matrix table th:nth-child(3n-1) img {
    filter: invert(40%) sepia(88%) saturate(245%) hue-rotate(129deg) brightness(91%) contrast(103%)
}

#thingsboard-edge #edgeContent #matrix table td:nth-child(3n),#thingsboard-edge #edgeContent #matrix table th:nth-child(3n) {
    color: #eb5757
}

#thingsboard-edge #edgeContent #matrix table td:nth-child(3n) img,#thingsboard-edge #edgeContent #matrix table th:nth-child(3n) img {
    filter: invert(40%) sepia(77%) saturate(728%) hue-rotate(311deg) brightness(104%) contrast(106%)
}

#thingsboard-edge #edgeContent #matrix table thead {
    color: #212529;
    font-size: 12px;
    line-height: 30px;
    background-color: unset
}

#thingsboard-edge #edgeContent #matrix table thead tr {
    height: 152px
}

#thingsboard-edge #edgeContent #matrix table thead tr th {
    width: 30%;
    text-align: center;
    vertical-align: center;
    font-weight: 600;
    font-size: 11px;
    padding: 40px 0
}

#thingsboard-edge #edgeContent #matrix table thead tr th:nth-child(2n) {
    color: #fff
}

#thingsboard-edge #edgeContent #matrix table thead tr td {
    width: 40%
}

#thingsboard-edge #edgeContent #matrix table tbody tr {
    background-color: unset;
    height: 64px
}

#thingsboard-edge #edgeContent #matrix table tbody tr th,#thingsboard-edge #edgeContent #matrix table tbody tr a {
    font-weight: 600;
    font-size: 12px;
    padding-right: 12px;
    color: #212529
}

#thingsboard-edge #edgeContent #matrix table tbody tr th img,#thingsboard-edge #edgeContent #matrix table tbody tr a img {
    vertical-align: top
}

#thingsboard-edge #edgeContent #matrix table tbody tr td {
    text-align: center;
    font-weight: 600;
    font-size: 11px
}

#thingsboard-edge #edgeContent #matrix table tbody tr td img {
    width: 32px
}

@media screen and (min-width: 750px) {
    #thingsboard-edge #hero #hero-content .edge-title {
        font-size:36px
    }

    #thingsboard-edge #hero #hero-content .edge-description {
        font-size: 20px;
        margin-bottom: 60px
    }

    #thingsboard-edge #edgeContent #local-deployment .block .feature-des,#thingsboard-edge #edgeContent #local-deployment .block .block-img,#thingsboard-edge #edgeContent #data-filtering .block .feature-des,#thingsboard-edge #edgeContent #data-filtering .block .block-img,#thingsboard-edge #edgeContent #local-alarms .block .feature-des,#thingsboard-edge #edgeContent #local-alarms .block .block-img,#thingsboard-edge #edgeContent #batch-update .block .feature-des,#thingsboard-edge #edgeContent #batch-update .block .block-img {
        width: 80%
    }

    #thingsboard-edge #edgeContent #matrix h3 {
        font-size: 42px;
        line-height: 63px
    }

    #thingsboard-edge #edgeContent #matrix table thead {
        font-size: 20px
    }

    #thingsboard-edge #edgeContent #matrix table thead tr th {
        width: 30%;
        padding: 0 0 40px;
        font-size: 20px
    }

    #thingsboard-edge #edgeContent #matrix table thead tr td {
        width: 40%
    }

    #thingsboard-edge #edgeContent #matrix table tbody tr th,#thingsboard-edge #edgeContent #matrix table tbody tr a {
        padding-right: 48px;
        font-size: 18px
    }

    #thingsboard-edge #edgeContent #matrix table tbody tr td {
        font-size: 20px
    }

    #thingsboard-edge #edgeContent #matrix table tbody tr td img {
        width: unset
    }

    #thingsboard-edge #edgeContent #bottom-features .cards .col-lg-6 .block {
        text-align: left;
        display: flex
    }

    #thingsboard-edge #edgeContent #bottom-features .cards .col-lg-6 .block div {
        width: calc(100% - 122px)
    }

    #thingsboard-edge #edgeContent #bottom-features .cards .col-lg-6 .block img {
        margin: 0 30px 0 0
    }
}

@media screen and (max-width: 365px) {
    #thingsboard-edge #edgeContent.noToc {
        #matrix #backg-matrix {
            & .edge, & .gateway {
                top: 156px;
            }
        }
    }
}

@media screen and (min-width: 366px) and (max-width: 430px) {
    #thingsboard-edge #edgeContent.noToc {
        #matrix #backg-matrix {
            & .edge, & .gateway {
                top: 127px;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    #thingsboard-edge #edgeContent.noToc {
        #matrix #backg-matrix {
             .edge {
                right: 26%;
                width: 38%;
             }

             .gateway {
                right: -4%;
                width: 38%;
             }
        }

        #matrix table thead tr th {
            font-size: 11px;
        }

        #matrix table tbody tr td {
            font-size: 10px;
        }
    }
}

@media screen and (max-width: 320px) {
    #thingsboard-edge #matrix {
        display: none;
    }
}

