#mobile-app section {
    background: none;
}

#mobile-app:not(.open-nav):not(.flip-nav) header::after {
    opacity: 0;
}

#mobile-app #overflow {
    overflow: hidden;
}

#mobile-app #overflow #intro,
#mobile-app #overflow .features {
    color: #212529;
    text-align: left;
}

#mobile-app #overflow #intro h1,
#mobile-app #overflow .features h1 {
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    line-height: 52px;
}

#mobile-app #overflow #intro h1 a,
#mobile-app #overflow .features h1 a {
    font-weight: 600;
    font-size: 32px;
}

#mobile-app #overflow #intro h2,
#mobile-app #overflow .features h2 {
    font-weight: 500;
    line-height: 54px;
    font-size: 36px;
}

#mobile-app #overflow #intro h3,
#mobile-app #overflow .features h3 {
    font-size: 42px;
    font-weight: 600;
    line-height: 63px;
}

#mobile-app #overflow #intro p,
#mobile-app #overflow .features p {
    color: #75767C;
    font-size: 18px;
    font-weight: normal;
    line-height: 27px;
    margin: 4px 0 18px;
}

#mobile-app #overflow #intro a,
#mobile-app #overflow .features a {
    font-weight: 500;
    font-size: 18px;
}

#mobile-app #overflow #intro {
    margin-bottom: 178px;
    padding-top: 200px;
}

#mobile-app #overflow #intro h1:not(.second) {
    margin-bottom: 48px;
}

#mobile-app #overflow #intro h2.second {
    text-align: center;
}

#mobile-app #overflow #intro .second {
    color: #899AAB;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: normal;
}

#mobile-app #overflow .features .features-top .block {
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#mobile-app #overflow .features .features-top .block .feature-des {
    order: 1;
}

#mobile-app #overflow .features .features-top .block .feature-des h2 {
    margin-top: 100px;
}

#mobile-app #overflow .features .features-top .block .preview {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 32px;
    order: 2;
}

#mobile-app #overflow .features .features-top .block .feature-des,
#mobile-app #overflow .features .features-top .block .preview {
    width: 100%;
}

#mobile-app #overflow .features .features-top .block.vis {
    margin: 70px 0 80px;
}

#mobile-app #overflow .features .features-top .block.dark .feature-des h2 {
    color: white;
}

#mobile-app #overflow .features .features-top .block.dark .feature-des p {
    color: #A6A8B2;
}

#mobile-app #overflow .features .features-top .block.dark .feature-des a {
    color: white;
}

#mobile-app #overflow .features .features-top .block.dark .feature-des a img {
    filter: invert(98%) sepia(19%) saturate(109%) hue-rotate(232deg) brightness(115%) contrast(100%);
}

#mobile-app #overflow .features .features-top .block.micro {
    margin: 80px 0;
}

#mobile-app #overflow .features .features-top .block.micro img {
    max-width: 569px;
}

#mobile-app #overflow .features .features-top .block.micro .feature-des {
    margin-bottom: 12px;
}

#mobile-app #overflow #bottom {
    margin-top: 340px;
    padding: 82px 0 124px;
    text-align: center;
}

#mobile-app #overflow #bottom .getting-started {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 15px 68px;
    height: 127px;
    box-shadow: 0 28px 16px -20px rgba(13, 39, 67, 0.25);
}

#mobile-app #overflow #bottom .getting-started:hover {
    text-decoration: none;
    color: #fff;
}

#mobile-app #overflow #bottom .getting-started:active {
    transition-duration: 0s;
}

#mobile-app #overflow .read-more-button {
    position: relative;
    transition-duration: 0.3s;
}

#mobile-app #overflow .read-more-button.dash {
    outline: none;
}

#mobile-app #overflow .read-more-button.dash .arrow {
    left: 156px;
}

#mobile-app #overflow .read-more-button .arrow {
    transform: translate(0px);
    transition-duration: 0.3s;
    box-shadow: none !important;
    width: 12px !important;
    margin-left: 12px;
    position: absolute;
    top: 7px;
}

#mobile-app #overflow .read-more-button .arrow.first {
    opacity: 0.2;
}

#mobile-app #overflow .read-more-button .arrow.second {
    opacity: 0.5;
}

#mobile-app #overflow .read-more-button:hover {
    transition-duration: 0.3s;
}

#mobile-app #overflow .read-more-button:hover .first {
    transform: translate(10px);
}

#mobile-app #overflow .read-more-button:hover .second {
    transform: translate(20px);
}

#mobile-app #overflow .read-more-button:hover .third {
    transform: translate(30px);
}

#mobile-app #overflow .background {
    z-index: -1;
    position: absolute;
    left: 50%;
}

#mobile-app #overflow .background:not(.bottom) {
    top: 524px;
}

#mobile-app #overflow .background.bottom {
    bottom: 1617px;
}

#mobile-app #overflow .background img {
    position: absolute;
    top: -650px;
    left: 134px;
    box-shadow: none !important;
}

#mobile-app #overflow .background div {
    position: absolute;
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
    width: 436px;
    height: 90px;
}

#mobile-app #overflow .background div.main1 {
    top: -572px;
    width: 2560px;
    height: 825px;
    left: -1280px;
}

#mobile-app #overflow .background div.main2 {
    top: -576px;
    width: 2560px;
    height: 825px;
    left: -1280px;
}

#mobile-app #overflow .background div.bottom {
    bottom: -1780px;
    width: 2560px;
    height: 130px;
    left: -1280px;
    background-color: #262C28;
}

@media screen and (min-width: 750px) {

    #mobile-app #overflow .features .features-top .block .feature-des,
    #mobile-app #overflow .features .features-top .block .preview {
        width: 80%;
    }

    #mobile-app #overflow .features .features-top .block .preview.act {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1025px) {

    #mobile-app section main,
    #mobile-app header main {
        max-width: 1400px;
    }

    #mobile-app footer main,
    #mobile-app footer div.main-div {
        max-width: 1400px;
    }

    #mobile-app #overflow .features .features-top .block {
        flex-direction: row;
    }

    #mobile-app #overflow .features .features-top .block .feature-des,
    #mobile-app #overflow .features .features-top .block .preview {
        width: calc(50% - 80px);
        order: unset;
    }

    #mobile-app #overflow .features .features-top .block .feature-des h2,
    #mobile-app #overflow .features .features-top .block .preview h2 {
        margin: unset;
    }

    #mobile-app #overflow .features .features-top .block .preview {
        margin-top: unset;
    }

    #mobile-app #overflow .background div.main1,
    #mobile-app #overflow .background div.main2 {
        height: 625px;
    }

    #mobile-app #overflow #bottom .getting-started {
        padding: 15px 128px;
    }
}

#mobile-app.mobile-ce #overflow #intro a,
#mobile-app.mobile-ce #overflow .features a {
    color: #2A7DEC;
}

#mobile-app.mobile-ce #overflow #bottom {
    background-color: #F9FBFE;
}

#mobile-app.mobile-ce #overflow #bottom .getting-started {
    background-color: #2A7DEC;
}

#mobile-app.mobile-ce #overflow #bottom .getting-started:hover {
    background-color: #4F97F8;
}

#mobile-app.mobile-ce #overflow #bottom .getting-started:active {
    background-color: #2A7DEC;
}

#mobile-app.mobile-ce #overflow .read-more-button .arrow {
    filter: invert(35%) sepia(96%) saturate(1837%) hue-rotate(202deg) brightness(98%) contrast(89%);
}

#mobile-app.mobile-ce #overflow .background div.main1 {
    background-color: #F7F9FC;
}

#mobile-app.mobile-ce #overflow .background div.small1 {
    top: -528px;
    right: 646px;
    background-color: #305680;
}

#mobile-app.mobile-ce #overflow .background div.small2 {
    top: -590px;
    right: 408px;
    background-color: #2A7DEC;
}

#mobile-app.mobile-ce #overflow .background div.small3 {
    top: -715px;
    left: 789px;
    border: 4px solid #2A7DEC;
}

#mobile-app.mobile-ce #overflow .background div.small4 {
    top: 122px;
    right: 814px;
    border: 2px solid #0D2743;
}

#mobile-app.mobile-ce #overflow .background div.main2 {
    background-color: #252628;
}

#mobile-app.mobile-ce #overflow .background div.small5 {
    top: -742px;
    left: 867px;
    border: 4px solid #305680;
}

#mobile-app.mobile-ce #overflow .background div.small6 {
    top: 63px;
    right: 525px;
    background-color: #305680;
}

#mobile-app.mobile-ce #overflow .background div.small7 {
    bottom: -1760px;
    left: 565px;
    background-color: #305680;
}

#mobile-app.mobile-pe #overflow #intro a,
#mobile-app.mobile-pe #overflow .features a {
    color: #17BB52;
}

#mobile-app.mobile-pe #overflow #bottom {
    background-color: #FAFAFA;
}

#mobile-app.mobile-pe #overflow #bottom .getting-started {
    background-color: #17BB52;
}

#mobile-app.mobile-pe #overflow #bottom .getting-started:hover {
    background-color: #35C86A;
}

#mobile-app.mobile-pe #overflow #bottom .getting-started:active {
    background-color: #1F8B4D;
}

#mobile-app.mobile-pe #overflow .read-more-button .arrow {
    filter: invert(60%) sepia(22%) saturate(7500%) hue-rotate(102deg) brightness(98%) contrast(82%);
}

#mobile-app.mobile-pe #overflow .background div.main1 {
    background-color: #F4F4F4;
}

#mobile-app.mobile-pe #overflow .background div.small1 {
    top: -542px;
    right: 524px;
    background-color: #27AE60;
}

#mobile-app.mobile-pe #overflow .background div.small2 {
    top: -532px;
    right: 270px;
    border: 2px solid #234732;
}

#mobile-app.mobile-pe #overflow .background div.small3 {
    top: -686px;
    left: 524px;
    background-color: #1F8B4D;
}

#mobile-app.mobile-pe #overflow .background div.main2 {
    background-color: #262C28;
}

#mobile-app.mobile-pe #overflow .background div.small4 {
    top: -742px;
    left: 867px;
    background-color: #27AE60;
}

#mobile-app.mobile-pe #overflow .background div.small5 {
    top: 63px;
    right: 525px;
    border: 4px solid #27AE60;
}

#mobile-app.mobile-pe #overflow .background div.main3 {
    top: -576px;
    width: 2560px;
    height: 825px;
    left: -1280px;
    background-color: #F4F4F4;
}

#mobile-app.mobile-pe #overflow .background div.small6 {
    top: -537px;
    right: 804px;
    background-color: #1F8B4D;
}

#mobile-app.mobile-pe #overflow .background div.small7 {
    top: -714px;
    left: 566px;
    background-color: #27AE60;
}

#mobile-app.mobile-pe #overflow .background div.small8 {
    top: -84px;
    left: 804px;
    border: 2px solid #234732;
}

#mobile-app.mobile-pe #overflow .background div.small9 {
    bottom: -1760px;
    left: 565px;
    background-color: #1F8B4D;
}

@media screen and (min-width: 1025px) {
    #mobile-app.mobile-pe #overflow .background div.main3 {
        height: 625px;
    }
}

.mobile-frame {
    position: relative;
    width: 320px;
}

.mobile-frame:before {
    content: "";
    display: block;
}

.mobile-frame:after {
    content: "";
    display: block;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mobile-frame .phone-bg {
    position: absolute;
    z-index: -1;
    left: -10%;
    top: 11%;
}

.mobile-frame .phone-bg.points {
    left: -90%;
    top: 11%;
}

.mobile-frame .phone-bg.points.right {
    left: 53%;
}

.mobile-frame .phone-bg.web {
    border-radius: 6px;
    box-shadow: -20px 20px 40px -20px rgba(0, 0, 0, 0.15), -30px 30px 60px rgba(0, 0, 0, 0.15);
}

.mobile-frame .phone-bg.web.right {
    box-shadow: 20px 20px 40px -20px rgba(0, 0, 0, 0.15), 30px 30px 60px rgba(0, 0, 0, 0.15);
}

.mobile-frame .phone-bg.flexible {
    top: 15%;
    left: -70%;
    width: 140%;
}

.mobile-frame .phone-bg.alarms-m {
    top: 25%;
    left: 25%;
    width: 140%;
}

.mobile-frame .phone-bg.devices-nav {
    top: 15%;
    left: -60%;
    width: 140%;
}

.mobile-frame .phone-bg.mobile-act {
    top: 20%;
    left: -70%;
    width: 140%;
}

.mobile-frame .phone-bg.w-label {
    top: 11%;
    left: 25%;
    width: 140%;
}

.mobile-frame .phone-bg.self-reg {
    top: 13%;
    left: -60%;
    width: 140%;
}

.mobile-frame .phone-shadow {
    position: absolute;
    z-index: -1;
    right: 1.9%;
    left: 1.9%;
    top: 0.3%;
    bottom: 0.9%;
    border-radius: 50px;
    box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.15), -30px 30px 40px rgba(0, 0, 0, 0.15);
}

.mobile-frame .phone-shadow.right {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.15), 30px 30px 40px rgba(0, 0, 0, 0.15);
}

.mobile-frame .frame-video,
.mobile-frame .frame-image {
    position: absolute;
}

.mobile-frame .frame-video img,
.mobile-frame .frame-video video,
.mobile-frame .frame-image img,
.mobile-frame .frame-image video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mobile-frame .frame-image {
    z-index: -1;
}

.mobile-frame.android:before {
    padding-top: 207.8%;
}

.mobile-frame.android:after {
    background-image: url(/images/mobile/pixel2-frame620.png);
}

.mobile-frame.android .frame-image,
.mobile-frame.android .frame-video {
    top: 23.2%;
    left: 5.2%;
    right: 4.3%;
    bottom: 23.6%;
}

.mobile-frame.ios:before {
    padding-top: 202%;
}

.mobile-frame.ios:after {
    background-image: url(/images/mobile/iphone12promax-frame.png);
}

.mobile-frame.ios .frame-image,
.mobile-frame.ios .frame-video {
    top: 2.15%;
    left: 5.25%;
    right: 5.15%;
    bottom: 2.15%;
}

.mobile-frame.ios .frame-image img,
.mobile-frame.ios .frame-image video,
.mobile-frame.ios .frame-video img,
.mobile-frame.ios .frame-video video {
    border-radius: 4%;
}

.mobile-market-badges {
    display: flex;
    flex-direction: column;
}

.mobile-market-badges a img {
    width: 200px;
    height: auto;
    margin: 16px;
}

@media screen and (min-width: 750px) {
    .mobile-market-badges {
        flex-direction: row;
    }

    .mobile-market-badges a img {
        height: 70px;
        width: auto;
        margin: 24px;
    }
}
