<!Doctype html>
<html id="careers">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="carsContent" class="noToc">

        <a class="back" href="/careers/"><img src="https://img.thingsboard.io/careers/back_arrow.svg" alt="Back to Careers arrow">Back to Careers</a>

        <div id="vacancy">
            <div class="head">
                <h1 style="font-weight: 600;">{{ page.position }}</h1>
                <div>
                    <div class="location">{{page.location}}<img src="https://img.thingsboard.io/careers/location_icon.svg" alt="Location icon"></div>
                    <p class="date">{{page.dateString}}</p>
                </div>
            </div>

            {{ content }}

            <div id="mailBlock">
                <p class="mailTitle">Send your CV on mail:</p><a class="mail" href='mailto:hr@thingsboard.io?subject=Job application in ThingsBoard'>hr@thingsboard.io</a>
                <a class="buttonApply" href='mailto:hr@thingsboard.io?subject=Job application in ThingsBoard'>APPLY NOW</a>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}

{% include cookie-consent.html %}

</body>
</html>
