<!Doctype html>
<html id="careers">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="carsContent" class="noToc">

        <a class="back" href="/careers/"><img src="/images/careers/back_arrow.svg" alt="Back to Careers">Back to Careers</a>

        <div id="vacancy">
            <div class="head">
                <p class="title">{{ page.position }}</p>
                <div>
                    <div class="location">{{page.location}}<img src="/images/careers/location_icon.svg"></div>
                    <p class="date">{{page.dateString}}</p>
                </div>
            </div>

            {{ content }}

            <div id="mailBlock">
                <p class="mailTitle">Send your CV on mail:</p><a class="mail" href='mailto:hr@thingsboard.io?subject=Job application in ThingsBoard'>hr@thingsboard.io</a>
                <a class="buttonApply" href='mailto:hr@thingsboard.io?subject=Job application in ThingsBoard'>APPLY NOW</a>
            </div>

            <h2>Our Advantages:</h2>
            <div id="advanGrid">
                <div>
                    <img class="advanImg" src="/images/careers/schedule_icon.svg">
                    <h5>Comfortable and flexible working schedule</h5>
                </div>
                <div>
                    <img class="advanImg" src="/images/careers/support_icon.svg">
                    <h5>A high-professional team without bureaucracy</h5>
                </div>
                <div>
                    <img class="advanImg" src="/images/careers/target_icon.svg">
                    <h5>Career growth opportunities and regular salary review</h5>
                </div>
                <div>
                    <img class="advanImg" src="/images/careers/vacation_icon.svg">
                    <h5>Social benefits, paid vacations and sick leaves</h5>
                </div>
                <div>
                    <img class="advanImg" src="/images/careers/sweet_icon.svg">
                    <h5>Unlimited beverages, fruits and sweets</h5>
                </div>
                <div>
                    <img class="advanImg" src="/images/careers/english_icon.svg">
                    <h5>English classes in the office</h5>
                </div>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}

</body>
</html>