<!Doctype html>
<html id="case-studies" lang="en">

{% include head-header.html%}

<section id="hero" class="light-text">
</section>
<div id="case-studies-content">
    {{content}}
</div>
{% if page.pagination == "true" %}
{% include pagination.html
    containerId="case-studies-clients"
    filterSelector=".filter[data-container-id='case-studies-clients']"
    itemsSelector=".client-card"
    itemsPerPage="9" %}
{% endif %}

{% include contact-us-modal.html
    formSubject='Custom Development'
    modalTitle='Start building with us today'
    modalDescription='We’ll get back to you within 1–2 business days to discuss your custom project.' %}
{% include footer.html %}

{% include cookie-consent.html %}

<script async type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const imagesAnimations = document.querySelectorAll(".tb-help img");
        const imagesObserver = new IntersectionObserver((entries, obs) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const img = entry.target;
                    img.classList.add('animated');
                    obs.unobserve(img);
                }
            });
        }, {threshold: 0.4});

        imagesAnimations.forEach(img => imagesObserver.observe(img));

        const problemAnimations = document.querySelectorAll(".problem .card");
        const problemObserver = new IntersectionObserver((entries, obs) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    const img = entry.target;
                    img.classList.add('animated');
                    obs.unobserve(img);
                }
            });
        }, {threshold: 0.3});

        problemAnimations.forEach(img => problemObserver.observe(img));
    });
</script>
</body>
</html>
