{% if page.notitle == "true" %}{% assign notitle = "true" %}{% endif %}

<!Doctype html>
<html id="common">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="docsContent" class="noToc">
        {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
        <div id="content">
            {{ content }}
        </div>
    </div>
</section>

{% include footer.html %}

<script>
    jqueryDefer(function () {
        $(window).scroll(function() {
            var height = $(window).scrollTop();
            var navPosition = $('.mainTitle').height() + 50;
            if(height > navPosition){
            $('nav.customers-nav').addClass('nav-fixed');
            $('h1.mainTitle').addClass('customer-spacer');
            } else{
            $('nav.customers-nav').removeClass('nav-fixed');
            $('h1.mainTitle').removeClass('customer-spacer');
            }
        });
    });
</script>

</body>
</html>