{% if page.notitle == "true" %}{% assign notitle = "true" %}{% endif %}

<!Doctype html>
<html id="common">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="docsContent" class="noToc">
        {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
        <div id="content">
            {{ content }}
        </div>
    </div>
</section>

{% include footer.html %}

<script>
    jqueryDefer(function () {
        $(window).scroll(function() {
            var height = $(window).scrollTop();
            var navPosition = $('.mainTitle').height() + 50;
            if(height > navPosition) {
                $('nav.customers-nav').addClass('nav-fixed');
                $('h1.mainTitle').addClass('customer-spacer');
            } if(height > 0) {
                $('nav.usecase-nav').addClass('nav-fixed');
            } else {
                $('nav.customers-nav').removeClass('nav-fixed');
                $('h1.mainTitle').removeClass('customer-spacer');
                $('nav.usecase-nav').removeClass('nav-fixed');
            }
        });
    });
</script>
<script>
    function dropContent(dropId) {
        var dContent = $('.drop-content#'+dropId);
        var dCard = $('.card-drop#'+dropId);
        var text = $('.drop-content#'+dropId+' > div').height();
        if (dContent.hasClass('opened')) {
            dContent.removeClass('opened');
            dContent.css('height', '0');
            dCard.removeClass('opened');
        } else {
            dContent.addClass('opened');
            dContent.css('height', text);
            dCard.addClass('opened');
        }
    }
</script>

<script>
    jqueryDefer(Owl);

    function Owl() {
        var scriptsList = [
            {src: '/css/owl.carousel.min.css', type: 'css'},
            {src: '/css/owl.theme.default.min.css', type: 'css'},
            {src: '/js/owl.carousel.min.js', type: 'script'}
        ];
        loadNextScript(0, scriptsList,
            function() {
                $(document).ready(function(){
                    $('.owl-carousel').owlCarousel({
                        items:1,
                        margin:10,
                        autoHeight:true,
                        loop:true,
                        autoplay:true,
                        autoplayTimeout:5000,
                        autoplayHoverPause:true
                    });
                });
            }
        );
    }
</script>
</body>
</html>