{% for thistoc in site.data.globals.tocs %}{% if foundTOC %}{% break %}{% else %}{% assign tree = site.data[thistoc].toc %}{% include tocsearch.html %}{% endif %}{% endfor %}
{% for override in site.data.overrides.overrides %}{% if page.path contains override.path %}{% assign notitle = "true" %}{% endif %}{% endfor %}
<!Doctype html>
<html id="docs" class="{{site.data[foundTOC].bigheader}}">

{% include head-header.html %}

<!--  HERO  -->
<section id="hero" class="light-text">
  <h1>{{ site.data[foundTOC].bigheader }}</h1>
  <h5>{{ site.data[foundTOC].abstract }}</h5>
  <div id="vendorStrip" class="light-text">
    <div id="docsList">
        <ul>
          <li><a href="/docs/" {% if site.data[foundTOC].bigheader == "Thingsboard Documentation" %}class="YAH"{% endif %}>DOCS HOME</a></li>
          <li><a href="/docs/api/" {% if site.data[foundTOC].bigheader == "Thingsboard API reference" %}class="YAH"{% endif %}>API</a></li>
          <li><a href="/docs/iot-gateway/" {% if site.data[foundTOC].bigheader == "Thingsboard IoT Gateway" %}class="YAH"{% endif %}>IOT GATEWAY</a></li>
          <li><a href="/docs/reference/" {% if site.data[foundTOC].bigheader == "Reference Documentation" %}class="YAH"{% endif %}>REFERENCE</a></li>
          <li><a href="/docs/samples/" {% if site.data[foundTOC].bigheader == "Samples" %}class="YAH"{% endif %}>SAMPLES</a></li>
          <li><a href="/iot-use-cases/" {% if site.data[foundTOC].bigheader == "Use cases" %}class="YAH"{% endif %}>USE CASES</a></li>
          <li><a href="/docs/iot-video-tutorials/" {% if site.data[foundTOC].bigheader == "Video Tutorials" %}class="YAH"{% endif %}>VIDEO TUTORIALS</a></li>
          <li><a href="/docs/faq/" {% if site.data[foundTOC].bigheader == "Frequently Asked Questions" %}class="YAH"{% endif %}>FAQ</a></li>
          <li><a href="/docs/services/" {% if site.data[foundTOC].bigheader == "Services" %}class="YAH"{% endif %}>SERVICES</a></li>
          <li><a href="/docs/contact-us/" {% if site.data[foundTOC].bigheader == "Contact us" %}class="YAH"{% endif %}>CONTACT US</a></li>
        </ul>
    </div>
    <div id="searchBox">
      <input type="text" id="search" placeholder="Search" onkeydown="if (event.keyCode==13) window.location.replace('/docs/search/?q=' + this.value)">
    </div>
  </div>
</section>

{% assign docContentClassList='' %}
{% if site.data[foundTOC].hidetoc == "true" or page.hidetoc == "true" %}
{% assign docContentClassList = docContentClassList | append: 'noToc' %}
{% endif %}
{% if page.horizontaltoc == "true" %}
{% assign docContentClassList = docContentClassList | append: ' horizontalToc' %}
{% endif %}

<section id="encyclopedia">
  {% if site.data[foundTOC].hidetoc != "true" and page.hidetoc != "true" %}
  <div id="docsToc" {% if page.horizontaltoc == "true" %} class="horizontal" {% endif %}>
        <div class="pi-accordion">
        {% assign tree = site.data[foundTOC].toc %}{% include tree.html %}
        </div> <!-- /pi-accordion -->
    <button class="push-menu-close-button" onclick="tb.toggleToc()"></button>
  </div> <!-- /docsToc -->
  {% endif %}
  <div id="docsContent" class="{{ docContentClassList }}">
    {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
    {{ content }}
  </div>
</section>

{% include footer.html %}

{% if site.data[foundTOC].hidetoc != "true" and page.hidetoc != "true" %}
<button class="flyout-button" onclick="tb.toggleToc()"></button>
{% endif %}

<style>
  .cse .gsc-control-cse, .gsc-control-cse {
    padding: 0;
  }
  .gsc-control-cse table, .gsc-control-cse-en table {
    margin:0px !important;
  }
  .gsc-above-wrapper-area {
    border-bottom: 0;
  }
</style>
</body>
</html>
