{% for thistoc in site.data.globals.tocs %}{% if foundTOC %}{% break %}{% else %}{% assign tree = site.data[thistoc].toc %}{% include tocsearch.html %}{% endif %}{% endfor %}
{% for override in site.data.overrides.overrides %}{% if page.path contains override.path %}{% assign notitle = "true" %}{% endif %}{% endfor %}
<!Doctype html>
<html id="docs" class="{{site.data[foundTOC].bigheader}}">

{% include head-header.html %}

<!--  HERO  -->
<section id="hero" class="light-text">
  <h1>{{ site.data[foundTOC].bigheader }}</h1>
  <h5>{{ site.data[foundTOC].abstract }}</h5>
  <div id="vendorStrip" class="light-text">
    <div id="docsList">
        <ul>
          <li><a href="/docs/" {% if site.data[foundTOC].bigheader == "Thingsboard Documentation" %}class="YAH"{% endif %}>DOCS HOME</a></li>
          <li><a href="/docs/user-guide/" {% if site.data[foundTOC].bigheader == "Guides" %}class="YAH"{% endif %}>GUIDES</a></li>
          <li><a href="/docs/iot-gateway/" {% if site.data[foundTOC].bigheader == "IoT Gateway" %}class="YAH"{% endif %}>IOT GATEWAY</a></li>
          <li><a href="/docs/reference/" {% if site.data[foundTOC].bigheader == "Reference Documentation" %}class="YAH"{% endif %}>REFERENCE</a></li>
          <li><a href="/docs/samples/" {% if site.data[foundTOC].bigheader == "Samples" %}class="YAH"{% endif %}>SAMPLES</a></li>
          <li><a href="/docs/iot-video-tutorials/" {% if site.data[foundTOC].bigheader == "Video Tutorials" %}class="YAH"{% endif %}>VIDEO TUTORIALS</a></li>
          <li><a href="/docs/faq/" {% if site.data[foundTOC].bigheader == "Frequently Asked Questions" %}class="YAH"{% endif %}>FAQ</a></li>
          <li><a href="/docs/services/" {% if site.data[foundTOC].bigheader == "Services" %}class="YAH"{% endif %}>SERVICES</a></li>
          <li><a href="/docs/contact-us/" {% if site.data[foundTOC].bigheader == "Contact us" %}class="YAH"{% endif %}>CONTACT US</a></li>
        </ul>
    </div>
    <div id="searchBox">
      <input type="text" id="search" placeholder="Search" onkeydown="if (event.keyCode==13) window.location.replace('/docs/search/?q=' + this.value)">
    </div>
  </div>
</section>

<section id="encyclopedia">
  <div id="docsToc">
        <div class="pi-accordion">
        {% if site.data[foundTOC].bigheader != "Thingsboard Documentation" and site.data[foundTOC].hidetoc != "true" %}
        {% assign tree = site.data[foundTOC].toc %}{% include tree.html %}
        {% endif %}
        </div> <!-- /pi-accordion -->
    <button class="push-menu-close-button" onclick="tb.toggleToc()"></button>
  </div> <!-- /docsToc -->
  <div id="docsContent">
        <!--p><a href="/editdocs#{{ page.path }}" id="editPageButton">Edit This Page</a></p-->
      {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
    {{ content }}
        {% if page.url != "/404.html" and page.url != "/docs/search/" %}
      <div id="docsActions">
          <div id="pd_rating_holder_8483911"></div>
          <script type="text/javascript">
              PDRTJS_settings_8483911 = {
                  "id" : "8483911",
                  "unique_id" : "{{page.url}}",
                  "title" : "{{title}}",
                  "permalink" : "http://thingsboard.io{{page.url}}"
              };
              (function(d,c,j){if(!document.getElementById(j)){var pd=d.createElement(c),s;pd.id=j;pd.src=('https:'==document.location.protocol)?'https://polldaddy.com/js/rating/rating.js':'http://i0.poll.fm/js/rating/rating.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd,s);}}(document,'script','pd-rating-js'));
          </script>
          <!--<div id="editPageBtns">-->
            <!--<a href="" onclick="window.open('https://github.com/thingsboard/thingsboard.github.io/issues/new?title=Issue%20with%20' +-->
            <!--window.location.pathname)" class="button">Create Issue</a>-->
            <!--<a href="/editdocs#{{ page.path }}" class="button issue">Edit This Page</a>-->
          <!--</div>-->
      </div>
	{% endif %}
	</div>
</section>

{% include footer.html %}

<button class="flyout-button" onclick="tb.toggleToc()"></button>

<style>
  .cse .gsc-control-cse, .gsc-control-cse, {
    padding: 0;
  }
  .gsc-control-cse table, .gsc-control-cse-en table {
    margin:0px !important;
  }
  .gsc-above-wrapper-area {
    border-bottom: 0;
  }
</style>
</body>
</html>
