{% for thistoc in site.data.globals.tocs %}{% if foundTOC %}{% break %}{% else %}{% assign tree = site.data[thistoc].toc %}{% include tocsearch.html %}{% endif %}{% endfor %}
{% for override in site.data.overrides.overrides %}{% if page.path contains override.path %}{% assign notitle = "true" %}{% endif %}{% endfor %}
{% if site.data[foundTOC].notitle == "true" or page.notitle == "true" %}{% assign notitle = "true" %}{% endif %}

<!Doctype html>
<html id="docs" class="{{site.data[foundTOC].bigheader}}">

{% include head-header.html %}
<!--  HERO  -->
<section id="hero" class="light-text">
  <div id="hero-content">
    <h1>{{ site.data[foundTOC].bigheader }}</h1>
    <h5>{{ site.data[foundTOC].abstract }}</h5>
    <!--h5>{{ site.data[foundTOC].abstract }} Open <a style="font-weight: 500; color: #50b1ff;" href="http://v14.thingsboard.io/docs">documentation</a> for releases before 2.0</h5-->
    <!--<h5>-->
      <!--<div id="pe-docs-banner">-->
        <!--<img src="/images/new-icon-blue.svg"/>-->
        <!--<div><a class="pe-link" href="/products/thingsboard-pe/">ThingsBoard Professional Edition</a> with White-labeling and Platform Integrations <a class="pe-learn-more" href="/products/thingsboard-pe/">Learn More</a></div>-->
      <!--</div>-->
    <!--</h5>-->
    <div id="vendorStrip" class="light-text">
      <div id="docsList">
          <ul>
            <li><a href="/docs/getting-started/" {% if site.data[foundTOC].bigheader == "Getting Started" %}class="YAH"{% endif %}>Getting Started</a></li>
            <li><a href="/docs/" {% if site.data[foundTOC].bigheader == "ThingsBoard Documentation" %}class="YAH"{% endif %}>Documentation</a></li>
            <li><a href="/docs/guides/" {% if site.data[foundTOC].bigheader == "Guides" %}class="YAH"{% endif %}>Guides</a></li>
            <li><a href="/docs/installation/" {% if site.data[foundTOC].bigheader == "Installation" %}class="YAH"{% endif %}>Installation</a></li>
            <li><a href="/docs/reference/" {% if site.data[foundTOC].bigheader == "Architecture" %}class="YAH"{% endif %}>Architecture</a></li>
            <li><a href="/docs/api/" {% if site.data[foundTOC].bigheader == "ThingsBoard API reference" %}class="YAH"{% endif %}>API</a></li>
            <li><a href="/docs/faq/" {% if site.data[foundTOC].bigheader == "Frequently Asked Questions" %}class="YAH"{% endif %}>FAQ</a></li>
            <li><a href="/docs/contact-us/" {% if site.data[foundTOC].bigheader == "Contact us" %}class="YAH"{% endif %}>Contact us</a></li>
          </ul>
      </div>
      <div id="searchBox">
        <input type="text" id="search" placeholder="Search" onkeydown="if (event.keyCode==13) window.location.replace('/docs/search/?q=' + this.value)">
      </div>
    </div>
  </div>
</section>

{% assign docContentClassList='' %}
{% if site.data[foundTOC].hidetoc == "true" or page.hidetoc == "true" %}
{% assign docContentClassList = docContentClassList | append: 'noToc' %}
{% endif %}
{% if page.horizontaltoc == "true" %}
{% assign docContentClassList = docContentClassList | append: ' horizontalToc' %}
{% endif %}

<section id="encyclopedia">
  {% if site.data[foundTOC].hidetoc != "true" and page.hidetoc != "true" %}
  <div id="docsToc" {% if page.horizontaltoc == "true" %} class="horizontal" {% endif %}>
        <div class="pi-accordion">
        {% assign tree = site.data[foundTOC].toc %}{% include tree.html %}
        </div> <!-- /pi-accordion -->
    <button class="push-menu-close-button" onclick="tb.toggleToc()"></button>
  </div> <!-- /docsToc -->
  {% endif %}
  <div id="docsContent" class="{{ docContentClassList }}">
    {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
    {{ content }}
  </div>
</section>

{% include footer.html %}

{% if site.data[foundTOC].hidetoc != "true" and page.hidetoc != "true" %}
<button class="flyout-button" onclick="tb.toggleToc()"></button>
{% endif %}

<style>
  .cse .gsc-control-cse, .gsc-control-cse {
    padding: 0;
  }
  .gsc-control-cse table, .gsc-control-cse-en table {
    margin:0px !important;
  }
  .gsc-above-wrapper-area {
    border-bottom: 0;
  }
</style>
{% if page.content contains ".copy-code" %}
<script>
    jqueryDefer(function () {
        var allCodeBlocksElements = $( ".copy-code" );
        allCodeBlocksElements.each(function(i) {
            var currentId = "codeblock" + (i + 1);
            var block = $(this).find('pre.highlight > code');
            block.attr('id', currentId);
            var clipButton = $('<button class="clipboard-btn" data-clipboard-target="#' + currentId + '"><img src="https://clipboardjs.com/assets/images/clippy.svg" alt="Copy to clipboard"></button>');
            $(this).append(clipButton);
            clipButton.on('mouseleave', clearTooltip);
            clipButton.on('blur', clearTooltip);
        });
        var clipboard = new Clipboard('.clipboard-btn');
        clipboard.on('success', function(e) {
            e.clearSelection();
            showTooltip(e.trigger, 'Copied!');
        });

        function clearTooltip(e) {
            var el = $(e.currentTarget);
            el.removeClass('tooltipped tooltipped-s');
            el.attr('aria-label', null);
        }

        function showTooltip(elem, msg) {
            var el = $(elem);
            el.addClass('tooltipped tooltipped-s');
            el.attr('aria-label', msg);
        }

    });
</script>
{% endif %}
</body>
</html>
