<!Doctype html>
<html id="hardware-partner" lang="en">

{% assign partner = site.data.hardware-partners | where: "name", page.hardware-partner | first %}

{% assign customTitle = partner.name | append: " | ThingsBoard Hardware Partner" %}

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="hardware-partner-content">
    <div class="breadcrumbs">
        <a href="/partners/hardware">Hardware partners</a>
        <i class="fas fa-chevron-right fa-sm" style="color: rgba(0, 0, 0, 0.76)"></i>
        <span>{{ partner.name }}</span>
    </div>
    <div class="hardware-partner-main">
        {% include hardware-partner.liquid partner=partner %}
    </div>
    <div class="hardware-banner">
        <h2>
            Want to become ThingsBoard Hardware Partner?
        </h2>
        <a href="/partners/hardware/program/">Apply for program</a>
    </div>
</section>

{% include footer.html %}

{% include cookie-consent.html %}

</body>
</html>
