{% if page.notitle == "true" %}{% assign notitle = "true" %}{% endif %}

<!Doctype html>
<html id="iot-article">

{% include head-header.html %}

<div class="iot-article-content">
    {{ content }}
</div>

{% include footer.html %}

<script type="text/javascript">
    function validateContactForm(form) {
        var name = $('input[name=name]', form).val();
        var email = $('input[name=email]', form).val();

        if (!validateValue('Name', name)) {
            return false;
        }
        if (!validateValue('Email Address', email)) {
            return false;
        }

        var emailExp = /^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        if(email.match(emailExp)==null) {
            window.alert("Entered Email Address is not valid.");
            return false; 
        }
    }

    function validateValue(name, val) {
        if (isEmpty(val)) {
            window.alert("Please fill '" + name + "' field.");
            return false;
        }
        return true;
    }

    function isEmpty(val) {
        return val === undefined || val === null || val.trim().length == 0;
    }

    jqueryDefer(
        function () {
            $( document ).ready(function() {
                var $contactForm = jQuery('.readyToLaunchForm');
                $contactForm.attr('action', 'https://formspree.io/f/xbjvbeln');
               /*  $('html, body').animate({
                            scrollTop: $('#contact-form').offset().top - 200
                          }, 0);*/
                 $contactForm.find('.form-element .form-control').addClass("input--empty");
                 $contactForm.find('.form-element .form-control').on('input', function() {
                      if( !$(this).val() ) {
                         $(this).addClass("input--empty");
                      } else {
                         $(this).removeClass("input--empty");
                      }
                 });

                 $.urlParam = function (name) {
                     var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                     return results ? results[1] : null;
                 };
                 var subjectValue = $.urlParam('subject');
                 if (subjectValue != undefined && subjectValue.trim().length > 0) {
                    $contactForm.find('select[name=subject]').val(decodeURIComponent(subjectValue));
                    $contactForm.find('select[name=subject]').removeClass("input--empty");
                 }
            });
        }
    );
</script>

</html>