<!Doctype html>
<html id="page-with-filter" lang="en">

{% include head-header.html%}

<section id="page-with-filter-content">
    <div class="hero-content">
        <div class="hero-content-wrapper">
            {{content}}
        </div>
    </div>
    <div class="search-block">
        <div class="search-block-wrapper">
            <div class="search-crisps">
                <div class="search-crisps-clear-btn">
                    Clear All
                    <span class="search-crisps-clear-btn-close">×</span>
                </div>
                <div class="search-crisps-toggle-btn" style="display: none;">
                    <span class="toggle-label">Hide</span>
                    <i class="fas fa-chevron-up" style="color: #2A7DEC"></i>
                </div>
            </div>
            <input type="text" id="searchGuideInput" placeholder="Find..." />
        </div>
    </div>
    <div class="main-content">
        <div class="content-block">
            <div class="filter-block">
                {% include big-filter.liquid %}
            </div>
            <div class="cards-block">
                {% include cards-collection.liquid %}
            </div>
            <div class="pagination-block">
                {% if page.pagination == "true" %}
                {% include pagination.html %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script>

</script>
{% include cookie-consent.html %}

</body>
</html>
