<!Doctype html>
<html id="pricing">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="pricingContent" class="noToc">
        {{ content }}
    </div>
</section>

{% include footer.html %}

<script type="text/javascript">
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1017142', 'w0j5m5g7f5', 'load');

    inViewportDefer(function() {
        $("#pe-aws-pricing table th:not(:first-child), " +
            "#pe-aws-pricing table td:not(:first-child)").inViewport(function(px){
            if(px >= 20) {
                $(this).addClass("animated flipInY");
                return true;
            }
        });
    });

    jqueryDefer(function () {
        $('.solution-selector .solution').click(function(event) {
            event.preventDefault();
            var id = $(this).attr("data-toggle");
            var headerId = $(this).attr("data-description-toggle");
            $('.solution-selector .solution').removeClass("active");
            $(this).addClass("active");
            $('.pricing-div .pricing-section:not(.pricing-community):not(.pricing-cloud)').removeClass("active");
            $('.pricing-div .pricing-section'+id).addClass("active");
            $('.pricing-content-header .pricing-content-description:not(.pricing-cloud)').removeClass("active");
            $('.pricing-content-header .pricing-content-description'+headerId).addClass("active");
        });

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results ? results[1] : null;
        };

        var activeTab = $.urlParam('active');
        if (activeTab && activeTab === 'trendz') {
            activatePricingSection('trendz');
        } else {
            activatePricingSection('{{page.defaultActivePricingSection}}', {{page.defaultActivateSelectProduct}});
        }
    });

    function activatePricingSection(sectionId, activateSelectProduct) {
        $("li.menu-item").removeClass("active");
        $("li.menu-item#menu-item-"+sectionId).addClass("active");
        $("div.pricing-content").css("display", "none");
        if (activateSelectProduct) {
            $("div.select-product-content#" + sectionId).css("display", "flex");
            $('div.pricing-header-divider').addClass("no-margin");
            $('#' + sectionId + ' .product-selector .solution.defaultselection').click();
        } else {
            $("div.select-product-content").css("display", "none");
            $('div.pricing-header-divider').removeClass("no-margin");
            $("div.pricing-content#" + sectionId).css("display", "block");
            $('#' + sectionId + ' .solution-selector .solution.defaultselection').click();
        }

        if(sectionId) {
            reportPriceOpen(sectionId);
        }
    }

    function activateProductSection(sectionId) {
        $('.product-selector .solution').removeClass("active");
        $('.product-selector .solution.'+sectionId).addClass("active");

        $("div.pricing-content").css("display", "none");
        $("div.pricing-content#"+sectionId).css("display", "block");

        $('#' + sectionId + ' .solution-selector .solution.defaultselection').click();
        if(sectionId) {
            reportPriceOpen(sectionId);
        }
    }

    function getLicense(event, isPerpetual, productId, planId, productName, coupon, showConfirmDialog) {
        event.preventDefault();
        var e = $(event.target);
        var url = "https://license.thingsboard.io/signup?createSubscription=true&perpetual=";
        if (isPerpetual) {
            url += "true";
        } else {
            url += "false";
        }
        url += "&productId="+productId;
        url += "&planId="+planId;
        if (coupon) {
            url += "&coupon="+coupon;
        }

        if(showConfirmDialog) {
            openTrendzConfirmDialog(url, productName + '/' + productId);
        } else {
            reportPriceLink(url, productName + '/' + productId);
            window.open(url, "_blank");
        }
    }

    function openTrendzConfirmDialog(url, product) {
        var dialogTemplate = "<ul class='trndz_dialog_list'>\n" +
            "<li>You won't be charged until after your free month.</li>\n" +
            "<li>We'll remind you three days before your trial ends.</li>\n" +
            "<li>Cancel anytime.</li>\n" +
            "</ul>";

        swal({
            title: "Set up your Trendz License",
            html: true,
            text: dialogTemplate,
            allowOutsideClick: true,
            cancelButtonText: "Cancel",
            showCancelButton: true,
            confirmButtonText: "Proceed to License Portal",
            confirmButtonColor: '#506dad',
            customClass: 'trndz-swal-license'
        }, function(isConfirm) {
            if (isConfirm) {
                reportPriceLink(url, product);
                window.open(url, "_blank");
            }
        });
    }

    function reportPriceLink(link, product) {
        if (!ga.hasOwnProperty("loaded") || ga.loaded !== true || !link || !product) {
            return;
        }
        ga("send", "event", "PriceLink", product, link);
    }

    function reportPriceOpen(solutionId) {
        if (!ga.hasOwnProperty("loaded") || ga.loaded !== true || !solutionId) {
            return;
        }
        ga("send", "event", "PriceOpen", solutionId);
    }

</script>

</body>
</html>
