<!Doctype html>
<html id="pricing">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="pricingContent" class="noToc">
        {{ content }}
    </div>
</section>

{% include footer.html %}

<script type="text/javascript">
    (function(m,a,i,l,e,r){ m['MailerLiteObject']=e;function f(){
        var c={ a:arguments,q:[]};var r=this.push(c);return "number"!=typeof r?r:f.bind(c.q);}
        f.q=f.q||[];m[e]=m[e]||f.bind(f.q);m[e].q=m[e].q||f.q;r=a.createElement(i);
        var _=a.getElementsByTagName(i)[0];r.async=1;r.src=l+'?v'+(~~(new Date().getTime()/1000000));
        _.parentNode.insertBefore(r,_);})(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

    var ml_account = ml('accounts', '1017142', 'w0j5m5g7f5', 'load');

    inViewportDefer(function() {
        $("#pe-aws-pricing table th:not(:first-child), " +
            "#pe-aws-pricing table td:not(:first-child)").inViewport(function(px){
            if(px >= 20) {
                $(this).addClass("animated flipInY");
                return true;
            }
        });
    });

    jqueryDefer(function () {
        $('.solution-selector .solution').click(function(event) {
            event.preventDefault();
            var id = $(this).attr("data-toggle");
            $(this).find(".magic-radio").prop("checked", true);
            $('.solution-selector .solution').removeClass("active");
            $(this).addClass("active");
            $('.pricing-div .pricing-section:not(.pricing-community)').removeClass("active");
            $('.pricing-div .pricing-section'+id).addClass("active");
        });

        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results ? results[1] : null;
        };

        var activeTab = $.urlParam('active');
        if (activeTab && activeTab === 'trendz') {
            activatePricingSection('trendz');
        } else {
            activatePricingSection('thingsboard-pe');
        }
    });

    function activatePricingSection(sectionId) {
        $("li.menu-item").removeClass("active");
        $("li.menu-item#menu-item-"+sectionId).addClass("active");
        $("section.pricing-content").css("display", "none");
        $("section.pricing-content#"+sectionId).css("display", "block");

        if(sectionId) {
            reportPriceOpen(sectionId);
        }
    }

    function getLicense(event, isPerpetual, productId, planId, productName, coupon) {
        event.preventDefault();
        var e = $(event.target);
        var url = "https://license.thingsboard.io/signup?createSubscription=true&perpetual=";
        if (isPerpetual) {
            url += "true";
        } else {
            url += "false";
        }
        url += "&productId="+productId;
        url += "&planId="+planId;
        if (coupon) {
            url += "&coupon="+coupon;
        }

        reportPriceLink(url, productName + '/' + productId);
        window.open(url, "_blank");
    }

    function reportPriceLink(link, product) {
        if (!ga.hasOwnProperty("loaded") || ga.loaded !== true || !link || !product) {
            return;
        }
        ga("send", "event", "PriceLink", product, link);
    }

    function reportPriceOpen(solutionId) {
        if (!ga.hasOwnProperty("loaded") || ga.loaded !== true || !solutionId) {
            return;
        }
        ga("send", "event", "PriceOpen", solutionId);
    }

</script>

</body>
</html>
