<!Doctype html>
<html id="thingsboard-paas">

{% include head-header.html productTag="paas" %}
<!--  HERO  -->
<section id="hero" class="light-text">
    <div class="video-cover"></div>

    <div class="achievement">
        <a href="/blog/top-supplier-retail-2024-2/">
            <img class="achieve" src="https://img.thingsboard.io/feature-logo/top-supplier-retail-2024.webp" alt="Top supplier retail 2024" width="110" height="160">
        </a>
    </div>

    <div id="hero-content">
        <span class="header-animation paas-title">ThingsBoard Cloud</span>
        <div class="header-animation">
            <a id="Products_Cloud_TryItNow" href="/pricing/" class="button try-paas gtm_button">Try it now</a>
        </div>
        <div class="paas-arrow">
            <a href="#intro" aria-hidden="true"><i class="fa fa-chevron-down fa-2x"></i></a>
        </div>
    </div>
</section>

<section id="encyclopedia">
    {% include customers-logo-section.liquid collectionMap = 'customers-logo' productTag="paas" %}
    <div id="paasContent" class="noToc">
        {{ content }}
    </div>
</section>

{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}

	#rule-engine .rule.hidden {
		display: none
	}
</style>

<script>
	var isMobile = window.innerWidth < 768 || /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
	var videoSection = document.querySelector('#hero.light-text');

	if (isMobile) {
		videoSection.setAttribute('style', 'background: center no-repeat url(https://img.thingsboard.io/tb-cover.webp)');
	} else {
		videoSection.setAttribute('data-vide-bg', `mp4: https://video.thingsboard.io/pe-cover.mp4,
                                                    webm: https://video.thingsboard.io/pe-cover.webm,
                                                    ogv: https://video.thingsboard.io/pe-cover.ogv,
                                                    poster: https://img.thingsboard.io/pe-cover.webp`);
		videoSection.setAttribute('data-vide-options', 'bgColor: #000000, loop: true, muted: true, posterType: webp');
	}
</script>

<script type="text/javascript">
    jqueryDefer(function () {
        vis(function() {
            if (vis()) {
                slideUp();
            }
        });
        $('#hero-content > .paas-arrow > a').click(function(event) {
            event.preventDefault();
            var target = $('#encyclopedia');
            $('html, body').animate({
                scrollTop: target.offset().top - 60 //header height
            }, 1000, "easeOutCirc");
        });

    });

    inViewportDefer(function() {
        $("#hero-content").inViewport(function(px){
            if($(this).height()-px >= 60) {
                $(this).addClass("arrow-hidden");
            } else {
                $(this).removeClass("arrow-hidden");
            }
        });
    });

    function slideUp() {
        var headAnimations = $('#hero-content').find('.header-animation');
        for (var i=0;i<headAnimations.length;i++) {
            reinsert($(headAnimations[i]));
        }
    }

    function reinsert(el) {
        var newone = el.clone(true);
        el.before(newone);
        el.remove();
    }

</script>

{% include cookie-consent.html %}

</body>
</html>
