<!Doctype html>
<html id="thingsboard-pe">

{% include head-header.html productTag="pe" %}
<!--  HERO  -->
<section id="hero" class="light-text"
         data-vide-bg="mp4: https://s3-us-west-1.amazonaws.com/tb-videos/pe-cover.mp4,
                       webm: https://s3-us-west-1.amazonaws.com/tb-videos/pe-cover.webm,
                       ogv: https://s3-us-west-1.amazonaws.com/tb-videos/pe-cover.ogv,
                       poster: /video/pe-cover.jpg"
         data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
    <div class="video-cover"></div>
    <div id="hero-content">
        <h1 class="header-animation pe-title">ThingsBoard Professional Edition</h1>
        <div class="header-animation">
            <a href="/pricing/" class="button try-pe">Try it now</a>
        </div>
        <div class="pe-arrow">
            <a href="#docsContent"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</section>

<section id="encyclopedia">
    <div id="peContent" class="noToc">
        {{ content }}
    </div>
</section>

{% include footer.html %}

<!--{% if site.data[foundTOC].hidetoc != "true" and page.hidetoc != "true" %}-->
<!--<button class="flyout-button" onclick="tb.toggleToc()"></button>-->
<!--{% endif %}-->

<script type="text/javascript">
    jqueryDefer(function () {
        vis(function() {
            if (vis()) {
                slideUp();
            }
        });
        $('#hero-content > .pe-arrow > a').click(function(event) {
            event.preventDefault();
            var target = $('#encyclopedia');
            $('html, body').animate({
                scrollTop: target.offset().top - 60 //header height
            }, 1000, "easeOutCirc");
        });

    });

    inViewportDefer(function() {
        $("#hero-content").inViewport(function(px){
            if($(this).height()-px >= 60) {
                $(this).addClass("arrow-hidden");
            } else {
                $(this).removeClass("arrow-hidden");
            }
        });
        $(".pe-features main:nth-child(odd) .image-wrapper, .pe-features main:nth-child(even) .content").inViewport(function(px){
            if(px >= 80) {
                $(this).addClass("animated bounceInRight");
                return true;
            }
        });

        $(".pe-features main:nth-child(even) .image-wrapper, .pe-features main:nth-child(odd) .content").inViewport(function(px){
            if(px >= 80) {
                $(this).addClass("animated bounceInLeft");
                return true;
            }
        });

        $("#feature-comparison table th:nth-child(2), " +
                "#feature-comparison table th:nth-child(4), " +
                "#feature-comparison table td:nth-child(2), " +
                "#feature-comparison table td:nth-child(4)").inViewport(function(px){
            if(px >= 80) {
                $(this).addClass("animated flipInY");
                return true;
            }
        });
        $("#pricing-models-cards main, #peContent .button.try-pe, #pe-customers .customers-container .customer-block").inViewport(function(px){
            if(px >= 80) {
                $(this).addClass("animated zoomIn");
                return true;
            }
        });
    });

    function slideUp() {
        var headAnimations = $('#hero-content').find('.header-animation');
        for (var i=0;i<headAnimations.length;i++) {
            reinsert($(headAnimations[i]));
        }
    }

    function reinsert(el) {
        var newone = el.clone(true);
        el.before(newone);
        el.remove();
    }

</script>

{% include cookie-consent.html %}

</body>
</html>
