<!Doctype html>
<html id="trainings">

{% include head-header.html%}

<section id="hero" class="light-text">
</section>

<div id="trainings-content">
    {{content}}
</div>

{% include footer.html %}

{% include cookie-consent.html %}

<script async type="text/javascript">
    const targetBlock = document.querySelector(".owl-carousel-toggle-content");
    let isVisible = false;

    function updateURLWithCurrentContent() {
        if (!isVisible) return;

        const children = targetBlock.children;
        for (let child of children) {
            if (child.classList.contains("current-content")) {
                const currentId = child.id;

                const url = new URL(window.location);
                url.searchParams.set("course", currentId);
                history.replaceState(null, "", url);
                return;
            }
        }
    }

    function resetURL() {
        const url = new URL(window.location);
        url.searchParams.delete("course");
        history.replaceState(null, "", url);
    }

    const observerVisibility = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                isVisible = true;
                updateURLWithCurrentContent();
            } else {
                if (isVisible) {
                    resetURL();
                    isVisible = false;
                }
            }
        });
    }, { threshold: 0.01 });

    observerVisibility.observe(targetBlock);

    const observerChanges = new MutationObserver(() => {
        updateURLWithCurrentContent();
    });

    observerChanges.observe(targetBlock, {
        childList: true,
        subtree: true,
        attributes: true,
        attributeFilter: ["class"]
    });

    document.addEventListener("DOMContentLoaded", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const courseParam = urlParams.get("course");

        if (courseParam) {
            setTimeout(() => {
                const elementTop = targetBlock.getBoundingClientRect().top + window.scrollY;
                const scrollToPosition = elementTop - 150;
                window.scrollTo({ top: scrollToPosition, behavior: "smooth" });
            }, 100)
        }
    });



</script>

</body>
</html>
