{% if page.notitle == "true" %}{% assign notitle = "true" %}{% endif %}
{% if page.includeAdvantages == "true" %}{% assign includeAdvantages = "true" %}{% endif %}
{% assign cssTag="use-case" %}

<!Doctype html>
<html id="common" class="use-cases" lang="en">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="docsContent" class="noToc">
        {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
        <div id="content">
            {{ content }}
            {% if includeAdvantages == "true" %}{% include tb-advantages.html %}{% endif %}
        </div>
    </div>
</section>
{% if page.contactUsModal == "true" %}
{% include contact-us-modal.html
    formSubject='Custom Development'
    modalTitle='Start building with us today'
    modalDescription='We’ll get back to you within 1–2 business days to discuss your custom project.' %}
{% endif %}

{% include footer.html %}

{% include scroll-progress-button.liquid %}

<script>
    jqueryDefer(
        function () {
            $(document).ready(function () {
                var $contactForm = jQuery('.readyToLaunchForm');
                $contactForm.attr('action', 'https://formspree.io/f/xrbnqnna');
                $contactForm.find('.form-element .form-control').addClass("input--empty");
                $contactForm.find('.form-element .form-control').on('input', function () {
                    if (!$(this).val()) {
                        $(this).addClass("input--empty");
                    } else {
                        $(this).removeClass("input--empty");
                    }
                });

                $.urlParam = function (name) {
                    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                    return results ? results[1] : null;
                };
                var subjectValue = $.urlParam('subject');
                if (subjectValue != undefined && subjectValue.trim().length > 0) {
                    $contactForm.find('select[name=subject]').val(decodeURIComponent(subjectValue));
                    $contactForm.find('select[name=subject]').removeClass("input--empty");
                }
            });
        }
    );
</script>

{% include cookie-consent.html %}

</body>
</html>
