{% if page.notitle == "true" %}{% assign notitle = "true" %}{% endif %}

<!Doctype html>
<html id="common" class="use-cases" lang="en">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="docsContent" class="noToc">
        {% if notitle != "true" %}<h1>{{ title }}</h1>{% endif %}
        <div id="content">
            {{ content }}
        </div>
    </div>
</section>

{% include footer.html %}

<script>
    jqueryDefer(function () {
        $(window).scroll(function() {
            var height = $(window).scrollTop();
            if (height > 0) {
                $('nav.usecase-nav').addClass('nav-fixed');
            } else {
                $('nav.usecase-nav').removeClass('nav-fixed');
            }
        });
    });
</script>

<script>
    jqueryDefer(Owl);

    function Owl() {
        var scriptsList = [
            {src: '/css/owl.carousel.min.css', type: 'css'},
            {src: '/css/owl.theme.default.min.css', type: 'css'},
            {src: '/js/owl.carousel.min.js', type: 'script'}
        ];
        loadNextScript(0, scriptsList,
            function() {
                $(document).ready(function(){
                    $('.owl-carousel').owlCarousel({
                        items:1,
                        margin:50,
                        stagePadding: 0,
                        autoHeight:true,
                        loop:true,
                        autoplay:true,
                        autoplayTimeout:5000,
                        autoplayHoverPause:true,
                        nav:false,
                        responsive: {
                            1025: {
                                nav:true,
                                margin:100,
                                stagePadding: 50,
                            }
                        }
                    });
                });
            }
        );
    }
    jqueryDefer(
        function () {
            $(document).ready(function () {
                var $contactForm = jQuery('.readyToLaunchForm');
                $contactForm.attr('action', 'https://formspree.io/f/xbjvbeln');
                $contactForm.find('.form-element .form-control').addClass("input--empty");
                $contactForm.find('.form-element .form-control').on('input', function () {
                    if (!$(this).val()) {
                        $(this).addClass("input--empty");
                    } else {
                        $(this).removeClass("input--empty");
                    }
                });

                $.urlParam = function (name) {
                    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                    return results ? results[1] : null;
                };
                var subjectValue = $.urlParam('subject');
                if (subjectValue != undefined && subjectValue.trim().length > 0) {
                    $contactForm.find('select[name=subject]').val(decodeURIComponent(subjectValue));
                    $contactForm.find('select[name=subject]').removeClass("input--empty");
                }
            });
        }
    );
</script>

{% include cookie-consent.html %}

</body>
</html>
