#mqtt-broker
  section
    background: none
  &:not(.open-nav):not(.flip-nav)
    header
      &::after
        opacity: 0
  #hero
    height: 100vh
    padding-top: 0
    position: relative
    overflow: hidden
    background: none
    div:nth-child(1)
      background-image: url(https://img.thingsboard.io/tbmq-cover.webp) !important
    .video-cover
      position: absolute
      z-index: -2
      top: 0
      left: 0
      bottom: 0
      right: 0
      overflow: hidden
      background-size: cover
      background-color: #000
      background-repeat: no-repeat
      background-position: 50% 50%
      background-image: url(https://img.thingsboard.io/tbmq-cover.webp)
    #hero-content
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-content: center
      background-color: rgba(0,0,0,0.72)
      flex-wrap: wrap
      .tbmq-title
        font-size: 22px
        line-height: 40px
        text-shadow: 0 0 18px rgba(0,0,0,.66)
      .tbmq-description
        margin-bottom: 32px
        margin-top: 32px
        font-size: 14px
        line-height: 24px
        text-shadow: 0 0 18px rgba(0,0,0,.66)
        max-width: 80%
      .action
        line-height: 24px
        font-size: 18px
        font-weight: 500
        padding: 10px 20px 10px 20px
        border: 2px solid #fff
        background-color: transparent
        transition: 0.6s
        &:hover
          background-color: #fff
          color: #1F8B4D
        &:first-child
          margin-right: 8px
      .paas-arrow
        position: fixed
        bottom: 40px
        left: 0
        right: 0
        margin: auto
        width: 40px
        height: 40px
        opacity: 1
        z-index: 24
        color: #fff
        a
          color: #fff
      &.arrow-hidden
        .paas-arrow
          display: none

  #tbmqContent
    width: 100%
    color: #212924

    h1
      font-weight: 600
      text-align: center
      font-size: 32px
      line-height: 52px
      a
        font-weight: 600
        font-size: 32px
    h2
      font-weight: 600
      line-height: 54px
      font-size: 42px
      text-align: center
    h3.item-heading
      font-weight: 500
      line-height: 54px
      font-size: 36px
    h3:not(.item-heading)
      font-size: 28px
      font-weight: 500
    h4
      font-size: 24px
      font-weight: 500
    p
      color: #757C76
      font-size: 16px
      font-weight: normal
      line-height: 28px
    a
      color: #1F8B4D
      font-weight: 500

    .arrow-top-right
      color: #fff
      position: relative
      &::after
        content: ''
        display: block
        height: 18px
        width: 18px
        background-image: url('/images/mqtt-broker/product/arrow-right.svg')
        background-repeat: no-repeat
        position: absolute
        top: 50%
        transform: translateY(-50%) rotate(-45deg)
        transition: 0.3s
        right: 22px
        filter: brightness(0) saturate(100%) invert(97%) sepia(63%) saturate(13%) hue-rotate(226deg) brightness(102%) contrast(100%)

    .pe-only-banner
      position: absolute
      margin-left: 12px
      padding: 4px 8px
      font-size: 12px
      font-weight: 500
      line-height: 20px
      border-radius: 6px
      color: #FFF
      width: 61px
      height: 28px
      background: #1F8B4D
      border: 1px solid #1A7340
    #top-features
      h2
        text-align: center
        font-size: 36px
        font-weight: 500
        padding-bottom: 40px
        padding-top: 20px
      #cards
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: center
        &>div
          margin-bottom: 36px
          &.col-lg-6
            box-shadow: 0 7px 32px 0 rgba(0, 0, 0, 0.08)
            border-radius: 24px
          .block
            padding: 46px
            text-align: left
            float: left
            width: 100%
            height: 100%
            background: #fff
            border-radius: 24px
            display: unset
            div
              width: 100%
              .title
                margin-bottom: 6px
                margin-top: 6px
                line-height: 33px
              p
                margin-top: 10px
                text-align: justify
            img
              border: 1px solid #1F8B4D
              border-radius: 24px
              padding: 16px

    #scenarios
      margin-bottom: 50px
      .scenarios-header
        padding-top: 50px
      .block
        display: flex
        flex-direction: column
        gap: 20px
        justify-content: center
        align-items: stretch
        .scenarios-title
          flex: 1
          width: 100%
          h2
            font-size: 42px
            color: #fff
        .scenarios-details
          width: 100%
          flex: 1
          padding-bottom: 24px
          p
            font-size: 18px
            color: rgba(255, 255, 255, 0.8)
        .reverse-img
          order: 1
        .image-container
          flex: 3
          img
            width: 100%
        .description
          flex: 2
          padding: 24px
          border-radius: 12px
          background: #fff
          text-align: justify
          span
            font-size: 16px
            line-height: 28px
            color: rgba(0, 0, 0, 0.54)
            font-weight: 400
            letter-spacing: 0.15px
        .scenario-title
          margin-bottom: 12px
          a
            font-size: 28px
            font-weight: 500
            color: #1F8B4D
          h3
            line-height: 52px !important
          p
            font-size: 18px
            font-weight: 500
            display: block

    #middle-features
      margin-bottom: 24px
      main
        .middle-features-title
          font-weight: 500
          line-height: 44px
          font-size: 28px
          text-align: center
        padding-top: 100px
        display: flex
        flex-direction: column
        gap: 40px
        .row
          display: flex
          flex-direction: column
          align-items: center
          justify-content: space-between
          gap: 24px
          padding-top: 20px
          .image-container
            flex: 2 !important
          .col-lg-6
            flex: 1
            order: 2
            .block
              h4, h3
                display: inline-flex
                width: max-content
                font-size: 28px
                padding-bottom: 20px
                line-height: 44px
                font-weight: 500
              p
                font-size: 16px
                text-align: justify
                padding-bottom: 30px
              img
                width: 100%
                &.shadow
                  border-radius: 12px
                  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12)
              a.read-more-button
                position: relative
                transition-duration: 0.3s
                outline: none
                font-size: 18px
                line-height: 30xp
                .arrow
                  transform: translate(0px)
                  transition-duration: 0.3s
                  filter: invert(38%) sepia(52%) saturate(993%) hue-rotate(131deg) brightness(103%) contrast(101%)
                  box-shadow: none !important
                  width: 12px !important
                  margin-left: 12px
                  position: absolute
                  top: 7px
                  &.first
                    opacity: 0.2
                  &.second
                    opacity: 0.5
                &:hover
                  transition-duration: 0.3s
                  .first
                    transform: translate(10px)
                  .second
                    transform: translate(20px)
                  .third
                    transform: translate(30px)

    #installation-options
      margin-bottom: 24px
      main
        h2
          padding-top: 100px
          text-align: center
          font-size: 36px
          font-weight: 500
          padding-bottom: 40px
        .row
          display: flex
          align-items: center
          justify-content: space-between
          gap: 10px
          padding-top: 40px
          .installation-options-img
            margin-top: 40px
            flex: 1
            .options
              display: flex
              flex-direction: row
              flex-wrap: nowrap
              justify-content: center
              gap: 40px
          .col-lg-6
            &:first-child
              flex: 2 !important
            .block
              display: flex
              flex-direction: column
              gap: 24px
              h3
                line-height: 60px
                font-size: 28px
                text-align: left
                font-weight: 500
              p
                font-size: 18px
                text-align: justify
              a
                width: 196px
                line-height: 40px
                padding: 3px 24px 3px 24px
                border-radius: 8px
                border: 1px solid rgba(0, 0, 0, 0.12)
                background-color: #1F8B4D !important
                color: #fff
                transition: 0.6s
                &:hover
                  background-color: rgba(0,0,0,.12)
                .button
                  background: #1F8B4D !important
              .installation-options-buttons
                display: flex
                gap: 32px
    #comparison-features
      .comparison-table
        padding: 100px
        h2
          font-size: 36px
          font-weight: 500
          line-height: 48px
          color: #202020
          margin-bottom: 32px
          @media (max-width: 900px)
            font-size: 28px
            line-height: 44px
        .header
          display: flex
          justify-content: space-between
          align-items: center
          background-color: white
          border-radius: 4px
          height: 84px
          margin-bottom: 4px
          p
            flex: 1
            font-size: 24px
            font-weight: 500
            line-height: 36px
            text-align: center
            &:first-child
              color: #3B3C3C
              text-align: left
              padding-left: 20px
            &:nth-child(2)
              color: #0D417B
            &:nth-child(3)
              color: #1F8B4D
            span:last-child
              display: none
            @media (max-width: 900px)
              &:nth-child(1)
                margin-left: 20px
                text-align: left
              &:nth-child(2)
                flex: 0.3
              &:nth-child(3)
                flex: 0.3
              span:first-child
                display: none
              span:last-child
                display: inline-block
            @media (max-width: 500px)
              &:nth-child(2)
                flex: 0.2
              &:nth-child(3)
                flex: 0.2
        .block
          padding: 4px
          background-color: white
          border-radius: 4px
          margin-bottom: 4px
          .comparison-row
            @media (max-width: 900px)
              padding-right: 0
            display: flex
            justify-content: space-between
            align-items: center
            padding: 12px 20px
            max-height: 50px
            border-bottom: 2px solid #E0E0E0
            text-decoration-color: #212121
            position: relative
            &:not(:first-child)
              &:hover
                &:before
                  content: ""
                  height: 44px
                  display: block
                  border: 1px solid #00695C
                  position: absolute
                  left: 0
                background-color: #F9F9F9
                p
                  font-size: 15px
                  line-height: 28px
                div
                  &.hidden-space
                    visibility: hidden
                  img
                    width: 24px
            &:first-child
              background-color: #F5F9F8
              border-bottom: none
              p
                flex: 1
                font-size: 18px
                font-weight: 500
                line-height: 30px
                color: #3B3C3C
            &:last-child
              border-bottom: none
              max-height: 48px
              p:nth-child(2)
                text-align: center
                a
                  color: #0D417B
              p:nth-child(3)
                text-align: center
                a
                  color: #1F8B4D
            p
              flex: 1
              font-size: 14px
              font-weight: 400
              line-height: 24px
              color: #212121
              transition: font-size .3s
              @media (max-width: 500px)
                font-size: 12px
            div
              text-align: center
              flex: 1
              @media (max-width: 900px)
                flex: 0.3
              @media (max-width: 500px)
                flex: 0.17
          &:last-child
            .comparison-row:last-child
              @media (max-width: 500px)
                p
                  font-size: 11px
    #bottom-features
      margin-bottom: 24px
      padding-left: 0
      padding-right: 0
      h2
        font-size: 36px
        font-weight: 500
        padding-top: 120px
        margin-bottom: 40px
      #cards
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: center
        &>div
          margin-bottom: 36px
          .block
            padding: 40px
            float: left
            text-align: center
            width: 100%
            height: 100%
            background: #fff
            border-radius: 24px
            box-shadow: 0 4px 16px 0 rgba(0,0,0,0.12)
            display: unset
            div
              width: 100%
              .title
                text-align: center
                color: #1F8B4D
                margin-bottom: 6px
                line-height: 33px
              p
                text-align: left
                margin-top: 10px
                line-height: 32px
            img
              height: fit-content
              margin: 0 0 18px
        .col-lg-6:first-child
          .block
            img
              width: 48px
              filter: brightness(0) saturate(100%) invert(39%) sepia(74%) saturate(382%) hue-rotate(93deg) brightness(96%) contrast(103%)

    #get-started
      padding-bottom: 150px
      main
        .row
          padding-top: 50px
          .container
            text-align: center
            .block
              h2
                margin-bottom: 48px
                line-height: 50px
                font-size: 42px
                color: #fff
              p
                margin-bottom: 24px
                color: rgba(255, 255, 255, 0.8)
              .arrow-top-right
                color: #1F8B4D
                &::after
                  filter: brightness(0) saturate(100%) invert(39%) sepia(49%) saturate(630%) hue-rotate(93deg) brightness(99%) contrast(92%)
                  right: 28px
              a
                width: 188px
                padding: 4px 24px 4px 24px
                line-height: 40px
                text-align: left
                font-weight: 500
                border-radius: 8px
                background-color: #fff !important
                color: #1F8B4D
                transition: 0.6s

    #news
      main
        max-width: 1500px
        margin-bottom: 24px
        h2
          font-size: 42px
          padding-bottom: 40px
          text-align: center
        #cards
          display: flex
          justify-content: center
          gap: 36px
          flex-wrap: wrap
          align-items: center
          &>div
            margin-bottom: 36px
            .block
              width: 100%
              height: 100%
              background: #fff
              border-radius: 24px
              box-shadow: 0 0 18px 0 #CECECE
              display: flex
              flex-direction: column
              gap: 24px
              justify-content: flex-start
              .content
                display: flex
                flex-direction: column
                gap: 24px
                padding: 0 24px 0 24px
                .tags
                  display: flex
                  flex-direction: row
                  gap: 10px
                  justify-content: flex-start
                  a
                    width: fit-content
                    background: #1F8B4D0F
                    padding: 5px 16px 6px 16px
                    border-radius: 6px
                    font-size: 16px
                    cursor: pointer
                    color: rgba(0, 0, 0, 0.87)
                .title
                  font-size: 24px
                  line-height: 32px
                  color: rgba(0, 0, 0, 0.87)
                  &:hover
                    color: #1F8B4D
                p
                  margin-top: 8px
                  margin-bottom: 16px
                  display: -webkit-box
                  -webkit-line-clamp: 2
                  -webkit-box-orient: vertical
                  overflow: hidden
                  text-overflow: ellipsis
              .image-container
                a
                  width: 100%
                  height: 100%
                img
                  height: fit-content
                  width: 100%
                  max-height: 260px
                  border-top-left-radius: 24px
                  border-top-right-radius: 24px
                  &:hover
                    background: rgba(0, 0, 0, 0.38)
            &.col-lg-6
              max-width: 670px !important

    #background
      z-index: -1
      position: absolute
      left: 50%
      div
        position: absolute
        width: 436px
        height: 90px
        &.main1
          top: 10px
          width: 2560px
          height: 2625px
          left: -1280px
          background-color: #00240F
        &.main2
          top: -30px
          width: 3000px
          height: 855px
          left: -1300px
        &.main3
          top: 60px
          width: 2760px
          height: 5100px
          left: -1380px
        &.main4
          top: 0
          width: 2560px
          height: 650px
          left: -1280px
          background-color: #00240F
        &.main5
          top: 10px
          width: 2560px
          height: 1850px
          left: -1280px
          background-color: #F2F8F4

  .header-animation
    max-width: 100%
    opacity: 0
    transform: translate3d(0, 45px, 0)
    animation-name: slideup-in
    animation-duration: 600ms
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94)
    animation-fill-mode: forwards

  .header-animation:nth-child(1)
    animation-delay: 0ms
  .header-animation:nth-child(2)
    animation-delay: 300ms
  .header-animation:nth-child(3)
    animation-delay: 600ms
  .header-animation:nth-child(4)
    animation-delay: 900ms
  .header-animation:nth-child(5)
    animation-delay: 1200ms

  @keyframes slideup-in
    from
      opacity: 0
      transform: translate3d(0, 45px, 0)
    to
      opacity: 1
      transform: translate3d(0, 0, 0)

  @media screen and (min-width: 600px)
    #tbmqContent
      #installation-options
        main
          .row
            padding-top: 0
      #middle-features
        main
          padding-top: 50px
      #get-started
        padding-bottom: 100px
        main
          .row
            padding-top: 150px
      #background
        div
          &.main2
            top: -50px
            height: 560px
          &.main3
            height: 3000px
          &.main4
            top: 60px
            height: 480px
  @media screen and (max-width: 500px)
    #tbmqContent
      #installation-options
        main
          .row
            .installation-options-img
              .options
                flex-wrap: wrap
  @media screen and (min-width: 960px)
    #hero
      #hero-content
        .tbmq-title
          font-size: 36px
          font-weight: 500
          line-height: 90px
        .tbmq-description
          font-weight: 500
          margin-top: 40px
          font-size: 20px
          line-height: 32px
          max-width: 80%
    #tbmqContent
      #top-features
        margin: 24px 0 24px
        #cards
          display: flex
          flex-direction: row
          flex-wrap: wrap
          padding: 0 40% 0 40%
          justify-content: center
          margin-right: -50%
          margin-left: -50%
          &>div
            margin-bottom: 36px
            &.col-lg-6
              padding: 0 18px
              margin: 18px
              max-width: 40% !important
            .block
              padding: 46px
              float: left
              width: 100%
              height: 100%
              background: #fff
              border-radius: 24px
              display: unset
              div
                width: 100%
                .title
                  margin-bottom: 6px
                  line-height: 33px
                p
                  margin-top: 10px
                  text-align: justify
              img
                height: fit-content
                margin: 0 0 18px
      #scenarios
        .scenarios-header
          padding-top: 230px
      #installation-options
        main
          .row
            padding-top: 40px
            flex-direction: column
      #middle-features
        main
          padding-top: 100px
      #bottom-features
        h2
          padding-top: 120px
        #cards
          flex-direction: row
          &>div
            .block
              padding: 40px
              display: flex
              flex-direction: row
              gap: 40px
              text-align: unset
              div
                .title
                  text-align: unset
      #get-started
        padding-bottom: 200px
      #background
        div
          &.main1
            top: 100px
            height: 3200px
          &.main2
            height: 500px
          &.main3
            top: 40px
            height: 2200px
          &.main4
            height: 450px
  @media screen and (min-width: 992px)
    .col-lg-6
      max-width: 100% !important
  @media screen and (min-width: 1025px)
    section
      main
        max-width: 1400px !important
  @media screen and (min-width: 1280px)
    #hero
      #hero-content
        .tbmq-title
          font-size: 64px
          font-weight: 500
          line-height: 90px
        .tbmq-description
          font-weight: 500
          font-size: 28px
          line-height: 32px
          max-width: 80%
    #tbmqContent
      #top-features
        #cards
          padding: 0 50% 0 50%
          &>div
            &.col-lg-6
              padding: 0
              max-width: 30% !important
      #scenarios
        .block
          flex-direction: row
          align-items: center
          .reverse-img
            order: unset
      #middle-features
        main
          padding-top: 100px
          .row
            flex-direction: row
            flex-wrap: nowrap
            &:nth-child(odd)
              .image-container
                order: 1 !important
      #bottom-features
        h2
          padding-top: 130px
          text-align: center
      #installation-options
        main
          .row
            flex-direction: row
            gap: 160px
            padding-top: 40px
      #news
        main
          #cards
            flex-direction: row
      #background
        div
          &.main1
            height: 1930px
          &.main2
            height: 479px
            top: 0
          &.main3
            height: 1600px
  @media screen and (min-width: 1920px)
    #hero
      #hero-content
        .tbmq-title
          line-height: 90px
          font-size: 64px
        .tbmq-description
          font-size: 28px
          margin-top: 40px
          margin-bottom: 40px
          line-height: 40px
          width: 65%
    #tbmqContent
      #middle-features
        main
          padding-top: 100px
      #bottom-features
        h2
          padding-top: 100px
          text-align: center
      #background
        div
          &.main1
            height: 2200px
          &.main3
            height: 1400px
  @media screen and (min-width: 2480px)
    #hero
      #hero-content
        .tbmq-description
          width: 55%
    #tbmqContent
      #background
        div
          &.main1
            width: 3000px
            left: -1440px